# MongoDB Examples

This notebook uses three different data sets:

* the UK Baby Names dataset introduced in my TMA01 Preparation Tutorial (available on Github: https://github.com/MaryGarvey/TM351/tree/main/TMA01_Preparation)
* JSON data from from the USA Government (pre-current 2025 administration)


These will be stored in two separate databases: babyNamesDB and politicsDB.

Activity 13.2 introduces *Seven Databases in Seven Weeks* (Redmond 2012)

The most common NoSQL databases introduced are:

- Riak	- key value
- Hbase	- wide column
- MongoDB	- document 
- CouchDB - document 
- Neo4j	- graph
- Redis	- key value

This notebook will look at the MongoDB NoSQL document database.

# UK Baby Names ðŸ‘¶ (1996-2021)

## Introduction (from the Kaggle Website)

<i>Baby name statistics are compiled from first names recorded when live births are registered in England and Wales as part of civil registration, a legal requirement.
The statistics are based only on live births which occurred in the calendar year, as there is no public register of stillbirths.</i>

<i>Babies born in England and Wales to women whose usual residence is outside England and Wales are included in the statistics for England and Wales as a whole, but excluded from any sub-division of England and Wales.
The statistics are based on the exact spelling of the name given on the birth certificate. Grouping names with similar pronunciation would change the rankings. Exact names are given so users can group if they wish.</i>

<i>The dataset contains records of around 16k boy names and 22k girl names.</i>

You can get further information and the datasets from: 
https://www.kaggle.com/datasets/johnsmith44/uk-baby-names-1996-2021

In [1]:
# Import the required libraries

import pymongo
import datetime
import collections
#import Object

import pandas as pd
# better for printing JSON data: p(retty)print
from pprint import pprint

# Print out the version of pymongo 
print (pymongo.version)

4.10.1

In [2]:
#SET DATABASE CONNECTION STRINGS
MONGOHOST='localhost'
MONGOPORT=27017
MONGOCONN='mongodb://{MONGOHOST}:{MONGOPORT}/'.format(MONGOHOST=MONGOHOST,MONGOPORT=MONGOPORT)

In [3]:
# MongoDB version
! mongod --version

db version v7.0.14
Build Info: {
    "version": "7.0.14",
    "gitVersion": "ce59cfc6a3c5e5c067dca0d30697edd68d4f5188",
    "openSSLVersion": "OpenSSL 3.0.14 4 Jun 2024",
    "modules": [],
    "allocator": "tcmalloc",
    "environment": {
        "distmod": "ubuntu2204",
        "distarch": "x86_64",
        "target_arch": "x86_64"
    }
}

In [4]:
client = pymongo.MongoClient(MONGOCONN)

In [5]:
# Drop the tutorial databases so we start with a clean sheet
# Unlike SQL, the command will not generate an error if it does not already exist
client.drop_database('babyNamesDB')
client.drop_database('politicsDB')
client.list_database_names()

['accidents', 'admin', 'bbc_db', 'config', 'local', 'phonesDB', 'twitterDB']

In [6]:
# Check the start and end of the file for any issues
!head data/UKGirlNames1996-2021.csv

Name,2021 Rank,2021 Count,2020 Rank,2020 Count,2019 Rank,2019 Count,2018 Rank,2018 Count,2017 Rank,2017 Count,2016 Rank,2016 Count,2015 Rank,2015 Count,2014 Rank,2014 Count,2013 Rank,2013 Count,2012 Rank,2012 Count,2011 Rank,2011 Count,2010 Rank,2010 Count,2009 Rank,2009 Count,2008 Rank,2008 Count,2007 Rank,2007 Count,2006 Rank,2006 Count,2005 Rank,2005 Count,2004 Rank,2004 Count,2003 Rank,2003 Count,2002 Rank,2002 Count,2001 Rank,2001 Count,2000 Rank,2000 Count,1999 Rank,1999 Count,1998 Rank,1998 Count,1997 Rank,1997 Count,1996 Rank,1996 Count
A'Idah,,,,,4686.0,4.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
A'Isha,5581.0,3.0,,,2458.0,10.0,,,4763.0,4.0,2757.0,9.0,2328.0,11.0,2659.0,9.0,4050.0,5.0,4171.0,5.0,4764.0,4.0,3533.0,6.0,3936.0,5.0,4524.0,4.0,2233.0,10.0,,,4798.0,3.0,3725.0,4.0,4373.0,3.0,,,2023.0,8.0,,,,,3142.0,4.0,,,,
A'Ishah,4634.0,4.0,,,,,,,5765.0,3.0,,,,,3160.0,7.0,5742.0,3.0,4171.0,5.0,5785.0,3.0,2589.0,9.0,,,4524.0,4.0,2895.0,7.0,5061.0,3.0,3382.0,5.0,2802.0,6.0,2727.0,6.0,2868.0,5.0,2023.0,8.0,3912.0,3.0,3225.0,4.0,3142.0,4.0,,,,
A'Niyah,,,,,,,,,,,5785.0,3.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Aa'Idah,4634.0,4.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Aa'Isha,,,,,,,,,,,,,,,,,,,5876.0,3.0,,,,,,,,,,,,,,,4598.0,3.0,,,,,,,,,,,,,,,,
Aa'Ishah,,,,,,,,,,,,,,,,,,,,,,,,,,,5545.0,3.0,4294.0,4.0,,,,,,,,,2868.0,5.0,,,,,3900.0,3.0,,,3824.0,3.0,,
Aabha,5581.0,3.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Aabida,5581.0,3.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

In [7]:
!tail data/UKGirlNames1996-2021.csv

Zyanna,,,5493.0,3.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Zyla,2711.0,9.0,3117.0,7.0,3541.0,6.0,5666.0,3.0,,,5785.0,3.0,5730.0,3.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Zylah,4634.0,4.0,5493.0,3.0,,,,,5765.0,3.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Zymal,,,,,,,,,5765.0,3.0,,,,,,,4739.0,4.0,,,,,,,,,2487.0,9.0,2627.0,8.0,,,,,,,,,,,,,,,,,,,,,,
Zynab,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,3900.0,3.0,,,,,,
Zynah,3961.0,5.0,,,,,,,4763.0,4.0,,,2705.0,9.0,5691.0,3.0,2887.0,8.0,4171.0,5.0,4764.0,4.0,5707.0,3.0,,,5545.0,3.0,,,,,,,,,,,,,,,,,,,,,,,,
Zyra,2341.0,11.0,2449.0,10.0,4001.0,5.0,2901.0,8.0,4063.0,5.0,,,4736.0,4.0,,,5742.0,3.0,5876.0,3.0,,,4688.0,4.0,,,5545.0,3.0,,,,,,,,,,,,,,,,,,,,,,,,
Zyrah,5581.0,3.0,4535.0,4.0,,,,,4763.0,4.0,4096.0,5.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Zysha,4634.0,4.0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Zyva,2711.0,9.0,2449.0,10.0,3541.0,6.0,3985.0,5.0,4063.0,5.0,,,5730.0,3.0,,,,,,,,,,,3936.0,5.0,5545.0,3.0,,,,,,,,,,,,,,,,,,,,,,,,

In [8]:
# babyNamesDB is a database that contains 2 collections (similar to tables)
db = client.babyNamesDB

There are two ways to import the CSV dataset.

- use the `mongoimport` command
- import into a dataframe as normal, then convert to a MongoDB collection

Both methods will be shown here for information.

1. Using mongoimport

In [9]:
# 1. using mongoimport
! mongoimport --db babyNamesDB --type=csv --headerline --file data/UKGirlNames1996-2021.csv --collection girls

2026-01-12T18:29:35.696+0000	connected to: mongodb://localhost/
2026-01-12T18:29:36.186+0000	21958 document(s) imported successfully. 0 document(s) failed to import.

In [10]:
! mongoimport --db babyNamesDB --type=csv --headerline --file data/UKBoyNames1996-2021.csv --collection boys

2026-01-12T18:29:36.325+0000	connected to: mongodb://localhost/
2026-01-12T18:29:36.714+0000	16777 document(s) imported successfully. 0 document(s) failed to import.

Code for importing via a data frame:
<pre>
# importing via a data frame
names_df = pd.read_csv("data/UKBoyNames1996-2021.csv")
db.boys.insert_many(names_df.to_dict('records'))
</pre>

In [11]:
# Check the database has been added (babyNamesDB)
client.list_database_names()

['accidents',
 'admin',
 'babyNamesDB',
 'bbc_db',
 'config',
 'local',
 'phonesDB',
 'twitterDB']

In [12]:
# and it contains the two collections
db.list_collection_names()

['girls', 'boys']

In [13]:
# setup variables for the two collections
boys = db.boys
girls = db.girls

In [14]:
# how many documents does each collection have:
print("Girls:\t{}".format(girls.count_documents({})))
print("Boys:\t{}".format(boys.count_documents({})))

Girls:	21958
Boys:	16777

The variables saves us having to use db.collectionName.function() in the queries, for example, you can use `girls.find()` instead of `db.girls.find()`. You can still use the longer format.

Just be careful if you swap databases in the same Notebook, as we do later, you could end up referencing a collection in the wrong database. Mongo will not warn you that this is an error, it just assumes it does not exist and will return nothing - a consequence of a schemaless database.

In [15]:
# Show one record - can be any one from the collection
girls.find_one()

{'_id': ObjectId('69653d8f0baad746d0f01fa3'),
 'Name': "A'Idah",
 '2021 Rank': '',
 '2021 Count': '',
 '2020 Rank': '',
 '2020 Count': '',
 '2019 Rank': 4686.0,
 '2019 Count': 4.0,
 '2018 Rank': '',
 '2018 Count': '',
 '2017 Rank': '',
 '2017 Count': '',
 '2016 Rank': '',
 '2016 Count': '',
 '2015 Rank': '',
 '2015 Count': '',
 '2014 Rank': '',
 '2014 Count': '',
 '2013 Rank': '',
 '2013 Count': '',
 '2012 Rank': '',
 '2012 Count': '',
 '2011 Rank': '',
 '2011 Count': '',
 '2010 Rank': '',
 '2010 Count': '',
 '2009 Rank': '',
 '2009 Count': '',
 '2008 Rank': '',
 '2008 Count': '',
 '2007 Rank': '',
 '2007 Count': '',
 '2006 Rank': '',
 '2006 Count': '',
 '2005 Rank': '',
 '2005 Count': '',
 '2004 Rank': '',
 '2004 Count': '',
 '2003 Rank': '',
 '2003 Count': '',
 '2002 Rank': '',
 '2002 Count': '',
 '2001 Rank': '',
 '2001 Count': '',
 '2000 Rank': '',
 '2000 Count': '',
 '1999 Rank': '',
 '1999 Count': '',
 '1998 Rank': '',
 '1998 Count': '',
 '1997 Rank': '',
 '1997 Count': '',
 '1996 Rank': '',
 '1996 Count': ''}

We can see there are a lot of missing values, which will be removed later.

# Querying

MongoDB data is stored in JSON format, which means it uses the format of: *{key: value}* for most things.

The *find()* function is the equivalent of the SQL SELECT statement.

Instead of a *WHERE* clause you need to provide a JSON string for what you want to find.

For example, the following is the equivalent of *SELECT * FROM girlsName WHERE name = 'Mary';*

In [16]:
girls.find({'Name': 'Mary'})

In [17]:
# Can specify a search criteria with find_one too (could be the only one)
girls.find_one({'Name': 'Mary-Beth'})

{'_id': ObjectId('69653d8f0baad746d0f05421'),
 'Name': 'Mary-Beth',
 '2021 Rank': '',
 '2021 Count': '',
 '2020 Rank': '',
 '2020 Count': '',
 '2019 Rank': '',
 '2019 Count': '',
 '2018 Rank': '',
 '2018 Count': '',
 '2017 Rank': '',
 '2017 Count': '',
 '2016 Rank': '',
 '2016 Count': '',
 '2015 Rank': '',
 '2015 Count': '',
 '2014 Rank': '',
 '2014 Count': '',
 '2013 Rank': '',
 '2013 Count': '',
 '2012 Rank': '',
 '2012 Count': '',
 '2011 Rank': 5785.0,
 '2011 Count': 3.0,
 '2010 Rank': '',
 '2010 Count': '',
 '2009 Rank': '',
 '2009 Count': '',
 '2008 Rank': '',
 '2008 Count': '',
 '2007 Rank': '',
 '2007 Count': '',
 '2006 Rank': '',
 '2006 Count': '',
 '2005 Rank': 3970.0,
 '2005 Count': 4.0,
 '2004 Rank': '',
 '2004 Count': '',
 '2003 Rank': 4373.0,
 '2003 Count': 3.0,
 '2002 Rank': 4137.0,
 '2002 Count': 3.0,
 '2001 Rank': '',
 '2001 Count': '',
 '2000 Rank': '',
 '2000 Count': '',
 '1999 Rank': 2444.0,
 '1999 Count': 6.0,
 '1998 Rank': '',
 '1998 Count': '',
 '1997 Rank': 2738.0,
 '1997 Count': 5.0,
 '1996 Rank': 3126.0,
 '1996 Count': 4.0}

The difference between `find()` and `find_one()` is that the former returns all the documents matching the criteria, whereas the latter returns just one of the documents, which can be used to the structure of the data. Do bear in mind, since MongoDB can store semi-structured data, different documents could have a different structure, unlike a relational database, where records in a table would all have the same structure.

To see what is returned in the cursor, lets create some functions to print the individual documents from the cursor.

In [18]:
# This means an iterator is needed to display the results
# using pretty print
def printDocs(documents):
    for doc in documents:
        pprint(doc)

# ordinary print
def printDoc(documents):
    for doc in documents:
        print(doc)

# ordinary print
def printDocValues(documents):
    for doc in documents:
        values = list(doc.values())
        print(values)

In [19]:
# find the Marys
docs = girls.find({'Name': 'Mary'})
printDoc(docs)

{'_id': ObjectId('69653d8f0baad746d0f0541a'), 'Name': 'Mary', '2021 Rank': 318.0, '2021 Count': 148.0, '2020 Rank': 291.0, '2020 Count': 160.0, '2019 Rank': 289.0, '2019 Count': 170.0, '2018 Rank': 259.0, '2018 Count': 189.0, '2017 Rank': 320.0, '2017 Count': 150.0, '2016 Rank': 250.0, '2016 Count': 204.0, '2015 Rank': 249.0, '2015 Count': 198.0, '2014 Rank': 225.0, '2014 Count': 229.0, '2013 Rank': 244.0, '2013 Count': 203.0, '2012 Rank': 241.0, '2012 Count': 209.0, '2011 Rank': 250.0, '2011 Count': 200.0, '2010 Rank': 213.0, '2010 Count': 237.0, '2009 Rank': 227.0, '2009 Count': 213.0, '2008 Rank': 179.0, '2008 Count': 292.0, '2007 Rank': 177.0, '2007 Count': 300.0, '2006 Rank': 170.0, '2006 Count': 310.0, '2005 Rank': 151.0, '2005 Count': 339.0, '2004 Rank': 164.0, '2004 Count': 325.0, '2003 Rank': 162.0, '2003 Count': 298.0, '2002 Rank': 146.0, '2002 Count': 310.0, '2001 Rank': 145.0, '2001 Count': 315.0, '2000 Rank': 146.0, '2000 Count': 313.0, '1999 Rank': 139.0, '1999 Count': 334.0, '1998 Rank': 133.0, '1998 Count': 350.0, '1997 Rank': 118.0, '1997 Count': 424.0, '1996 Rank': 122.0, '1996 Count': 380.0}

In [20]:
# alternatively use a dataframe to make it more like a relational table
# other approaches are to convert the Cursor to a list
# find the girls names in 2021 with a count more than 2000
pd.DataFrame(girls.find({"2021 Count" : {"$gt": 2000}}))

,_id,Name,2021 Rank,2021 Count,2020 Rank,2020 Count,2019 Rank,2019 Count,2018 Rank,2018 Count,...,2000 Rank,2000 Count,1999 Rank,1999 Count,1998 Rank,1998 Count,1997 Rank,1997 Count,1996 Rank,1996 Count
0,69653d8f0baad746d0f0251a,Amelia,2.0,3164.0,2.0,3319.0,2.0,3712.0,2.0,3941.0,...,35.0,1489.0,37.0,1511.0,48.0,1249.0,49.0,1145.0,63.0,929.0
1,69653d8f0baad746d0f02a19,Ava,4.0,2576.0,4.0,2679.0,4.0,2946.0,3.0,3110.0,...,291.0,129.0,429.0,70.0,530.0,51.0,500.0,55.0,753.0,30.0
2,69653d8f0baad746d0f03b57,Florence,8.0,2180.0,14.0,1963.0,15.0,2025.0,15.0,2062.0,...,163.0,274.0,166.0,268.0,177.0,244.0,175.0,257.0,194.0,228.0
3,69653d8f0baad746d0f03bc2,Freya,6.0,2187.0,12.0,1982.0,10.0,2264.0,18.0,1921.0,...,75.0,686.0,92.0,589.0,93.0,563.0,113.0,450.0,118.0,394.0
4,69653d8f0baad746d0f041b0,Isabella,13.0,2010.0,8.0,2052.0,6.0,2398.0,7.0,2369.0,...,64.0,796.0,57.0,883.0,90.0,594.0,107.0,470.0,106.0,441.0
5,69653d8f0baad746d0f041f5,Isla,3.0,2683.0,3.0,2749.0,3.0,2981.0,4.0,3046.0,...,297.0,125.0,286.0,124.0,369.0,87.0,380.0,84.0,382.0,87.0
6,69653d8f0baad746d0f0426e,Ivy,5.0,2245.0,6.0,2166.0,12.0,2158.0,14.0,2104.0,...,1033.0,20.0,1216.0,16.0,2165.0,7.0,1666.0,10.0,1222.0,15.0
7,69653d8f0baad746d0f04ecc,Lily,7.0,2182.0,7.0,2150.0,9.0,2285.0,13.0,2184.0,...,45.0,1124.0,53.0,1007.0,61.0,873.0,75.0,721.0,85.0,651.0
8,69653d8f0baad746d0f055d1,Mia,9.0,2168.0,5.0,2303.0,5.0,2500.0,6.0,2490.0,...,43.0,1149.0,54.0,980.0,75.0,721.0,89.0,583.0,116.0,397.0
9,69653d900baad746d0f05c6a,Olivia,1.0,3649.0,1.0,3640.0,1.0,4082.0,1.0,4598.0,...,8.0,4546.0,4.0,5250.0,16.0,3550.0,19.0,2789.0,24.0,2456.0
10,69653d900baad746d0f06310,Rosie,11.0,2028.0,9.0,2035.0,14.0,2036.0,26.0,1808.0,...,66.0,766.0,63.0,808.0,71.0,786.0,70.0,818.0,69.0,879.0
11,69653d900baad746d0f06b1e,Sophia,12.0,2019.0,10.0,2028.0,7.0,2332.0,8.0,2344.0,...,89.0,591.0,98.0,536.0,87.0,596.0,91.0,566.0,95.0,516.0
12,69653d900baad746d0f072a8,Willow,10.0,2067.0,12.0,1982.0,19.0,1995.0,20.0,1900.0,...,427.0,73.0,498.0,58.0,597.0,43.0,983.0,21.0,891.0,24.0

# Data Dictionary

One consequence of being schemaless, means there are no conventional data dictionary tables to check if the collection or document names exist. This means that it will not generate an error message if neither exist. Do note, the names are all case sensitive. 

Why will the following return no records?

In [21]:
girls.find_one({"Name" : "Fred"})

In [22]:
db.girls.find_one({"name" : "Susan"})

But it will generate an error message if it can not find the variables or functions:

In [23]:
Girls.find_one({"Name" : "Susan"})

NameError: name 'Girls' is not defined

In [24]:
girls.find_One({"Name" : "Susan"})

TypeError: 'Collection' object is not callable. If you meant to call the 'find_One' method on a 'Collection' object it is failing because no such method exists.

In [25]:
girls.find_One({"Name" : Susan})

NameError: name 'Susan' is not defined

In [26]:
girls.find_One({Name : "Susan"})

NameError: name 'Name' is not defined

In [27]:
# Lets find our girl
girls.find_one({"Name" : "Susan"})

{'_id': ObjectId('69653d900baad746d0f06c64'),
 'Name': 'Susan',
 '2021 Rank': 1692.0,
 '2021 Count': 17.0,
 '2020 Rank': 2042.0,
 '2020 Count': 13.0,
 '2019 Rank': 3151.0,
 '2019 Count': 7.0,
 '2018 Rank': 3518.0,
 '2018 Count': 6.0,
 '2017 Rank': 1512.0,
 '2017 Count': 21.0,
 '2016 Rank': 1525.0,
 '2016 Count': 21.0,
 '2015 Rank': 1601.0,
 '2015 Count': 19.0,
 '2014 Rank': 1882.0,
 '2014 Count': 15.0,
 '2013 Rank': 1433.0,
 '2013 Count': 22.0,
 '2012 Rank': 1130.0,
 '2012 Count': 30.0,
 '2011 Rank': 1043.0,
 '2011 Count': 33.0,
 '2010 Rank': 1257.0,
 '2010 Count': 25.0,
 '2009 Rank': 865.0,
 '2009 Count': 39.0,
 '2008 Rank': 878.0,
 '2008 Count': 37.0,
 '2007 Rank': 836.0,
 '2007 Count': 38.0,
 '2006 Rank': 770.0,
 '2006 Count': 40.0,
 '2005 Rank': 951.0,
 '2005 Count': 28.0,
 '2004 Rank': 883.0,
 '2004 Count': 30.0,
 '2003 Rank': 844.0,
 '2003 Count': 31.0,
 '2002 Rank': 761.0,
 '2002 Count': 33.0,
 '2001 Rank': 612.0,
 '2001 Count': 42.0,
 '2000 Rank': 582.0,
 '2000 Count': 46.0,
 '1999 Rank': 529.0,
 '1999 Count': 54.0,
 '1998 Rank': 571.0,
 '1998 Count': 47.0,
 '1997 Rank': 527.0,
 '1997 Count': 50.0,
 '1996 Rank': 397.0,
 '1996 Count': 82.0}

There may not be a data dictionary collection to query, but you can find the keys in a collection, which are similar to the column names in a relational database. Be aware though, that the structure can vary from document to document in a given collection.

In [28]:
girls.find_one().keys()

dict_keys(['_id', 'Name', '2021 Rank', '2021 Count', '2020 Rank', '2020 Count', '2019 Rank', '2019 Count', '2018 Rank', '2018 Count', '2017 Rank', '2017 Count', '2016 Rank', '2016 Count', '2015 Rank', '2015 Count', '2014 Rank', '2014 Count', '2013 Rank', '2013 Count', '2012 Rank', '2012 Count', '2011 Rank', '2011 Count', '2010 Rank', '2010 Count', '2009 Rank', '2009 Count', '2008 Rank', '2008 Count', '2007 Rank', '2007 Count', '2006 Rank', '2006 Count', '2005 Rank', '2005 Count', '2004 Rank', '2004 Count', '2003 Rank', '2003 Count', '2002 Rank', '2002 Count', '2001 Rank', '2001 Count', '2000 Rank', '2000 Count', '1999 Rank', '1999 Count', '1998 Rank', '1998 Count', '1997 Rank', '1997 Count', '1996 Rank', '1996 Count'])

As seen previously there are a lot of fields with no data. One good point for a NoSQL database is that every document does not have to have the same structure, so if the value is blank, there is no need to store the key.

For example, lets remove any records where the "2021 Rank" is null:

In [29]:
girls.update_many({"2021 Rank" : ""}, { "$unset": {"2021 Rank" : 1 }});

In [30]:
girls.find_one()

{'_id': ObjectId('69653d8f0baad746d0f01fa3'),
 'Name': "A'Idah",
 '2021 Count': '',
 '2020 Rank': '',
 '2020 Count': '',
 '2019 Rank': 4686.0,
 '2019 Count': 4.0,
 '2018 Rank': '',
 '2018 Count': '',
 '2017 Rank': '',
 '2017 Count': '',
 '2016 Rank': '',
 '2016 Count': '',
 '2015 Rank': '',
 '2015 Count': '',
 '2014 Rank': '',
 '2014 Count': '',
 '2013 Rank': '',
 '2013 Count': '',
 '2012 Rank': '',
 '2012 Count': '',
 '2011 Rank': '',
 '2011 Count': '',
 '2010 Rank': '',
 '2010 Count': '',
 '2009 Rank': '',
 '2009 Count': '',
 '2008 Rank': '',
 '2008 Count': '',
 '2007 Rank': '',
 '2007 Count': '',
 '2006 Rank': '',
 '2006 Count': '',
 '2005 Rank': '',
 '2005 Count': '',
 '2004 Rank': '',
 '2004 Count': '',
 '2003 Rank': '',
 '2003 Count': '',
 '2002 Rank': '',
 '2002 Count': '',
 '2001 Rank': '',
 '2001 Count': '',
 '2000 Rank': '',
 '2000 Count': '',
 '1999 Rank': '',
 '1999 Count': '',
 '1998 Rank': '',
 '1998 Count': '',
 '1997 Rank': '',
 '1997 Count': '',
 '1996 Rank': '',
 '1996 Count': ''}

Given the amount of empty keys, it would be tedious to remove each one separately, so lets find what keys each record has and then loop through removing any blanks.

Do note, `find_one()` could retrieve any record, if the data was semi-structured each document could have a different structure. In this case, the data came from a CSV file, so every document has the same structure.

In [31]:
keys = girls.find_one({}).keys()
keys

dict_keys(['_id', 'Name', '2021 Count', '2020 Rank', '2020 Count', '2019 Rank', '2019 Count', '2018 Rank', '2018 Count', '2017 Rank', '2017 Count', '2016 Rank', '2016 Count', '2015 Rank', '2015 Count', '2014 Rank', '2014 Count', '2013 Rank', '2013 Count', '2012 Rank', '2012 Count', '2011 Rank', '2011 Count', '2010 Rank', '2010 Count', '2009 Rank', '2009 Count', '2008 Rank', '2008 Count', '2007 Rank', '2007 Count', '2006 Rank', '2006 Count', '2005 Rank', '2005 Count', '2004 Rank', '2004 Count', '2003 Rank', '2003 Count', '2002 Rank', '2002 Count', '2001 Rank', '2001 Count', '2000 Rank', '2000 Count', '1999 Rank', '1999 Count', '1998 Rank', '1998 Count', '1997 Rank', '1997 Count', '1996 Rank', '1996 Count'])

In [32]:
for k in keys:
    girls.update_many({ k : ""}, { "$unset": { k : 1 }});

In [33]:
# note, the above has removed any empty keys, but the document will still exist
girls.find_one()

{'_id': ObjectId('69653d8f0baad746d0f01fa3'),
 'Name': "A'Idah",
 '2019 Rank': 4686.0,
 '2019 Count': 4.0}

In [34]:
# do the same to the boys names
keys = boys.find_one({}).keys()
for k in keys:
    boys.update_many({ k : ""}, { "$unset": { k : 1 }});

In [35]:
boys.find_one()

{'_id': ObjectId('69653d9068608592e95183bb'),
 'Name': 'A-Jay',
 '2021 Rank': 3451.0,
 '2021 Count': 5.0,
 '2020 Rank': 2960.0,
 '2020 Count': 6.0,
 '2018 Rank': 3011.0,
 '2018 Count': 6.0,
 '2017 Rank': 1923.0,
 '2017 Count': 12.0,
 '2016 Rank': 2335.0,
 '2016 Count': 9.0,
 '2015 Rank': 2707.0,
 '2015 Count': 7.0,
 '2014 Rank': 3895.0,
 '2014 Count': 4.0,
 '2013 Rank': 2403.0,
 '2013 Count': 8.0,
 '2012 Rank': 3416.0,
 '2012 Count': 5.0,
 '2011 Rank': 2613.0,
 '2011 Count': 7.0,
 '2010 Rank': 2629.0,
 '2010 Count': 7.0,
 '2009 Rank': 3744.0,
 '2009 Count': 4.0,
 '2008 Rank': 3158.0,
 '2008 Count': 5.0,
 '2007 Rank': 3095.0,
 '2007 Count': 5.0,
 '2006 Rank': 2870.0,
 '2006 Count': 5.0,
 '2005 Rank': 3849.0,
 '2005 Count': 3.0,
 '2004 Rank': 1878.0,
 '2004 Count': 8.0,
 '2002 Rank': 2636.0,
 '2002 Count': 4.0,
 '2001 Rank': 3134.0,
 '2001 Count': 3.0}

In [36]:
# The consequence of this is that the keys will be slightly different for the records that have more complete data
# one with sparse data
girls.find_one({"Name" : "Marvi"}).keys()

dict_keys(['_id', 'Name', '2000 Rank', '2000 Count'])

In [37]:
# one more complete:
girls.find_one({"Name" : "Martina"}).keys()

dict_keys(['_id', 'Name', '2021 Rank', '2021 Count', '2020 Rank', '2020 Count', '2019 Rank', '2019 Count', '2018 Rank', '2018 Count', '2017 Rank', '2017 Count', '2016 Rank', '2016 Count', '2015 Rank', '2015 Count', '2014 Rank', '2014 Count', '2013 Rank', '2013 Count', '2012 Rank', '2012 Count', '2011 Rank', '2011 Count', '2010 Rank', '2010 Count', '2009 Rank', '2009 Count', '2008 Rank', '2008 Count', '2007 Rank', '2007 Count', '2006 Rank', '2006 Count', '2005 Rank', '2005 Count', '2004 Rank', '2004 Count', '2003 Rank', '2003 Count', '2002 Rank', '2002 Count', '2001 Rank', '2001 Count', '2000 Rank', '2000 Count', '1999 Rank', '1999 Count', '1998 Rank', '1998 Count', '1997 Rank', '1997 Count', '1996 Rank', '1996 Count'])

In [38]:
# how many documents in the collection
db.girls.count_documents({})

21958

In [39]:
# can access via the index (starts at 0)
girls.find()[0]

{'_id': ObjectId('69653d8f0baad746d0f01fa3'),
 'Name': "A'Idah",
 '2019 Rank': 4686.0,
 '2019 Count': 4.0}

In [40]:
# second record
girls.find()[1]

{'_id': ObjectId('69653d8f0baad746d0f01fa4'),
 'Name': 'Aabida',
 '2021 Rank': 5581.0,
 '2021 Count': 3.0}

In [41]:
# Last one
len = girls.count_documents({})-1
girls.find()[len]

{'_id': ObjectId('69653d900baad746d0f07568'),
 'Name': 'Zuzu',
 '2017 Rank': 5765.0,
 '2017 Count': 3.0,
 '2006 Rank': 5061.0,
 '2006 Count': 3.0,
 '2003 Rank': 3594.0,
 '2003 Count': 4.0}

`count_documents()` can be used with queries to count the result, rather than listing them

In [42]:
girls.count_documents({"Name": "Mary"})

1

In [43]:
# how many documents have a count more than 1500 in 2021
girls.count_documents({"2021 Count": {"$gt" : 1500} })

25

# Part 15: Complex queries and analysis
# Aggregation Pipeline

More complex processing, including grouping, aggregation functions, and data renaming is achieved through MongoDBâ€™sÂ aggregation pipeline.

For example a query can involve several stages:
                                                
First stage: filter out documents that do not match some criterion<br>
Second stage: group those documents<br>
Third stage: select only groups that match another criterion<br>
Fourth stage: group summaries would then be returned to the client<br>

By building up a pipeline in stages, complex data processing tasks can be built from simple components.

![](images/pipeline.png)

![](images/pipeline_functions.png)

Further examples can be found in *Notebook 15.3 Introducing aggregation pipelines.*

The examples below and in the practical activities all use small data sets that can be used locally. With huge datasets, the processing may be spread over many computers for processing to aid speed. Data processing tools (such as the aggregation pipeline and MapReduce) keep the processing of data near that data itself, reducing the work required by the client and the amount of data to be moved across the network from server to client.

In [44]:
# Equivalent to SELECT COUNT(*) FROM girls;
# Need to group by an _id
pipeline = [
     {"$group": {"_id": 0, "Name": {"$sum": 1}}},
]

list(girls.aggregate(pipeline))

[{'_id': 0, 'Name': 21958}]

In [45]:
# SELECT Name, count(*) FROM girls LIMIT 50;
printDoc(db.girls.aggregate( [ { "$group" : { "_id" : "$Name", "count": {"$sum": 1} }},
                               {"$limit" : 50}] ))

{'_id': 'Gabbie', 'count': 1}
{'_id': 'Iris-Lily', 'count': 1}
{'_id': 'Toria', 'count': 1}
{'_id': 'Lok', 'count': 1}
{'_id': 'Caitlin-Jo', 'count': 1}
{'_id': 'Mahria', 'count': 1}
{'_id': 'Ajsi', 'count': 1}
{'_id': 'Kellen', 'count': 1}
{'_id': 'Grace-Marie', 'count': 1}
{'_id': 'Vania', 'count': 1}
{'_id': 'Ameleah', 'count': 1}
{'_id': 'Arshpreet', 'count': 1}
{'_id': 'Alizay', 'count': 1}
{'_id': 'Beata', 'count': 1}
{'_id': 'Amarah', 'count': 1}
{'_id': 'Ameila-Rose', 'count': 1}
{'_id': 'Nilia', 'count': 1}
{'_id': 'Javaria', 'count': 1}
{'_id': 'Kyoko', 'count': 1}
{'_id': 'Aylah-Rose', 'count': 1}
{'_id': 'Ronya', 'count': 1}
{'_id': 'Humma', 'count': 1}
{'_id': 'Shai', 'count': 1}
{'_id': 'Elley', 'count': 1}
{'_id': 'Zixuan', 'count': 1}
{'_id': 'Billie-Joe', 'count': 1}
{'_id': 'Anemona', 'count': 1}
{'_id': 'Evette', 'count': 1}
{'_id': 'Snit', 'count': 1}
{'_id': 'Heleena', 'count': 1}
{'_id': 'Emillie', 'count': 1}
{'_id': 'Fatimah-Zahrah', 'count': 1}
{'_id': 'Winnie-Grace', 'count': 1}
{'_id': 'Beauty', 'count': 1}
{'_id': 'Mahlia', 'count': 1}
{'_id': 'Deri', 'count': 1}
{'_id': 'Kali-Rose', 'count': 1}
{'_id': 'Summer-Jayne', 'count': 1}
{'_id': 'Annie-Mai', 'count': 1}
{'_id': 'Donata', 'count': 1}
{'_id': 'Nickeisha', 'count': 1}
{'_id': 'Shauna-Lea', 'count': 1}
{'_id': 'Kamaldeep', 'count': 1}
{'_id': 'Sariah', 'count': 1}
{'_id': 'Dorothy', 'count': 1}
{'_id': 'Nylah', 'count': 1}
{'_id': 'Roxana', 'count': 1}
{'_id': 'Shulamis', 'count': 1}
{'_id': 'Eshaal', 'count': 1}
{'_id': 'Tatenda', 'count': 1}

## Reshaping

To do statistics on this data we want to use information in the keys as values, e.g., extract the year from: `2020 Count`. In Tutorial 2 we did some processing to do this, so lets reuse the code to reshape our data better:

In [46]:
def updateFile(fileType):
    # remove missing data permanately
    filename = 'data/UK'+fileType+'Names1996-2021.csv'
    print("Importing: '"+filename+"'")
    names_df = pd.read_csv(filename)
    names_df = names_df.dropna(how='any')
    # unpivot the dataframe from a wide to long format
    namesUpd_df = pd.melt(names_df, id_vars="Name", value_name='Value')
    # split the two values in variable: year and the type (count or rank)
    namesUpd_df[['Year','Type']] = namesUpd_df['variable'].str.split(' ', expand = True)
    # convert year to a number
    namesUpd_df['Year'] = namesUpd_df['Year'].astype(str).astype(int)
    # the variable column is no longer needed
    namesUpd_df.drop('variable', axis=1, inplace=True)
    namesUpd_df.head()
    # add a gender field
    namesUpd_df["Gender"] = fileType
    # save the changes 
    namesUpd_df.to_csv('data/'+fileType+'Updated.csv', index=False)
    return namesUpd_df

In [47]:
# SELECT "2021 Count", count(*) FROM training ORDER BY "2021 Count" LIMIT 20;
printDoc(db.girls.aggregate( [ { "$group" : { "_id" : "$2021 Count", "count": {"$sum": 1} }},
                               { "$sort" : {"_id" : 1}},
                                {"$limit" : 20}
                             ] ))

{'_id': None, 'count': 14628}
{'_id': 3.0, 'count': 1750}
{'_id': 4.0, 'count': 947}
{'_id': 5.0, 'count': 673}
{'_id': 6.0, 'count': 442}
{'_id': 7.0, 'count': 327}
{'_id': 8.0, 'count': 250}
{'_id': 9.0, 'count': 231}
{'_id': 10.0, 'count': 212}
{'_id': 11.0, 'count': 158}
{'_id': 12.0, 'count': 140}
{'_id': 13.0, 'count': 128}
{'_id': 14.0, 'count': 111}
{'_id': 15.0, 'count': 96}
{'_id': 16.0, 'count': 81}
{'_id': 17.0, 'count': 93}
{'_id': 18.0, 'count': 64}
{'_id': 19.0, 'count': 59}
{'_id': 20.0, 'count': 64}
{'_id': 21.0, 'count': 51}

Update the two files to remove the blanks and unpivot the data.

Let's also keep both files in one collection, so will add a "Gender" field so we know which gender the name belongs to.

In [48]:
boys_df = updateFile("Boy")
boys_df.head()

Importing: 'data/UKBoyNames1996-2021.csv'

    Name   Value  Year  Type Gender
0  Aadam   457.0  2021  Rank    Boy
1  Aadil  1448.0  2021  Rank    Boy
2  Aamir  2301.0  2021  Rank    Boy
3  Aaran  1860.0  2021  Rank    Boy
4  Aaron   119.0  2021  Rank    Boy

In [49]:
girls_df = updateFile("Girl")
girls_df.head()

Importing: 'data/UKGirlNames1996-2021.csv'

      Name   Value  Year  Type Gender
0   Aaisha  1569.0  2021  Rank   Girl
1  Aaishah  2942.0  2021  Rank   Girl
2   Aaliya  1402.0  2021  Rank   Girl
3  Aaliyah   132.0  2021  Rank   Girl
4   Aamina  1785.0  2021  Rank   Girl

In [50]:
# check CSV files have been created
!ls data/*.csv

data/BoyUpdated.csv   data/UKBoyNames1996-2021.csv   data/WHO_TB_data.csv
data/GirlUpdated.csv  data/UKGirlNames1996-2021.csv

In [51]:
# use mongoimport to import the updates
!mongoimport --db babyNamesDB --type=csv --headerline --file data/GirlUpdated.csv --collection namesUpdate
!mongoimport --db babyNamesDB --type=csv --headerline --file data/BoyUpdated.csv --collection namesUpdate

2026-01-12T18:30:10.750+0000	connected to: mongodb://localhost/
2026-01-12T18:30:11.247+0000	77896 document(s) imported successfully. 0 document(s) failed to import.
2026-01-12T18:30:11.364+0000	connected to: mongodb://localhost/
2026-01-12T18:30:11.875+0000	72124 document(s) imported successfully. 0 document(s) failed to import.

In [52]:
# check they are now in the baby names database (babyNamesDB)
db.list_collection_names()

['namesUpdate', 'girls', 'boys']

In [53]:
db.namesUpdate.find_one()

{'_id': ObjectId('69653db2e4bcc92ae27766c8'),
 'Name': 'Aaisha',
 'Value': 1569.0,
 'Year': 2021,
 'Type': 'Rank',
 'Gender': 'Girl'}

In [54]:
# how many documents does each collection have:
print("Girls: \t\t{}".format(girls.count_documents({})))
print("Girls Update: \t{}".format(db.namesUpdate.count_documents({"Gender": "Girl"})))
print("Boys: \t\t{}".format(boys.count_documents({})))
print("Boys Update: \t{}".format(db.namesUpdate.count_documents({"Gender": "Boy"})))

Girls: 		21958
Girls Update: 	77896
Boys: 		16777
Boys Update: 	72124

In [55]:
# SELECT Year, count(*) as count FROM namesUpdate;
printDoc(db.namesUpdate.aggregate( [ 
    { "$group" : { "_id" : "$Year", "count": {"$sum": 1} }},
    ] ))

{'_id': 2014, 'count': 5770}
{'_id': 2003, 'count': 5770}
{'_id': 1999, 'count': 5770}
{'_id': 2013, 'count': 5770}
{'_id': 1998, 'count': 5770}
{'_id': 2006, 'count': 5770}
{'_id': 2005, 'count': 5770}
{'_id': 2018, 'count': 5770}
{'_id': 2001, 'count': 5770}
{'_id': 2020, 'count': 5770}
{'_id': 2000, 'count': 5770}
{'_id': 2015, 'count': 5770}
{'_id': 2017, 'count': 5770}
{'_id': 2010, 'count': 5770}
{'_id': 2002, 'count': 5770}
{'_id': 2019, 'count': 5770}
{'_id': 1997, 'count': 5770}
{'_id': 2012, 'count': 5770}
{'_id': 2021, 'count': 5770}
{'_id': 1996, 'count': 5770}
{'_id': 2009, 'count': 5770}
{'_id': 2008, 'count': 5770}
{'_id': 2004, 'count': 5770}
{'_id': 2016, 'count': 5770}
{'_id': 2007, 'count': 5770}
{'_id': 2011, 'count': 5770}

In [56]:
# SELECT Year, sum() as "Sum of Values" FROM namesUpdate GROUP BY Year ORDER BY Year (_id) descending;
printDoc(db.namesUpdate.aggregate( [ { "$group" : { "_id" : "$Year", "Sum of values": {"$sum": "$Value"}}},
                                                 { "$sort" : {"_id" : -1}}  
                                     ] ))

{'_id': 2021, 'Sum of values': 4484454.0}
{'_id': 2020, 'Sum of values': 4326296.0}
{'_id': 2019, 'Sum of values': 4242305.0}
{'_id': 2018, 'Sum of values': 4097775.0}
{'_id': 2017, 'Sum of values': 4010175.0}
{'_id': 2016, 'Sum of values': 3945549.0}
{'_id': 2015, 'Sum of values': 3862790.0}
{'_id': 2014, 'Sum of values': 3758010.0}
{'_id': 2013, 'Sum of values': 3709197.0}
{'_id': 2012, 'Sum of values': 3650358.0}
{'_id': 2011, 'Sum of values': 3596210.0}
{'_id': 2010, 'Sum of values': 3528470.0}
{'_id': 2009, 'Sum of values': 3425876.0}
{'_id': 2008, 'Sum of values': 3399294.0}
{'_id': 2007, 'Sum of values': 3322128.0}
{'_id': 2006, 'Sum of values': 3276744.0}
{'_id': 2005, 'Sum of values': 3210746.0}
{'_id': 2004, 'Sum of values': 3216501.0}
{'_id': 2003, 'Sum of values': 3205482.0}
{'_id': 2002, 'Sum of values': 3206279.0}
{'_id': 2001, 'Sum of values': 3209147.0}
{'_id': 2000, 'Sum of values': 3258815.0}
{'_id': 1999, 'Sum of values': 3316023.0}
{'_id': 1998, 'Sum of values': 3423627.0}
{'_id': 1997, 'Sum of values': 3507362.0}
{'_id': 1996, 'Sum of values': 3617333.0}

In [57]:
# SELECT Name, avg(value) as "Average Rank" FROM namesUpdate WHERE Type = 'Rank' and Gender = 'Girl' ORDER BY "Average Rank" LIMIT 50;
# This pipeline involves 3 stages: $match, $group and $sort
# Round the average value to 2 decimal places
printDoc(db.namesUpdate.aggregate( [ { "$match" : {"Type": "Rank", "Gender": "Girl"} },
                                     { "$group" : { "_id" : "$Name", "Average": {"$avg": "$Value"} }},
                                     { "$sort" : {"Average Rank" : 1}},
                                     { "$limit" : 50},
                                     { "$project" : 
                                          { "Average Rank": { "$trunc": [ "$Average", 2 ] } } }
                                     ] ))

{'_id': 'Dorothy', 'Average Rank': 720.53}
{'_id': 'Clare', 'Average Rank': 1870.07}
{'_id': 'Alannah', 'Average Rank': 472.84}
{'_id': 'Eleana', 'Average Rank': 2810.53}
{'_id': 'Marian', 'Average Rank': 2699.65}
{'_id': 'Samia', 'Average Rank': 1179.76}
{'_id': 'Bronte', 'Average Rank': 846.15}
{'_id': 'Amarah', 'Average Rank': 1341.15}
{'_id': 'Phoebe', 'Average Rank': 32.15}
{'_id': 'Chiara', 'Average Rank': 659.53}
{'_id': 'Niamh', 'Average Rank': 84.23}
{'_id': 'Poppy', 'Average Rank': 38.84}
{'_id': 'Keisha', 'Average Rank': 1264.19}
{'_id': 'Kathryn', 'Average Rank': 561.92}
{'_id': 'Paula', 'Average Rank': 909.11}
{'_id': 'Roxana', 'Average Rank': 1957.69}
{'_id': 'Stephanie', 'Average Rank': 263.76}
{'_id': 'Ariane', 'Average Rank': 2091.5}
{'_id': 'Safah', 'Average Rank': 1355.46}
{'_id': 'Marianna', 'Average Rank': 1265.15}
{'_id': 'Eleanor', 'Average Rank': 43.26}
{'_id': 'Rochelle', 'Average Rank': 1428.26}
{'_id': 'Lia', 'Average Rank': 438.42}
{'_id': 'Amelie', 'Average Rank': 459.84}
{'_id': 'Jasleen', 'Average Rank': 1125.61}
{'_id': 'Lydia', 'Average Rank': 89.92}
{'_id': 'Blossom', 'Average Rank': 1394.61}
{'_id': 'Kayleigh', 'Average Rank': 394.03}
{'_id': 'Elinor', 'Average Rank': 756.8}
{'_id': 'Dina', 'Average Rank': 977.65}
{'_id': 'Gabriella', 'Average Rank': 139.07}
{'_id': 'Mara', 'Average Rank': 1196.42}
{'_id': 'Natasha', 'Average Rank': 253.92}
{'_id': 'Najma', 'Average Rank': 1528.84}
{'_id': 'Mariya', 'Average Rank': 794.38}
{'_id': 'Savannah', 'Average Rank': 175.84}
{'_id': 'Adina', 'Average Rank': 1530.61}
{'_id': 'Ronni', 'Average Rank': 2064.5}
{'_id': 'Trudy', 'Average Rank': 2691.88}
{'_id': 'Erica', 'Average Rank': 374.65}
{'_id': 'Nimrah', 'Average Rank': 1883.76}
{'_id': 'Zaynah', 'Average Rank': 693.15}
{'_id': 'Madina', 'Average Rank': 1635.57}
{'_id': 'Zehra', 'Average Rank': 1868.38}
{'_id': 'Armani', 'Average Rank': 1660.26}
{'_id': 'Hawa', 'Average Rank': 1121.88}
{'_id': 'Ania', 'Average Rank': 1636.53}
{'_id': 'Ocean', 'Average Rank': 717.07}
{'_id': 'Diana', 'Average Rank': 421.0}
{'_id': 'Emmi', 'Average Rank': 1851.84}

# Semi-Structured data

The Baby Names dataset is an example of structured data, in that it is very uniform, with the same data types in each column.

The power of NoSQL databases is in copying semi-structured data, such as JSON data, where the values may not be straightforward strings and numbers, but could be nested documents.

## USA Government data

A lot of publicly available data is in JSON format, for example, government agencies:

- https://catalog.data.gov/dataset?res_format=JSON

- https://github.com/jdorfman/awesome-json-datasets#government

Below uses the USA government politician datasets found in the last link.

- Current US Senators: roles.json
- Current US Representatives: role-reps.json

Plus a list of USA States and abbreviations:
- states_titlecase.json

found here: https://gist.github.com/mshafrir/2646763

All downloaded: 09/01/2024 - before the changes from the 2024 USA elections!

The USA government data is public domain, provided under the `CC0 1.0 Universal` licence: https://creativecommons.org/publicdomain/zero/1.0/

In [58]:
# lets have a look at the data
!head data/role.json

{
 "meta": {
  "limit": 100,
  "offset": 0,
  "total_count": 100
 },
 "objects": [
  {
   "caucus": null,
   "congress_numbers": [

In [59]:
!tail data/role.json

   "senator_rank": "junior",
   "senator_rank_label": "Junior",
   "startdate": "2023-10-03",
   "state": "CA",
   "title": "Sen.",
   "title_long": "Senator",
   "website": "https://www.butler.senate.gov"
  }
 ]
}

In [60]:
! head data/role-reps.json

{
 "meta": {
  "limit": 438,
  "offset": 0,
  "total_count": 439
 },
 "objects": [
  {
   "caucus": null,
   "congress_numbers": [

In [61]:
!tail data/role-reps.json

   "senator_class": null,
   "senator_rank": null,
   "startdate": "2023-11-07",
   "state": "RI",
   "title": "Rep.",
   "title_long": "Representative",
   "website": ""
  }
 ]
}

In [62]:
# note, this file was amended to remove the commas between each document (otherwise would not import)
!head data/states_titlecase.json

{
"name": "Alabama",
"abbreviation": "AL"
}
{
"name": "Alaska",
"abbreviation": "AK"
}
{
"name": "American Samoa",

In [63]:
!tail data/states_titlecase.json

"abbreviation": "WV"
}
{
"name": "Wisconsin",
"abbreviation": "WI"
}
{
"name": "Wyoming",
"abbreviation": "WY"
}

The politicians data looks to be in JSON format and appear to have some meta data at the start.

In [64]:
client.drop_database('politicsDB')

In [65]:
! mongoimport --db politicsDB --type=json --file data/role.json  --collection senators
! mongoimport --db politicsDB --type=json --file data/role-reps.json --collection reps
! mongoimport --db politicsDB --type=json --file data/states_titlecase.json --collection states

2026-01-12T18:30:12.976+0000	connected to: mongodb://localhost/
2026-01-12T18:30:13.003+0000	1 document(s) imported successfully. 0 document(s) failed to import.
2026-01-12T18:30:13.121+0000	connected to: mongodb://localhost/
2026-01-12T18:30:13.161+0000	1 document(s) imported successfully. 0 document(s) failed to import.
2026-01-12T18:30:13.284+0000	connected to: mongodb://localhost/
2026-01-12T18:30:13.299+0000	59 document(s) imported successfully. 0 document(s) failed to import.

In [66]:
# Change database
db = client.politicsDB
senators = db.senators
reps = db.reps
states = db.states

In [67]:
states.find_one()

{'_id': ObjectId('69653db56dfcaa33631507d0'),
 'name': 'Kansas',
 'abbreviation': 'KS'}

The politician details have nested documents, where a document (or array) is nested within other information. This is an example of semi-structured data.

The dot syntax can be used to search nested documents. For example, a snippet of information from the senators information for the person sub-document, shows what keys are available within it: 

<pre>
person': {'bioguideid': 'A000055',
    'birthday': '1965-07-22',
    'cspanid': 45516,
    'fediverse_webfinger': None,
    'firstname': 'Robert',
    'gender': 'male',
    'gender_label': 'Male',
    'lastname': 'Aderholt',
    'link': 'https://www.govtrack.us/congress/members/robert_aderholt/400004',
    'middlename': 'B.',
    'name': 'Rep. Robert Aderholt [R-AL4]',
    'namemod': '',
    'nickname': '',
    'osid': 'N00003028',
    'pvsid': None,
    'sortname': 'Aderholt, Robert (Rep.) [R-AL4]',
    'twitterid': 'Robert_Aderholt',
    'youtubeid': 'RobertAderholt'},
</pre>

There is an issue in that the way the data has been provided, all the politicians have been stored in one document, rather than one document per politician.

For example, 
<pre>
senators.find_one()
</pre>

This will show all the politicians, which is not very helpful when there are lots of them. Really this data could do with some cleaning first, so that each politician is stored in a separate document. This is beyond the scope of what you need to do with JSON data for TM351, so something for another day....

Being stored in just one document also causes issues when querying the data. If query returns true, then all the data in that document is returned! For example, try this to see just one of the politicians (uncomment below):

<pre>
reps.find_one({"objects.person.bioguideid": 'A000055' })
</pre>

In [68]:
#reps.find_one({"objects.person.bioguideid": 'A000055' })

To extract items from the array requires the use of the `$unwind` operator.

For example, display the first and last names of 50 politicians, suppressing the generated id:

In [69]:
docs = reps.aggregate([{"$project" : {"_id": 0, "objects.person.firstname" : 1, "objects.person.lastname" : 1}},
                        {"$unwind":"$objects"},
                        {"$limit": 50}]) 
printDoc(docs)

{'objects': {'person': {'firstname': 'Robert', 'lastname': 'Aderholt'}}}
{'objects': {'person': {'firstname': 'Gus', 'lastname': 'Bilirakis'}}}
{'objects': {'person': {'firstname': 'Sanford', 'lastname': 'Bishop'}}}
{'objects': {'person': {'firstname': 'Earl', 'lastname': 'Blumenauer'}}}
{'objects': {'person': {'firstname': 'Vern', 'lastname': 'Buchanan'}}}
{'objects': {'person': {'firstname': 'Larry', 'lastname': 'Bucshon'}}}
{'objects': {'person': {'firstname': 'Michael', 'lastname': 'Burgess'}}}
{'objects': {'person': {'firstname': 'Ken', 'lastname': 'Calvert'}}}
{'objects': {'person': {'firstname': 'AndrÃ©', 'lastname': 'Carson'}}}
{'objects': {'person': {'firstname': 'John', 'lastname': 'Carter'}}}
{'objects': {'person': {'firstname': 'Kathy', 'lastname': 'Castor'}}}
{'objects': {'person': {'firstname': 'Judy', 'lastname': 'Chu'}}}
{'objects': {'person': {'firstname': 'Yvette', 'lastname': 'Clarke'}}}
{'objects': {'person': {'firstname': 'Emanuel', 'lastname': 'Cleaver'}}}
{'objects': {'person': {'firstname': 'James', 'lastname': 'Clyburn'}}}
{'objects': {'person': {'firstname': 'Steve', 'lastname': 'Cohen'}}}
{'objects': {'person': {'firstname': 'Tom', 'lastname': 'Cole'}}}
{'objects': {'person': {'firstname': 'Gerald', 'lastname': 'Connolly'}}}
{'objects': {'person': {'firstname': 'Jim', 'lastname': 'Costa'}}}
{'objects': {'person': {'firstname': 'Joe', 'lastname': 'Courtney'}}}
{'objects': {'person': {'firstname': 'Eric', 'lastname': 'Crawford'}}}
{'objects': {'person': {'firstname': 'Henry', 'lastname': 'Cuellar'}}}
{'objects': {'person': {'firstname': 'Danny', 'lastname': 'Davis'}}}
{'objects': {'person': {'firstname': 'Diana', 'lastname': 'DeGette'}}}
{'objects': {'person': {'firstname': 'Rosa', 'lastname': 'DeLauro'}}}
{'objects': {'person': {'firstname': 'Scott', 'lastname': 'DesJarlais'}}}
{'objects': {'person': {'firstname': 'Mario', 'lastname': 'Diaz-Balart'}}}
{'objects': {'person': {'firstname': 'Lloyd', 'lastname': 'Doggett'}}}
{'objects': {'person': {'firstname': 'Jeff', 'lastname': 'Duncan'}}}
{'objects': {'person': {'firstname': 'Anna', 'lastname': 'Eshoo'}}}
{'objects': {'person': {'firstname': 'Charles', 'lastname': 'Fleischmann'}}}
{'objects': {'person': {'firstname': 'Virginia', 'lastname': 'Foxx'}}}
{'objects': {'person': {'firstname': 'John', 'lastname': 'Garamendi'}}}
{'objects': {'person': {'firstname': 'Paul', 'lastname': 'Gosar'}}}
{'objects': {'person': {'firstname': 'Kay', 'lastname': 'Granger'}}}
{'objects': {'person': {'firstname': 'Sam', 'lastname': 'Graves'}}}
{'objects': {'person': {'firstname': 'Al', 'lastname': 'Green'}}}
{'objects': {'person': {'firstname': 'H.', 'lastname': 'Griffith'}}}
{'objects': {'person': {'firstname': 'RaÃºl', 'lastname': 'Grijalva'}}}
{'objects': {'person': {'firstname': 'Brett', 'lastname': 'Guthrie'}}}
{'objects': {'person': {'firstname': 'Andy', 'lastname': 'Harris'}}}
{'objects': {'person': {'firstname': 'Brian', 'lastname': 'Higgins'}}}
{'objects': {'person': {'firstname': 'James', 'lastname': 'Himes'}}}
{'objects': {'person': {'firstname': 'Steny', 'lastname': 'Hoyer'}}}
{'objects': {'person': {'firstname': 'Bill', 'lastname': 'Huizenga'}}}
{'objects': {'person': {'firstname': 'Sheila', 'lastname': 'Jackson Lee'}}}
{'objects': {'person': {'firstname': 'Bill', 'lastname': 'Johnson'}}}
{'objects': {'person': {'firstname': 'Henry', 'lastname': 'Johnson'}}}
{'objects': {'person': {'firstname': 'Jim', 'lastname': 'Jordan'}}}
{'objects': {'person': {'firstname': 'Marcy', 'lastname': 'Kaptur'}}}

To extract one particular politician:

In [70]:
docs = reps.aggregate([{"$project" : {"_id": 0, "objects.person.firstname" : 1, "objects.person.lastname": 1,
                                     "objects.person.bioguideid":1}},
                       {"$unwind":"$objects"},
                       {"$match": { "objects.person.bioguideid": 'A000055' }}
                         ])
printDocs(docs)

{'objects': {'person': {'bioguideid': 'A000055',
                        'firstname': 'Robert',
                        'lastname': 'Aderholt'}}}

Do make sure the pipeline is in the right order, if the match is done too soon it will again return all the representatives if the query criteria is matched.

If you tried this you will see all the data returned:

<pre>
docs = reps.aggregate([{"$project" : {"_id": 0, 
            "objects.person.firstname" : 1, 
            "objects.person.lastname": 1,
            "objects.person.bioguideid":1}},
        {"$match": { "objects.person.bioguideid": 'A000055' }}, 
        {"$unwind":"$objects"}
])
printDocValues(docs)
</pre>

See the discussion on duplicating the $match here:
https://stackoverflow.com/questions/54030089/how-to-use-unwind-and-match-with-mongodb

In [71]:
# retriving just A000055
docs = reps.aggregate([{"$project" : {"_id": 0, "objects.person.firstname" : 1, "objects.person.lastname": 1,
                                     "objects.person.bioguideid":1}},
                       {"$match": { "objects.person.bioguideid": 'A000055' }}, 
                       {"$unwind":"$objects"},
                       {"$match": { "objects.person.bioguideid": 'A000055' }}
                         ])
printDocs(docs)

{'objects': {'person': {'bioguideid': 'A000055',
                        'firstname': 'Robert',
                        'lastname': 'Aderholt'}}}

In [72]:
# show all the person details, which needs a duplicate $match 
docs = reps.aggregate([{"$project" : {"_id": 0, "objects.person" : 1}},
                       {"$match": { "objects.person.bioguideid": 'A000055' }}, 
                       {"$unwind":"$objects"},
                       {"$match": { "objects.person.bioguideid": 'A000055' }}
                      ])
printDocs(docs)

{'objects': {'person': {'bioguideid': 'A000055',
                        'birthday': '1965-07-22',
                        'cspanid': 45516,
                        'fediverse_webfinger': None,
                        'firstname': 'Robert',
                        'gender': 'male',
                        'gender_label': 'Male',
                        'lastname': 'Aderholt',
                        'link': 'https://www.govtrack.us/congress/members/robert_aderholt/400004',
                        'middlename': 'B.',
                        'name': 'Rep. Robert Aderholt [R-AL4]',
                        'namemod': '',
                        'nickname': '',
                        'osid': 'N00003028',
                        'pvsid': None,
                        'sortname': 'Aderholt, Robert (Rep.) [R-AL4]',
                        'twitterid': 'Robert_Aderholt',
                        'youtubeid': 'RobertAderholt'}}}

In [73]:
# though seems ok with just the one $match 
docs = reps.aggregate([{"$project" : {"_id": 0, "objects.person" : 1}},
                       {"$unwind":"$objects"},
                       {"$match": { "objects.person.bioguideid": 'A000055' }}
                      ])
printDocs(docs)

{'objects': {'person': {'bioguideid': 'A000055',
                        'birthday': '1965-07-22',
                        'cspanid': 45516,
                        'fediverse_webfinger': None,
                        'firstname': 'Robert',
                        'gender': 'male',
                        'gender_label': 'Male',
                        'lastname': 'Aderholt',
                        'link': 'https://www.govtrack.us/congress/members/robert_aderholt/400004',
                        'middlename': 'B.',
                        'name': 'Rep. Robert Aderholt [R-AL4]',
                        'namemod': '',
                        'nickname': '',
                        'osid': 'N00003028',
                        'pvsid': None,
                        'sortname': 'Aderholt, Robert (Rep.) [R-AL4]',
                        'twitterid': 'Robert_Aderholt',
                        'youtubeid': 'RobertAderholt'}}}

person is part of the details stored for each

In [74]:
# show all the details for this representative 
docs = reps.aggregate([{"$project" : {"_id": 0, "objects" : 1}},
                       {"$unwind":"$objects"},
                       {"$match": { "objects.person.bioguideid": 'A000055' }}
                      ])
printDocs(docs)

{'objects': {'caucus': None,
             'congress_numbers': [118],
             'current': True,
             'description': "Representative for Alabama's 4th congressional "
                            'district',
             'district': 4,
             'enddate': '2025-01-03',
             'extra': {'address': '266 Cannon House Office Building Washington '
                                  'DC 20515-0104',
                       'office': '266 Cannon House Office Building',
                       'rss_url': 'http://aderholt.house.gov/common/rss//index.cfm?rss=20'},
             'leadership_title': None,
             'party': 'Republican',
             'person': {'bioguideid': 'A000055',
                        'birthday': '1965-07-22',
                        'cspanid': 45516,
                        'fediverse_webfinger': None,
                        'firstname': 'Robert',
                        'gender': 'male',
                        'gender_label': 'Male',
                        'lastname': 'Aderholt',
                        'link': 'https://www.govtrack.us/congress/members/robert_aderholt/400004',
                        'middlename': 'B.',
                        'name': 'Rep. Robert Aderholt [R-AL4]',
                        'namemod': '',
                        'nickname': '',
                        'osid': 'N00003028',
                        'pvsid': None,
                        'sortname': 'Aderholt, Robert (Rep.) [R-AL4]',
                        'twitterid': 'Robert_Aderholt',
                        'youtubeid': 'RobertAderholt'},
             'phone': '202-225-4876',
             'role_type': 'representative',
             'role_type_label': 'Representative',
             'senator_class': None,
             'senator_rank': None,
             'startdate': '2023-01-03',
             'state': 'AL',
             'title': 'Rep.',
             'title_long': 'Representative',
             'website': 'https://aderholt.house.gov'}}

## Joins

At some point you may need to join two documents, which was not possible in earlier versions of MongoDB. Later versions introduced something similar to a simple left join using the pipeline `$lookup` operator ([Mongo docs](https://www.mongodb.com/docs/manual/reference/operator/aggregation/lookup/)).

MongoDB provides the joins as part of the aggregation steps.

In [75]:
# if you don't know your American states, join up the states collection
joined = reps.aggregate([
     {"$unwind":"$objects"},
     {"$lookup":
       {
         "from": "states",
         "localField": "objects.state",
         "foreignField": "abbreviation",
         "as": "stateInfo"
       }
  }
])

In [76]:
# This will generate a lot of data, so only uncomment if you want to see it all:
#printDocs(joined)

In [77]:
# Instead, lets just home in on our representative
joined = reps.aggregate([
     {"$unwind":"$objects"},
     {"$lookup":
       {
         "from": "states",
         "localField": "objects.state",
         "foreignField": "abbreviation",
         "as": "stateInfo"
       }},
       {"$match": { "objects.person.bioguideid": 'A000055' }}
])
printDocs(joined)

{'_id': ObjectId('69653db57ab402c2f787ec34'),
 'meta': {'limit': 438, 'offset': 0, 'total_count': 439},
 'objects': {'caucus': None,
             'congress_numbers': [118],
             'current': True,
             'description': "Representative for Alabama's 4th congressional "
                            'district',
             'district': 4,
             'enddate': '2025-01-03',
             'extra': {'address': '266 Cannon House Office Building Washington '
                                  'DC 20515-0104',
                       'office': '266 Cannon House Office Building',
                       'rss_url': 'http://aderholt.house.gov/common/rss//index.cfm?rss=20'},
             'leadership_title': None,
             'party': 'Republican',
             'person': {'bioguideid': 'A000055',
                        'birthday': '1965-07-22',
                        'cspanid': 45516,
                        'fediverse_webfinger': None,
                        'firstname': 'Robert',
                        'gender': 'male',
                        'gender_label': 'Male',
                        'lastname': 'Aderholt',
                        'link': 'https://www.govtrack.us/congress/members/robert_aderholt/400004',
                        'middlename': 'B.',
                        'name': 'Rep. Robert Aderholt [R-AL4]',
                        'namemod': '',
                        'nickname': '',
                        'osid': 'N00003028',
                        'pvsid': None,
                        'sortname': 'Aderholt, Robert (Rep.) [R-AL4]',
                        'twitterid': 'Robert_Aderholt',
                        'youtubeid': 'RobertAderholt'},
             'phone': '202-225-4876',
             'role_type': 'representative',
             'role_type_label': 'Representative',
             'senator_class': None,
             'senator_rank': None,
             'startdate': '2023-01-03',
             'state': 'AL',
             'title': 'Rep.',
             'title_long': 'Representative',
             'website': 'https://aderholt.house.gov'},
 'stateInfo': [{'_id': ObjectId('69653db56dfcaa33631507e6'),
                'abbreviation': 'AL',
                'name': 'Alabama'}]}

In [78]:
# the senator data is similarly structured, lets find any female senators
docs = senators.aggregate([{"$project" : {"_id": 0, "objects.person.firstname" : 1, "objects.person.lastname": 1,
                                     "objects.person.gender":1}},
                       {"$unwind":"$objects"},
                       {"$match": { "objects.person.gender": 'female' }}
                      ])
printDocValues(docs)

[{'person': {'firstname': 'Maria', 'gender': 'female', 'lastname': 'Cantwell'}}]
[{'person': {'firstname': 'Debbie', 'gender': 'female', 'lastname': 'Stabenow'}}]
[{'person': {'firstname': 'Tammy', 'gender': 'female', 'lastname': 'Baldwin'}}]
[{'person': {'firstname': 'Marsha', 'gender': 'female', 'lastname': 'Blackburn'}}]
[{'person': {'firstname': 'Mazie', 'gender': 'female', 'lastname': 'Hirono'}}]
[{'person': {'firstname': 'Kirsten', 'gender': 'female', 'lastname': 'Gillibrand'}}]
[{'person': {'firstname': 'Amy', 'gender': 'female', 'lastname': 'Klobuchar'}}]
[{'person': {'firstname': 'Kyrsten', 'gender': 'female', 'lastname': 'Sinema'}}]
[{'person': {'firstname': 'Elizabeth', 'gender': 'female', 'lastname': 'Warren'}}]
[{'person': {'firstname': 'Deb', 'gender': 'female', 'lastname': 'Fischer'}}]
[{'person': {'firstname': 'Jacky', 'gender': 'female', 'lastname': 'Rosen'}}]
[{'person': {'firstname': 'Susan', 'gender': 'female', 'lastname': 'Collins'}}]
[{'person': {'firstname': 'Jeanne', 'gender': 'female', 'lastname': 'Shaheen'}}]
[{'person': {'firstname': 'Shelley', 'gender': 'female', 'lastname': 'Capito'}}]
[{'person': {'firstname': 'Joni', 'gender': 'female', 'lastname': 'Ernst'}}]
[{'person': {'firstname': 'Tina', 'gender': 'female', 'lastname': 'Smith'}}]
[{'person': {'firstname': 'Cindy', 'gender': 'female', 'lastname': 'Hyde-Smith'}}]
[{'person': {'firstname': 'Cynthia', 'gender': 'female', 'lastname': 'Lummis'}}]
[{'person': {'firstname': 'Lisa', 'gender': 'female', 'lastname': 'Murkowski'}}]
[{'person': {'firstname': 'Patty', 'gender': 'female', 'lastname': 'Murray'}}]
[{'person': {'firstname': 'Tammy', 'gender': 'female', 'lastname': 'Duckworth'}}]
[{'person': {'firstname': 'Margaret', 'gender': 'female', 'lastname': 'Hassan'}}]
[{'person': {'firstname': 'Catherine', 'gender': 'female', 'lastname': 'Cortez Masto'}}]
[{'person': {'firstname': 'Katie', 'gender': 'female', 'lastname': 'Britt'}}]
[{'person': {'firstname': 'Laphonza', 'gender': 'female', 'lastname': 'Butler'}}]

In [79]:
# find the Senior Senator for Michigan

docs = senators.aggregate([{"$project" : {"_id": 0, "objects":1}},
                       {"$unwind":"$objects"},
                       {"$match": { "objects.description": "Senior Senator for Michigan"}}
                      ])
printDocs(docs)

{'objects': {'caucus': None,
             'congress_numbers': [116, 117, 118],
             'current': True,
             'description': 'Senior Senator for Michigan',
             'district': None,
             'enddate': '2025-01-03',
             'extra': {'address': '731 Hart Senate Office Building Washington '
                                  'DC 20510',
                       'contact_form': 'https://www.stabenow.senate.gov/contact',
                       'office': '731 Hart Senate Office Building',
                       'rss_url': 'http://stabenow.senate.gov/rss/?p=news'},
             'leadership_title': 'Senate Democratic Policy & Communications '
                                 'Committee Chair',
             'party': 'Democrat',
             'person': {'bioguideid': 'S000770',
                        'birthday': '1950-04-29',
                        'cspanid': 45451,
                        'fediverse_webfinger': None,
                        'firstname': 'Debbie',
                        'gender': 'female',
                        'gender_label': 'Female',
                        'lastname': 'Stabenow',
                        'link': 'https://www.govtrack.us/congress/members/debbie_stabenow/300093',
                        'middlename': 'Ann',
                        'name': 'Sen. Debbie Stabenow [D-MI]',
                        'namemod': '',
                        'nickname': '',
                        'osid': 'N00004118',
                        'pvsid': None,
                        'sortname': 'Stabenow, Debbie (Sen.) [D-MI]',
                        'twitterid': 'SenStabenow',
                        'youtubeid': 'senatorstabenow'},
             'phone': '202-224-4822',
             'role_type': 'senator',
             'role_type_label': 'Senator',
             'senator_class': 'class1',
             'senator_class_label': 'Class 1',
             'senator_rank': 'senior',
             'senator_rank_label': 'Senior',
             'startdate': '2019-01-03',
             'state': 'MI',
             'title': 'Sen.',
             'title_long': 'Senator',
             'website': 'https://www.stabenow.senate.gov'}}

In [80]:
# Finally remember, because there is no schema you can give an unknown field, which it will just ignore and not warn you!
docs = senators.aggregate([{"$project" : {"_id": 0, "objects":1}},
                       {"$unwind":"$objects"},
                       {"$match": { "objects.person.description": "Senior Senator for Michigan"}}
                      ])
printDocs(docs)

# Summary

This notebook give you a flavour of the document type of database management system. 

What are the differences between MongoDB and a relational database, such as PostgresSQL?

Some things to think about:

*Relational*
- relational has a fixed schema
- the data is normalised, with less duplication
- constraints can be enforced
- ACID transaction support (Atomic, Consistency, Isolation and Durability)

*NoSQL (Document)*
- flexible schema, optional data can be easily incorporated.
- can support agile development
- data is denormalised, so can mean more duplication
- constraints not enforced
- BASE transaction support (Basically Available, Soft state, Eventual consistency!)

Bear in mind that NoSQL is a relatively new technology, so can be seen as immature in that it does not provide good support for transaction handling, or access control, but could be argued that this is not the market it is aimed at.