# MongoDB Examples

This notebook uses the Titanic data introduced in the RelationalDB notebook, plus some Twitter data from #bbcnews generated on the 10/01/23.

Activity 13.2 introduces *Seven Databases in Seven Weeks* (Redmond 2012)

The most common NoSQL databases introduced are:

- Riak	- key value
- Hbase	- wide column
- MongoDB	- document 
- CouchDB - document 
- Neo4j	- graph
- Redis	- key value

This notebook will look at the MongoDB NoSQL document database.

In [1]:
# Import the required libraries

import pymongo
import datetime
import collections

import pandas as pd
# better for printing JSON data: p(retty)print
from pprint import pprint

# Print out the version of pymongo 
print (pymongo.version)

3.12.0

In [2]:
#SET DATABASE CONNECTION STRINGS
MONGOHOST='localhost'
MONGOPORT=27017
MONGOCONN='mongodb://{MONGOHOST}:{MONGOPORT}/'.format(MONGOHOST=MONGOHOST,MONGOPORT=MONGOPORT)

In [3]:
# MongoDB version
! mongod --version

db version v4.4.8
Build Info: {
    "version": "4.4.8",
    "gitVersion": "83b8bb8b6b325d8d8d3dfd2ad9f744bdad7d6ca0",
    "openSSLVersion": "OpenSSL 1.1.1f  31 Mar 2020",
    "modules": [],
    "allocator": "tcmalloc",
    "environment": {
        "distmod": "ubuntu2004",
        "distarch": "x86_64",
        "target_arch": "x86_64"
    }
}

In [4]:
client = pymongo.MongoClient(MONGOCONN)

In [5]:
# Drop the existing titanic database. Unlike SQL, the command will not generate an error if it does not already exist
client.drop_database('titanicDB')
client.list_database_names()

['accidents', 'admin', 'config', 'local', 'mongoExample', 'twitterDB']

Import the Titanic data

In [6]:
! mongoimport --db titanicDB --type=csv --headerline --file data/train.csv --collection training
! mongoimport --db titanicDB --type=csv --headerline --file data/test.csv --collection testset
! mongoimport --db titanicDB --type=csv --headerline --file data/gender_submission.csv --collection gender_submission

2023-01-12T20:51:26.977+0000	connected to: mongodb://localhost/
2023-01-12T20:51:27.000+0000	891 document(s) imported successfully. 0 document(s) failed to import.
2023-01-12T20:51:27.190+0000	connected to: mongodb://localhost/
2023-01-12T20:51:27.205+0000	418 document(s) imported successfully. 0 document(s) failed to import.
2023-01-12T20:51:27.393+0000	connected to: mongodb://localhost/
2023-01-12T20:51:27.405+0000	418 document(s) imported successfully. 0 document(s) failed to import.

In [7]:
# Check the database has been added
client.list_database_names()

['accidents',
 'admin',
 'config',
 'local',
 'mongoExample',
 'titanicDB',
 'twitterDB']

In [8]:
# titanicDB is a database that contains 3 collections (similar to tables)
db = client.titanicDB

# setup variables for the various collections
training = db.training
testset = db.testset
gender_submission = db.gender_submission

In [9]:
# Show one record - can be any one from the collection
training.find_one()

{'_id': ObjectId('63c072ce73246b274e3e29cd'),
 'PassengerId': 1,
 'Survived': 0,
 'Pclass': 3,
 'Name': 'Braund, Mr. Owen Harris',
 'Sex': 'male',
 'Age': 22,
 'SibSp': 1,
 'Parch': 0,
 'Ticket': 'A/5 21171',
 'Fare': 7.25,
 'Cabin': '',
 'Embarked': 'S'}

The variables saves us having to use db.collectionName.function() in the queries, but can still be used as seen below.

Just be careful if you swap databases in the same Notebook, as we do later, you could end up referencing a collection in the wrong database. Mongo will not warn you that this is an error, it just assumes it does not exist and will return nothing - a consequence of a schemaless database.

In [10]:
db.training.find_one()

{'_id': ObjectId('63c072ce73246b274e3e29cd'),
 'PassengerId': 1,
 'Survived': 0,
 'Pclass': 3,
 'Name': 'Braund, Mr. Owen Harris',
 'Sex': 'male',
 'Age': 22,
 'SibSp': 1,
 'Parch': 0,
 'Ticket': 'A/5 21171',
 'Fare': 7.25,
 'Cabin': '',
 'Embarked': 'S'}

In [11]:
testset.find_one()

{'_id': ObjectId('63c072cfabda8afc4c88d14a'),
 'PassengerId': 893,
 'Pclass': 3,
 'Name': 'Wilkes, Mrs. James (Ellen Needs)',
 'Sex': 'female',
 'Age': 47,
 'SibSp': 1,
 'Parch': 0,
 'Ticket': 363272,
 'Fare': 7,
 'Cabin': '',
 'Embarked': 'S'}

In [12]:
gender_submission.find_one()

{'_id': ObjectId('63c072cf47fc72847e329f70'),
 'PassengerId': 905,
 'Survived': 0}

# Querying

MongoDB data is stored in JSON format, which means it uses the format of: *{key: value}* for most things.

The *find()* function is the equivalent of the SQL SELECT statement.

Instead of a *WHERE* clause you need to provide a JSON string for what you want to find.

For example, the following is the equivalent of *SELECT * FROM training WHERE sex = 'male';*

In [13]:
# find() returns a Cursor instead of displaying the results (in Python)
training.find({"Sex" : "male"})

In [14]:
# create some functions to print the individual documents
# using pretty print
def printDocs(documents):
    for doc in documents:
        pprint(doc)

# ordinary print
def printDoc(documents):
    for doc in documents:
        print(doc)

In [15]:
# This means an iterator is needed to display the results
# find the male passengers
docs = training.find({"Sex" : "male"})
printDoc(docs)

{'_id': ObjectId('63c072ce73246b274e3e29cd'), 'PassengerId': 1, 'Survived': 0, 'Pclass': 3, 'Name': 'Braund, Mr. Owen Harris', 'Sex': 'male', 'Age': 22, 'SibSp': 1, 'Parch': 0, 'Ticket': 'A/5 21171', 'Fare': 7.25, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e29d0'), 'PassengerId': 5, 'Survived': 0, 'Pclass': 3, 'Name': 'Allen, Mr. William Henry', 'Sex': 'male', 'Age': 35, 'SibSp': 0, 'Parch': 0, 'Ticket': 373450, 'Fare': 8.05, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e29d1'), 'PassengerId': 6, 'Survived': 0, 'Pclass': 3, 'Name': 'Moran, Mr. James', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 330877, 'Fare': 8.4583, 'Cabin': '', 'Embarked': 'Q'}
{'_id': ObjectId('63c072ce73246b274e3e29d2'), 'PassengerId': 7, 'Survived': 0, 'Pclass': 1, 'Name': 'McCarthy, Mr. Timothy J', 'Sex': 'male', 'Age': 54, 'SibSp': 0, 'Parch': 0, 'Ticket': 17463, 'Fare': 51.8625, 'Cabin': 'E46', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e29d3'), 'PassengerId': 8, 'Survived': 0, 'Pclass': 3, 'Name': 'Palsson, Master. Gosta Leonard', 'Sex': 'male', 'Age': 2, 'SibSp': 3, 'Parch': 1, 'Ticket': 349909, 'Fare': 21.075, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e29d7'), 'PassengerId': 13, 'Survived': 0, 'Pclass': 3, 'Name': 'Saundercock, Mr. William Henry', 'Sex': 'male', 'Age': 20, 'SibSp': 0, 'Parch': 0, 'Ticket': 'A/5. 2151', 'Fare': 8.05, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e29d8'), 'PassengerId': 14, 'Survived': 0, 'Pclass': 3, 'Name': 'Andersson, Mr. Anders Johan', 'Sex': 'male', 'Age': 39, 'SibSp': 1, 'Parch': 5, 'Ticket': 347082, 'Fare': 31.275, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e29db'), 'PassengerId': 17, 'Survived': 0, 'Pclass': 3, 'Name': 'Rice, Master. Eugene', 'Sex': 'male', 'Age': 2, 'SibSp': 4, 'Parch': 1, 'Ticket': 382652, 'Fare': 29.125, 'Cabin': '', 'Embarked': 'Q'}
{'_id': ObjectId('63c072ce73246b274e3e29dc'), 'PassengerId': 18, 'Survived': 1, 'Pclass': 2, 'Name': 'Williams, Mr. Charles Eugene', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 244373, 'Fare': 13, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e29de'), 'PassengerId': 21, 'Survived': 0, 'Pclass': 2, 'Name': 'Fynney, Mr. Joseph J', 'Sex': 'male', 'Age': 35, 'SibSp': 0, 'Parch': 0, 'Ticket': 239865, 'Fare': 26, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e29e0'), 'PassengerId': 22, 'Survived': 1, 'Pclass': 2, 'Name': 'Beesley, Mr. Lawrence', 'Sex': 'male', 'Age': 34, 'SibSp': 0, 'Parch': 0, 'Ticket': 248698, 'Fare': 13, 'Cabin': 'D56', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e29e3'), 'PassengerId': 24, 'Survived': 1, 'Pclass': 1, 'Name': 'Sloper, Mr. William Thompson', 'Sex': 'male', 'Age': 28, 'SibSp': 0, 'Parch': 0, 'Ticket': 113788, 'Fare': 35.5, 'Cabin': 'A6', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e29e6'), 'PassengerId': 27, 'Survived': 0, 'Pclass': 3, 'Name': 'Emir, Mr. Farred Chehab', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 2631, 'Fare': 7.225, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e29e7'), 'PassengerId': 28, 'Survived': 0, 'Pclass': 1, 'Name': 'Fortune, Mr. Charles Alexander', 'Sex': 'male', 'Age': 19, 'SibSp': 3, 'Parch': 2, 'Ticket': 19950, 'Fare': 263, 'Cabin': 'C23 C25 C27', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e29eb'), 'PassengerId': 34, 'Survived': 0, 'Pclass': 2, 'Name': 'Wheadon, Mr. Edward H', 'Sex': 'male', 'Age': 66, 'SibSp': 0, 'Parch': 0, 'Ticket': 'C.A. 24579', 'Fare': 10.5, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e29ec'), 'PassengerId': 35, 'Survived': 0, 'Pclass': 1, 'Name': 'Meyer, Mr. Edgar Joseph', 'Sex': 'male', 'Age': 28, 'SibSp': 1, 'Parch': 0, 'Ticket': 'PC 17604', 'Fare': 82.1708, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e29ee'), 'PassengerId': 36, 'Survived': 0, 'Pclass': 1, 'Name': 'Holverson, Mr. Alexander Oskar', 'Sex': 'male', 'Age': 42, 'SibSp': 1, 'Parch': 0, 'Ticket': 113789, 'Fare': 52, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e29ef'), 'PassengerId': 30, 'Survived': 0, 'Pclass': 3, 'Name': 'Todoroff, Mr. Lalio', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 349216, 'Fare': 7.8958, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e29f0'), 'PassengerId': 37, 'Survived': 1, 'Pclass': 3, 'Name': 'Mamee, Mr. Hanna', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 2677, 'Fare': 7.2292, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e29f1'), 'PassengerId': 31, 'Survived': 0, 'Pclass': 1, 'Name': 'Uruchurtu, Don. Manuel E', 'Sex': 'male', 'Age': 40, 'SibSp': 0, 'Parch': 0, 'Ticket': 'PC 17601', 'Fare': 27.7208, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e29f2'), 'PassengerId': 38, 'Survived': 0, 'Pclass': 3, 'Name': 'Cann, Mr. Ernest Charles', 'Sex': 'male', 'Age': 21, 'SibSp': 0, 'Parch': 0, 'Ticket': 'A./5. 2152', 'Fare': 8.05, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e29f7'), 'PassengerId': 43, 'Survived': 0, 'Pclass': 3, 'Name': 'Kraeff, Mr. Theodor', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 349253, 'Fare': 7.8958, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e29fa'), 'PassengerId': 46, 'Survived': 0, 'Pclass': 3, 'Name': 'Rogers, Mr. William John', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 'S.C./A.4. 23567', 'Fare': 8.05, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e29fb'), 'PassengerId': 47, 'Survived': 0, 'Pclass': 3, 'Name': 'Lennon, Mr. Denis', 'Sex': 'male', 'Age': '', 'SibSp': 1, 'Parch': 0, 'Ticket': 370371, 'Fare': 15.5, 'Cabin': '', 'Embarked': 'Q'}
{'_id': ObjectId('63c072ce73246b274e3e29fd'), 'PassengerId': 49, 'Survived': 0, 'Pclass': 3, 'Name': 'Samaan, Mr. Youssef', 'Sex': 'male', 'Age': '', 'SibSp': 2, 'Parch': 0, 'Ticket': 2662, 'Fare': 21.6792, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e29ff'), 'PassengerId': 51, 'Survived': 0, 'Pclass': 3, 'Name': 'Panula, Master. Juha Niilo', 'Sex': 'male', 'Age': 7, 'SibSp': 4, 'Parch': 1, 'Ticket': 3101295, 'Fare': 39.6875, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a00'), 'PassengerId': 52, 'Survived': 0, 'Pclass': 3, 'Name': 'Nosworthy, Mr. Richard Cater', 'Sex': 'male', 'Age': 21, 'SibSp': 0, 'Parch': 0, 'Ticket': 'A/4. 39886', 'Fare': 7.8, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a03'), 'PassengerId': 56, 'Survived': 1, 'Pclass': 1, 'Name': 'Woolner, Mr. Hugh', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 19947, 'Fare': 35.5, 'Cabin': 'C52', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a04'), 'PassengerId': 55, 'Survived': 0, 'Pclass': 1, 'Name': 'Ostby, Mr. Engelhart Cornelius', 'Sex': 'male', 'Age': 65, 'SibSp': 0, 'Parch': 1, 'Ticket': 113509, 'Fare': 61.9792, 'Cabin': 'B30', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2a05'), 'PassengerId': 75, 'Survived': 1, 'Pclass': 3, 'Name': 'Bing, Mr. Lee', 'Sex': 'male', 'Age': 32, 'SibSp': 0, 'Parch': 0, 'Ticket': 1601, 'Fare': 56.4958, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a06'), 'PassengerId': 76, 'Survived': 0, 'Pclass': 3, 'Name': 'Moen, Mr. Sigurd Hansen', 'Sex': 'male', 'Age': 25, 'SibSp': 0, 'Parch': 0, 'Ticket': 348123, 'Fare': 7.65, 'Cabin': 'F G73', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a07'), 'PassengerId': 77, 'Survived': 0, 'Pclass': 3, 'Name': 'Staneff, Mr. Ivan', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 349208, 'Fare': 7.8958, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a08'), 'PassengerId': 78, 'Survived': 0, 'Pclass': 3, 'Name': 'Moutal, Mr. Rahamin Haim', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 374746, 'Fare': 8.05, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a09'), 'PassengerId': 79, 'Survived': 1, 'Pclass': 2, 'Name': 'Caldwell, Master. Alden Gates', 'Sex': 'male', 'Age': 0.83, 'SibSp': 0, 'Parch': 2, 'Ticket': 248738, 'Fare': 29, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a0b'), 'PassengerId': 81, 'Survived': 0, 'Pclass': 3, 'Name': 'Waelens, Mr. Achille', 'Sex': 'male', 'Age': 22, 'SibSp': 0, 'Parch': 0, 'Ticket': 345767, 'Fare': 9, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a0c'), 'PassengerId': 82, 'Survived': 1, 'Pclass': 3, 'Name': 'Sheerlinck, Mr. Jan Baptist', 'Sex': 'male', 'Age': 29, 'SibSp': 0, 'Parch': 0, 'Ticket': 345779, 'Fare': 9.5, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a0e'), 'PassengerId': 84, 'Survived': 0, 'Pclass': 1, 'Name': 'Carrau, Mr. Francisco M', 'Sex': 'male', 'Age': 28, 'SibSp': 0, 'Parch': 0, 'Ticket': 113059, 'Fare': 47.1, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a11'), 'PassengerId': 87, 'Survived': 0, 'Pclass': 3, 'Name': 'Ford, Mr. William Neal', 'Sex': 'male', 'Age': 16, 'SibSp': 1, 'Parch': 3, 'Ticket': 'W./C. 6608', 'Fare': 34.375, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a12'), 'PassengerId': 88, 'Survived': 0, 'Pclass': 3, 'Name': 'Slocovski, Mr. Selman Francis', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 'SOTON/OQ 392086', 'Fare': 8.05, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a14'), 'PassengerId': 90, 'Survived': 0, 'Pclass': 3, 'Name': 'Celotti, Mr. Francesco', 'Sex': 'male', 'Age': 24, 'SibSp': 0, 'Parch': 0, 'Ticket': 343275, 'Fare': 8.05, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a15'), 'PassengerId': 91, 'Survived': 0, 'Pclass': 3, 'Name': 'Christmann, Mr. Emil', 'Sex': 'male', 'Age': 29, 'SibSp': 0, 'Parch': 0, 'Ticket': 343276, 'Fare': 8.05, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a16'), 'PassengerId': 92, 'Survived': 0, 'Pclass': 3, 'Name': 'Andreasson, Mr. Paul Edvin', 'Sex': 'male', 'Age': 20, 'SibSp': 0, 'Parch': 0, 'Ticket': 347466, 'Fare': 7.8542, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a18'), 'PassengerId': 58, 'Survived': 0, 'Pclass': 3, 'Name': 'Novel, Mr. Mansouer', 'Sex': 'male', 'Age': 28.5, 'SibSp': 0, 'Parch': 0, 'Ticket': 2697, 'Fare': 7.2292, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2a1a'), 'PassengerId': 60, 'Survived': 0, 'Pclass': 3, 'Name': 'Goodwin, Master. William Frederick', 'Sex': 'male', 'Age': 11, 'SibSp': 5, 'Parch': 2, 'Ticket': 'CA 2144', 'Fare': 46.9, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a1b'), 'PassengerId': 61, 'Survived': 0, 'Pclass': 3, 'Name': 'Sirayanian, Mr. Orsen', 'Sex': 'male', 'Age': 22, 'SibSp': 0, 'Parch': 0, 'Ticket': 2669, 'Fare': 7.2292, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2a1d'), 'PassengerId': 63, 'Survived': 0, 'Pclass': 1, 'Name': 'Harris, Mr. Henry Birkhardt', 'Sex': 'male', 'Age': 45, 'SibSp': 1, 'Parch': 0, 'Ticket': 36973, 'Fare': 83.475, 'Cabin': 'C83', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a1e'), 'PassengerId': 64, 'Survived': 0, 'Pclass': 3, 'Name': 'Skoog, Master. Harald', 'Sex': 'male', 'Age': 4, 'SibSp': 3, 'Parch': 2, 'Ticket': 347088, 'Fare': 27.9, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a1f'), 'PassengerId': 65, 'Survived': 0, 'Pclass': 1, 'Name': 'Stewart, Mr. Albert A', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 'PC 17605', 'Fare': 27.7208, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2a20'), 'PassengerId': 66, 'Survived': 1, 'Pclass': 3, 'Name': 'Moubarek, Master. Gerios', 'Sex': 'male', 'Age': '', 'SibSp': 1, 'Parch': 1, 'Ticket': 2661, 'Fare': 15.2458, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2a22'), 'PassengerId': 68, 'Survived': 0, 'Pclass': 3, 'Name': 'Crease, Mr. Ernest James', 'Sex': 'male', 'Age': 19, 'SibSp': 0, 'Parch': 0, 'Ticket': 'S.P. 3464', 'Fare': 8.1583, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a24'), 'PassengerId': 70, 'Survived': 0, 'Pclass': 3, 'Name': 'Kink, Mr. Vincenz', 'Sex': 'male', 'Age': 26, 'SibSp': 2, 'Parch': 0, 'Ticket': 315151, 'Fare': 8.6625, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a25'), 'PassengerId': 71, 'Survived': 0, 'Pclass': 2, 'Name': 'Jenkin, Mr. Stephen Curnow', 'Sex': 'male', 'Age': 32, 'SibSp': 0, 'Parch': 0, 'Ticket': 'C.A. 33111', 'Fare': 10.5, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a27'), 'PassengerId': 73, 'Survived': 0, 'Pclass': 2, 'Name': 'Hood, Mr. Ambrose Jr', 'Sex': 'male', 'Age': 21, 'SibSp': 0, 'Parch': 0, 'Ticket': 'S.O.C. 14879', 'Fare': 73.5, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a28'), 'PassengerId': 74, 'Survived': 0, 'Pclass': 3, 'Name': 'Chronopoulos, Mr. Apostolos', 'Sex': 'male', 'Age': 26, 'SibSp': 1, 'Parch': 0, 'Ticket': 2680, 'Fare': 14.4542, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2a29'), 'PassengerId': 94, 'Survived': 0, 'Pclass': 3, 'Name': 'Dean, Mr. Bertram Frank', 'Sex': 'male', 'Age': 26, 'SibSp': 1, 'Parch': 2, 'Ticket': 'C.A. 2315', 'Fare': 20.575, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a2a'), 'PassengerId': 95, 'Survived': 0, 'Pclass': 3, 'Name': 'Coxon, Mr. Daniel', 'Sex': 'male', 'Age': 59, 'SibSp': 0, 'Parch': 0, 'Ticket': 364500, 'Fare': 7.25, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a2b'), 'PassengerId': 96, 'Survived': 0, 'Pclass': 3, 'Name': 'Shorney, Mr. Charles Joseph', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 374910, 'Fare': 8.05, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a2c'), 'PassengerId': 97, 'Survived': 0, 'Pclass': 1, 'Name': 'Goldschmidt, Mr. George B', 'Sex': 'male', 'Age': 71, 'SibSp': 0, 'Parch': 0, 'Ticket': 'PC 17754', 'Fare': 34.6542, 'Cabin': 'A5', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2a2d'), 'PassengerId': 98, 'Survived': 1, 'Pclass': 1, 'Name': 'Greenfield, Mr. William Bertram', 'Sex': 'male', 'Age': 23, 'SibSp': 0, 'Parch': 1, 'Ticket': 'PC 17759', 'Fare': 63.3583, 'Cabin': 'D10 D12', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2a2f'), 'PassengerId': 100, 'Survived': 0, 'Pclass': 2, 'Name': 'Kantor, Mr. Sinai', 'Sex': 'male', 'Age': 34, 'SibSp': 1, 'Parch': 0, 'Ticket': 244367, 'Fare': 26, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a30'), 'PassengerId': 93, 'Survived': 0, 'Pclass': 1, 'Name': 'Chaffee, Mr. Herbert Fuller', 'Sex': 'male', 'Age': 46, 'SibSp': 1, 'Parch': 0, 'Ticket': 'W.E.P. 5734', 'Fare': 61.175, 'Cabin': 'E31', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a31'), 'PassengerId': 102, 'Survived': 0, 'Pclass': 3, 'Name': 'Petroff, Mr. Pastcho ("Pentcho")', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 349215, 'Fare': 7.8958, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a32'), 'PassengerId': 103, 'Survived': 0, 'Pclass': 1, 'Name': 'White, Mr. Richard Frasar', 'Sex': 'male', 'Age': 21, 'SibSp': 0, 'Parch': 1, 'Ticket': 35281, 'Fare': 77.2875, 'Cabin': 'D26', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a34'), 'PassengerId': 104, 'Survived': 0, 'Pclass': 3, 'Name': 'Johansson, Mr. Gustaf Joel', 'Sex': 'male', 'Age': 33, 'SibSp': 0, 'Parch': 0, 'Ticket': 7540, 'Fare': 8.6542, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a35'), 'PassengerId': 106, 'Survived': 0, 'Pclass': 3, 'Name': 'Mionoff, Mr. Stoytcho', 'Sex': 'male', 'Age': 28, 'SibSp': 0, 'Parch': 0, 'Ticket': 349207, 'Fare': 7.8958, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a37'), 'PassengerId': 105, 'Survived': 0, 'Pclass': 3, 'Name': 'Gustafsson, Mr. Anders Vilhelm', 'Sex': 'male', 'Age': 37, 'SibSp': 2, 'Parch': 0, 'Ticket': 3101276, 'Fare': 7.925, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a38'), 'PassengerId': 108, 'Survived': 1, 'Pclass': 3, 'Name': 'Moss, Mr. Albert Johan', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 312991, 'Fare': 7.775, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a39'), 'PassengerId': 109, 'Survived': 0, 'Pclass': 3, 'Name': 'Rekic, Mr. Tido', 'Sex': 'male', 'Age': 38, 'SibSp': 0, 'Parch': 0, 'Ticket': 349249, 'Fare': 7.8958, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a3b'), 'PassengerId': 111, 'Survived': 0, 'Pclass': 1, 'Name': 'Porter, Mr. Walter Chamberlain', 'Sex': 'male', 'Age': 47, 'SibSp': 0, 'Parch': 0, 'Ticket': 110465, 'Fare': 52, 'Cabin': 'C110', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a3d'), 'PassengerId': 113, 'Survived': 0, 'Pclass': 3, 'Name': 'Barton, Mr. David John', 'Sex': 'male', 'Age': 22, 'SibSp': 0, 'Parch': 0, 'Ticket': 324669, 'Fare': 8.05, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a3f'), 'PassengerId': 116, 'Survived': 0, 'Pclass': 3, 'Name': 'Pekoniemi, Mr. Edvard', 'Sex': 'male', 'Age': 21, 'SibSp': 0, 'Parch': 0, 'Ticket': 'STON/O 2. 3101294', 'Fare': 7.925, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a40'), 'PassengerId': 117, 'Survived': 0, 'Pclass': 3, 'Name': 'Connors, Mr. Patrick', 'Sex': 'male', 'Age': 70.5, 'SibSp': 0, 'Parch': 0, 'Ticket': 370369, 'Fare': 7.75, 'Cabin': '', 'Embarked': 'Q'}
{'_id': ObjectId('63c072ce73246b274e3e2a41'), 'PassengerId': 118, 'Survived': 0, 'Pclass': 2, 'Name': 'Turpin, Mr. William John Robert', 'Sex': 'male', 'Age': 29, 'SibSp': 1, 'Parch': 0, 'Ticket': 11668, 'Fare': 21, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a42'), 'PassengerId': 119, 'Survived': 0, 'Pclass': 1, 'Name': 'Baxter, Mr. Quigg Edmond', 'Sex': 'male', 'Age': 24, 'SibSp': 0, 'Parch': 1, 'Ticket': 'PC 17558', 'Fare': 247.5208, 'Cabin': 'B58 B60', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2a44'), 'PassengerId': 123, 'Survived': 0, 'Pclass': 2, 'Name': 'Nasser, Mr. Nicholas', 'Sex': 'male', 'Age': 32.5, 'SibSp': 1, 'Parch': 0, 'Ticket': 237736, 'Fare': 30.0708, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2a45'), 'PassengerId': 140, 'Survived': 0, 'Pclass': 1, 'Name': 'Giglio, Mr. Victor', 'Sex': 'male', 'Age': 24, 'SibSp': 0, 'Parch': 0, 'Ticket': 'PC 17593', 'Fare': 79.2, 'Cabin': 'B86', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2a49'), 'PassengerId': 144, 'Survived': 0, 'Pclass': 3, 'Name': 'Burke, Mr. Jeremiah', 'Sex': 'male', 'Age': 19, 'SibSp': 0, 'Parch': 0, 'Ticket': 365222, 'Fare': 6.75, 'Cabin': '', 'Embarked': 'Q'}
{'_id': ObjectId('63c072ce73246b274e3e2a4a'), 'PassengerId': 145, 'Survived': 0, 'Pclass': 2, 'Name': 'Andrew, Mr. Edgardo Samuel', 'Sex': 'male', 'Age': 18, 'SibSp': 0, 'Parch': 0, 'Ticket': 231945, 'Fare': 11.5, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a4b'), 'PassengerId': 146, 'Survived': 0, 'Pclass': 2, 'Name': 'Nicholls, Mr. Joseph Charles', 'Sex': 'male', 'Age': 19, 'SibSp': 1, 'Parch': 1, 'Ticket': 'C.A. 33112', 'Fare': 36.75, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2a4c'), 'PassengerId': 131, 'Survived': 0, 'Pclass': 3, 'Name': 'Drazenoic, Mr. Jozef', 'Sex': 'male', 'Age': 33, 'SibSp': 0, 'Parch': 0, 'Ticket': 349241, 'Fare': 7.8958, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2a4e'), 'PassengerId': 149, 'Survived': 0, 'Pclass': 2, 'Name': 'Navratil, Mr. Michel ("Louis M Hoffman")', 'Sex': 'male', 'Age': 36.5, 'SibSp': 0, 'Parch': 2, 'Ticket': 230080, 'Fare': 26, 'Cabin': 'F2', 'Embarked': 'S'}

{'_id': ObjectId('63c072ce73246b274e3e2cb4'), 'PassengerId': 746, 'Survived': 0, 'Pclass': 1, 'Name': 'Crosby, Capt. Edward Gifford', 'Sex': 'male', 'Age': 70, 'SibSp': 1, 'Parch': 1, 'Ticket': 'WE/P 5735', 'Fare': 71, 'Cabin': 'B22', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cb5'), 'PassengerId': 744, 'Survived': 0, 'Pclass': 3, 'Name': 'McNamee, Mr. Neal', 'Sex': 'male', 'Age': 24, 'SibSp': 1, 'Parch': 0, 'Ticket': 376566, 'Fare': 16.1, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cb6'), 'PassengerId': 745, 'Survived': 1, 'Pclass': 3, 'Name': 'Stranden, Mr. Juho', 'Sex': 'male', 'Age': 31, 'SibSp': 0, 'Parch': 0, 'Ticket': 'STON/O 2. 3101288', 'Fare': 7.925, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cb7'), 'PassengerId': 749, 'Survived': 0, 'Pclass': 1, 'Name': 'Marvin, Mr. Daniel Warner', 'Sex': 'male', 'Age': 19, 'SibSp': 1, 'Parch': 0, 'Ticket': 113773, 'Fare': 53.1, 'Cabin': 'D30', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cb8'), 'PassengerId': 747, 'Survived': 0, 'Pclass': 3, 'Name': 'Abbott, Mr. Rossmore Edward', 'Sex': 'male', 'Age': 16, 'SibSp': 1, 'Parch': 1, 'Ticket': 'C.A. 2673', 'Fare': 20.25, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cbb'), 'PassengerId': 750, 'Survived': 0, 'Pclass': 3, 'Name': 'Connaghton, Mr. Michael', 'Sex': 'male', 'Age': 31, 'SibSp': 0, 'Parch': 0, 'Ticket': 335097, 'Fare': 7.75, 'Cabin': '', 'Embarked': 'Q'}
{'_id': ObjectId('63c072ce73246b274e3e2cbc'), 'PassengerId': 753, 'Survived': 0, 'Pclass': 3, 'Name': 'Vande Velde, Mr. Johannes Joseph', 'Sex': 'male', 'Age': 33, 'SibSp': 0, 'Parch': 0, 'Ticket': 345780, 'Fare': 9.5, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cbd'), 'PassengerId': 752, 'Survived': 1, 'Pclass': 3, 'Name': 'Moor, Master. Meier', 'Sex': 'male', 'Age': 6, 'SibSp': 0, 'Parch': 1, 'Ticket': 392096, 'Fare': 12.475, 'Cabin': 'E121', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cbe'), 'PassengerId': 754, 'Survived': 0, 'Pclass': 3, 'Name': 'Jonkoff, Mr. Lalio', 'Sex': 'male', 'Age': 23, 'SibSp': 0, 'Parch': 0, 'Ticket': 349204, 'Fare': 7.8958, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cc0'), 'PassengerId': 756, 'Survived': 1, 'Pclass': 2, 'Name': 'Hamalainen, Master. Viljo', 'Sex': 'male', 'Age': 0.67, 'SibSp': 1, 'Parch': 1, 'Ticket': 250649, 'Fare': 14.5, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cc1'), 'PassengerId': 757, 'Survived': 0, 'Pclass': 3, 'Name': 'Carlsson, Mr. August Sigfrid', 'Sex': 'male', 'Age': 28, 'SibSp': 0, 'Parch': 0, 'Ticket': 350042, 'Fare': 7.7958, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cc2'), 'PassengerId': 758, 'Survived': 0, 'Pclass': 2, 'Name': 'Bailey, Mr. Percy Andrew', 'Sex': 'male', 'Age': 18, 'SibSp': 0, 'Parch': 0, 'Ticket': 29108, 'Fare': 11.5, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cc3'), 'PassengerId': 761, 'Survived': 0, 'Pclass': 3, 'Name': 'Garfirth, Mr. John', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 358585, 'Fare': 14.5, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cc4'), 'PassengerId': 759, 'Survived': 0, 'Pclass': 3, 'Name': 'Theobald, Mr. Thomas Leonard', 'Sex': 'male', 'Age': 34, 'SibSp': 0, 'Parch': 0, 'Ticket': 363294, 'Fare': 8.05, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cc6'), 'PassengerId': 765, 'Survived': 0, 'Pclass': 3, 'Name': 'Eklund, Mr. Hans Linus', 'Sex': 'male', 'Age': 16, 'SibSp': 0, 'Parch': 0, 'Ticket': 347074, 'Fare': 7.775, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cc7'), 'PassengerId': 762, 'Survived': 0, 'Pclass': 3, 'Name': 'Nirva, Mr. Iisakki Antino Aijo', 'Sex': 'male', 'Age': 41, 'SibSp': 0, 'Parch': 0, 'Ticket': 'SOTON/O2 3101272', 'Fare': 7.125, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cc8'), 'PassengerId': 767, 'Survived': 0, 'Pclass': 1, 'Name': 'Brewe, Dr. Arthur Jackson', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 112379, 'Fare': 39.6, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2cca'), 'PassengerId': 763, 'Survived': 1, 'Pclass': 3, 'Name': 'Barah, Mr. Hanna Assi', 'Sex': 'male', 'Age': 20, 'SibSp': 0, 'Parch': 0, 'Ticket': 2663, 'Fare': 7.2292, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2ccc'), 'PassengerId': 772, 'Survived': 0, 'Pclass': 3, 'Name': 'Jensen, Mr. Niels Peder', 'Sex': 'male', 'Age': 48, 'SibSp': 0, 'Parch': 0, 'Ticket': 350047, 'Fare': 7.8542, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2ccd'), 'PassengerId': 770, 'Survived': 0, 'Pclass': 3, 'Name': 'Gronnestad, Mr. Daniel Danielsen', 'Sex': 'male', 'Age': 32, 'SibSp': 0, 'Parch': 0, 'Ticket': 8471, 'Fare': 8.3625, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cce'), 'PassengerId': 771, 'Survived': 0, 'Pclass': 3, 'Name': 'Lievens, Mr. Rene Aime', 'Sex': 'male', 'Age': 24, 'SibSp': 0, 'Parch': 0, 'Ticket': 345781, 'Fare': 9.5, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cd1'), 'PassengerId': 769, 'Survived': 0, 'Pclass': 3, 'Name': 'Moran, Mr. Daniel J', 'Sex': 'male', 'Age': '', 'SibSp': 1, 'Parch': 0, 'Ticket': 371110, 'Fare': 24.15, 'Cabin': '', 'Embarked': 'Q'}
{'_id': ObjectId('63c072ce73246b274e3e2cd2'), 'PassengerId': 774, 'Survived': 0, 'Pclass': 3, 'Name': 'Elias, Mr. Dibo', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 2674, 'Fare': 7.225, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2cd4'), 'PassengerId': 776, 'Survived': 0, 'Pclass': 3, 'Name': 'Myhrman, Mr. Pehr Fabian Oliver Malkolm', 'Sex': 'male', 'Age': 18, 'SibSp': 0, 'Parch': 0, 'Ticket': 347078, 'Fare': 7.75, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cd5'), 'PassengerId': 786, 'Survived': 0, 'Pclass': 3, 'Name': 'Harmer, Mr. Abraham (David Lishin)', 'Sex': 'male', 'Age': 25, 'SibSp': 0, 'Parch': 0, 'Ticket': 374887, 'Fare': 7.25, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cd6'), 'PassengerId': 783, 'Survived': 0, 'Pclass': 1, 'Name': 'Long, Mr. Milton Clyde', 'Sex': 'male', 'Age': 29, 'SibSp': 0, 'Parch': 0, 'Ticket': 113501, 'Fare': 30, 'Cabin': 'D6', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cd7'), 'PassengerId': 784, 'Survived': 0, 'Pclass': 3, 'Name': 'Johnston, Mr. Andrew G', 'Sex': 'male', 'Age': '', 'SibSp': 1, 'Parch': 2, 'Ticket': 'W./C. 6607', 'Fare': 23.45, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cd9'), 'PassengerId': 785, 'Survived': 0, 'Pclass': 3, 'Name': 'Ali, Mr. William', 'Sex': 'male', 'Age': 25, 'SibSp': 0, 'Parch': 0, 'Ticket': 'SOTON/O.Q. 3101312', 'Fare': 7.05, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cda'), 'PassengerId': 779, 'Survived': 0, 'Pclass': 3, 'Name': 'Kilgannon, Mr. Thomas J', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 36865, 'Fare': 7.7375, 'Cabin': '', 'Embarked': 'Q'}
{'_id': ObjectId('63c072ce73246b274e3e2cdb'), 'PassengerId': 777, 'Survived': 0, 'Pclass': 3, 'Name': 'Tobin, Mr. Roger', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 383121, 'Fare': 7.75, 'Cabin': 'F38', 'Embarked': 'Q'}
{'_id': ObjectId('63c072ce73246b274e3e2cdf'), 'PassengerId': 794, 'Survived': 0, 'Pclass': 1, 'Name': 'Hoyt, Mr. William Fisher', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 'PC 17600', 'Fare': 30.6958, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2ce0'), 'PassengerId': 795, 'Survived': 0, 'Pclass': 3, 'Name': 'Dantcheff, Mr. Ristiu', 'Sex': 'male', 'Age': 25, 'SibSp': 0, 'Parch': 0, 'Ticket': 349203, 'Fare': 7.8958, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2ce1'), 'PassengerId': 796, 'Survived': 0, 'Pclass': 2, 'Name': 'Otter, Mr. Richard', 'Sex': 'male', 'Age': 39, 'SibSp': 0, 'Parch': 0, 'Ticket': 28213, 'Fare': 13, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2ce2'), 'PassengerId': 789, 'Survived': 1, 'Pclass': 3, 'Name': 'Dean, Master. Bertram Vere', 'Sex': 'male', 'Age': 1, 'SibSp': 1, 'Parch': 2, 'Ticket': 'C.A. 2315', 'Fare': 20.575, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2ce3'), 'PassengerId': 792, 'Survived': 0, 'Pclass': 2, 'Name': 'Gaskell, Mr. Alfred', 'Sex': 'male', 'Age': 16, 'SibSp': 0, 'Parch': 0, 'Ticket': 239865, 'Fare': 26, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2ce5'), 'PassengerId': 788, 'Survived': 0, 'Pclass': 3, 'Name': 'Rice, Master. George Hugh', 'Sex': 'male', 'Age': 8, 'SibSp': 4, 'Parch': 1, 'Ticket': 382652, 'Fare': 29.125, 'Cabin': '', 'Embarked': 'Q'}
{'_id': ObjectId('63c072ce73246b274e3e2ce6'), 'PassengerId': 790, 'Survived': 0, 'Pclass': 1, 'Name': 'Guggenheim, Mr. Benjamin', 'Sex': 'male', 'Age': 46, 'SibSp': 0, 'Parch': 0, 'Ticket': 'PC 17593', 'Fare': 79.2, 'Cabin': 'B82 B84', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2ce7'), 'PassengerId': 791, 'Survived': 0, 'Pclass': 3, 'Name': 'Keane, Mr. Andrew "Andy"', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 12460, 'Fare': 7.75, 'Cabin': '', 'Embarked': 'Q'}
{'_id': ObjectId('63c072ce73246b274e3e2ce8'), 'PassengerId': 804, 'Survived': 1, 'Pclass': 3, 'Name': 'Thomas, Master. Assad Alexander', 'Sex': 'male', 'Age': 0.42, 'SibSp': 0, 'Parch': 1, 'Ticket': 2625, 'Fare': 8.5167, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2ce9'), 'PassengerId': 801, 'Survived': 0, 'Pclass': 2, 'Name': 'Ponesell, Mr. Martin', 'Sex': 'male', 'Age': 34, 'SibSp': 0, 'Parch': 0, 'Ticket': 250647, 'Fare': 13, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2ced'), 'PassengerId': 799, 'Survived': 0, 'Pclass': 3, 'Name': 'Ibrahim Shawah, Mr. Yousseff', 'Sex': 'male', 'Age': 30, 'SibSp': 0, 'Parch': 0, 'Ticket': 2685, 'Fare': 7.2292, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2cee'), 'PassengerId': 803, 'Survived': 1, 'Pclass': 1, 'Name': 'Carter, Master. William Thornton II', 'Sex': 'male', 'Age': 11, 'SibSp': 1, 'Parch': 2, 'Ticket': 113760, 'Fare': 120, 'Cabin': 'B96 B98', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cf1'), 'PassengerId': 806, 'Survived': 0, 'Pclass': 3, 'Name': 'Johansson, Mr. Karl Johan', 'Sex': 'male', 'Age': 31, 'SibSp': 0, 'Parch': 0, 'Ticket': 347063, 'Fare': 7.775, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cf2'), 'PassengerId': 809, 'Survived': 0, 'Pclass': 2, 'Name': 'Meyer, Mr. August', 'Sex': 'male', 'Age': 39, 'SibSp': 0, 'Parch': 0, 'Ticket': 248723, 'Fare': 13, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cf3'), 'PassengerId': 805, 'Survived': 1, 'Pclass': 3, 'Name': 'Hedman, Mr. Oskar Arvid', 'Sex': 'male', 'Age': 27, 'SibSp': 0, 'Parch': 0, 'Ticket': 347089, 'Fare': 6.975, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cf4'), 'PassengerId': 807, 'Survived': 0, 'Pclass': 1, 'Name': 'Andrews, Mr. Thomas Jr', 'Sex': 'male', 'Age': 39, 'SibSp': 0, 'Parch': 0, 'Ticket': 112050, 'Fare': 0, 'Cabin': 'A36', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cf5'), 'PassengerId': 812, 'Survived': 0, 'Pclass': 3, 'Name': 'Lester, Mr. James', 'Sex': 'male', 'Age': 39, 'SibSp': 0, 'Parch': 0, 'Ticket': 'A/4 48871', 'Fare': 24.15, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cf8'), 'PassengerId': 811, 'Survived': 0, 'Pclass': 3, 'Name': 'Alexander, Mr. William', 'Sex': 'male', 'Age': 26, 'SibSp': 0, 'Parch': 0, 'Ticket': 3474, 'Fare': 7.8875, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cfa'), 'PassengerId': 815, 'Survived': 0, 'Pclass': 3, 'Name': 'Tomlin, Mr. Ernest Portage', 'Sex': 'male', 'Age': 30.5, 'SibSp': 0, 'Parch': 0, 'Ticket': 364499, 'Fare': 8.05, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cfb'), 'PassengerId': 813, 'Survived': 0, 'Pclass': 2, 'Name': 'Slemen, Mr. Richard James', 'Sex': 'male', 'Age': 35, 'SibSp': 0, 'Parch': 0, 'Ticket': 28206, 'Fare': 10.5, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cfc'), 'PassengerId': 816, 'Survived': 0, 'Pclass': 1, 'Name': 'Fry, Mr. Richard', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 112058, 'Fare': 0, 'Cabin': 'B102', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cfe'), 'PassengerId': 820, 'Survived': 0, 'Pclass': 3, 'Name': 'Skoog, Master. Karl Thorsten', 'Sex': 'male', 'Age': 10, 'SibSp': 3, 'Parch': 2, 'Ticket': 347088, 'Fare': 27.9, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2cff'), 'PassengerId': 818, 'Survived': 0, 'Pclass': 2, 'Name': 'Mallet, Mr. Albert', 'Sex': 'male', 'Age': 31, 'SibSp': 1, 'Parch': 1, 'Ticket': 'S.C./PARIS 2079', 'Fare': 37.0042, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2d00'), 'PassengerId': 819, 'Survived': 0, 'Pclass': 3, 'Name': 'Holm, Mr. John Fredrik Alexander', 'Sex': 'male', 'Age': 43, 'SibSp': 0, 'Parch': 0, 'Ticket': 'C 7075', 'Fare': 6.45, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d01'), 'PassengerId': 823, 'Survived': 0, 'Pclass': 1, 'Name': 'Reuchlin, Jonkheer. John George', 'Sex': 'male', 'Age': 38, 'SibSp': 0, 'Parch': 0, 'Ticket': 19972, 'Fare': 0, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d03'), 'PassengerId': 822, 'Survived': 1, 'Pclass': 3, 'Name': 'Lulic, Mr. Nikola', 'Sex': 'male', 'Age': 27, 'SibSp': 0, 'Parch': 0, 'Ticket': 315098, 'Fare': 8.6625, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d04'), 'PassengerId': 825, 'Survived': 0, 'Pclass': 3, 'Name': 'Panula, Master. Urho Abraham', 'Sex': 'male', 'Age': 2, 'SibSp': 4, 'Parch': 1, 'Ticket': 3101295, 'Fare': 39.6875, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d06'), 'PassengerId': 827, 'Survived': 0, 'Pclass': 3, 'Name': 'Lam, Mr. Len', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 1601, 'Fare': 56.4958, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d07'), 'PassengerId': 826, 'Survived': 0, 'Pclass': 3, 'Name': 'Flynn, Mr. John', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 368323, 'Fare': 6.95, 'Cabin': '', 'Embarked': 'Q'}
{'_id': ObjectId('63c072ce73246b274e3e2d08'), 'PassengerId': 829, 'Survived': 1, 'Pclass': 3, 'Name': 'McCormack, Mr. Thomas Joseph', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 367228, 'Fare': 7.75, 'Cabin': '', 'Embarked': 'Q'}
{'_id': ObjectId('63c072ce73246b274e3e2d09'), 'PassengerId': 828, 'Survived': 1, 'Pclass': 2, 'Name': 'Mallet, Master. Andre', 'Sex': 'male', 'Age': 1, 'SibSp': 0, 'Parch': 2, 'Ticket': 'S.C./PARIS 2079', 'Fare': 37.0042, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2d0c'), 'PassengerId': 833, 'Survived': 0, 'Pclass': 3, 'Name': 'Saad, Mr. Amin', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 2671, 'Fare': 7.2292, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2d0d'), 'PassengerId': 832, 'Survived': 1, 'Pclass': 2, 'Name': 'Richards, Master. George Sibley', 'Sex': 'male', 'Age': 0.83, 'SibSp': 1, 'Parch': 1, 'Ticket': 29106, 'Fare': 18.75, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d0e'), 'PassengerId': 834, 'Survived': 0, 'Pclass': 3, 'Name': 'Augustsson, Mr. Albert', 'Sex': 'male', 'Age': 23, 'SibSp': 0, 'Parch': 0, 'Ticket': 347468, 'Fare': 7.8542, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d0f'), 'PassengerId': 835, 'Survived': 0, 'Pclass': 3, 'Name': 'Allum, Mr. Owen George', 'Sex': 'male', 'Age': 18, 'SibSp': 0, 'Parch': 0, 'Ticket': 2223, 'Fare': 8.3, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d10'), 'PassengerId': 837, 'Survived': 0, 'Pclass': 3, 'Name': 'Pasic, Mr. Jakob', 'Sex': 'male', 'Age': 21, 'SibSp': 0, 'Parch': 0, 'Ticket': 315097, 'Fare': 8.6625, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d12'), 'PassengerId': 840, 'Survived': 1, 'Pclass': 1, 'Name': 'Marechal, Mr. Pierre', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 11774, 'Fare': 29.7, 'Cabin': 'C47', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2d13'), 'PassengerId': 838, 'Survived': 0, 'Pclass': 3, 'Name': 'Sirota, Mr. Maurice', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 392092, 'Fare': 8.05, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d14'), 'PassengerId': 839, 'Survived': 1, 'Pclass': 3, 'Name': 'Chip, Mr. Chang', 'Sex': 'male', 'Age': 32, 'SibSp': 0, 'Parch': 0, 'Ticket': 1601, 'Fare': 56.4958, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d16'), 'PassengerId': 841, 'Survived': 0, 'Pclass': 3, 'Name': 'Alhomaki, Mr. Ilmari Rudolf', 'Sex': 'male', 'Age': 20, 'SibSp': 0, 'Parch': 0, 'Ticket': 'SOTON/O2 3101287', 'Fare': 7.925, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d17'), 'PassengerId': 842, 'Survived': 0, 'Pclass': 2, 'Name': 'Mudd, Mr. Thomas Charles', 'Sex': 'male', 'Age': 16, 'SibSp': 0, 'Parch': 0, 'Ticket': 'S.O./P.P. 3', 'Fare': 10.5, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d18'), 'PassengerId': 845, 'Survived': 0, 'Pclass': 3, 'Name': 'Culumovic, Mr. Jeso', 'Sex': 'male', 'Age': 17, 'SibSp': 0, 'Parch': 0, 'Ticket': 315090, 'Fare': 8.6625, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d19'), 'PassengerId': 844, 'Survived': 0, 'Pclass': 3, 'Name': 'Lemberopolous, Mr. Peter L', 'Sex': 'male', 'Age': 34.5, 'SibSp': 0, 'Parch': 0, 'Ticket': 2683, 'Fare': 6.4375, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2d1a'), 'PassengerId': 846, 'Survived': 0, 'Pclass': 3, 'Name': 'Abbing, Mr. Anthony', 'Sex': 'male', 'Age': 42, 'SibSp': 0, 'Parch': 0, 'Ticket': 'C.A. 5547', 'Fare': 7.55, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d1b'), 'PassengerId': 851, 'Survived': 0, 'Pclass': 3, 'Name': 'Andersson, Master. Sigvard Harald Elias', 'Sex': 'male', 'Age': 4, 'SibSp': 4, 'Parch': 2, 'Ticket': 347082, 'Fare': 31.275, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d1c'), 'PassengerId': 848, 'Survived': 0, 'Pclass': 3, 'Name': 'Markoff, Mr. Marin', 'Sex': 'male', 'Age': 35, 'SibSp': 0, 'Parch': 0, 'Ticket': 349213, 'Fare': 7.8958, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2d1d'), 'PassengerId': 849, 'Survived': 0, 'Pclass': 2, 'Name': 'Harper, Rev. John', 'Sex': 'male', 'Age': 28, 'SibSp': 0, 'Parch': 1, 'Ticket': 248727, 'Fare': 33, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d1e'), 'PassengerId': 847, 'Survived': 0, 'Pclass': 3, 'Name': 'Sage, Mr. Douglas Bullen', 'Sex': 'male', 'Age': '', 'SibSp': 8, 'Parch': 2, 'Ticket': 'CA. 2343', 'Fare': 69.55, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d21'), 'PassengerId': 852, 'Survived': 0, 'Pclass': 3, 'Name': 'Svensson, Mr. Johan', 'Sex': 'male', 'Age': 74, 'SibSp': 0, 'Parch': 0, 'Ticket': 347060, 'Fare': 7.775, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d25'), 'PassengerId': 860, 'Survived': 0, 'Pclass': 3, 'Name': 'Razi, Mr. Raihed', 'Sex': 'male', 'Age': '', 'SibSp': 0, 'Parch': 0, 'Ticket': 2629, 'Fare': 7.2292, 'Cabin': '', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2d28'), 'PassengerId': 862, 'Survived': 0, 'Pclass': 2, 'Name': 'Giles, Mr. Frederick Edward', 'Sex': 'male', 'Age': 21, 'SibSp': 1, 'Parch': 0, 'Ticket': 28134, 'Fare': 11.5, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2d29'), 'PassengerId': 861, 'Survived': 0, 'Pclass': 3, 'Name': 'Hansen, Mr. Claus Peter', 'Sex': 'male', 'Age': 41, 'SibSp': 2, 'Parch': 0, 'Ticket': 350026, 'Fare': 14.1083, 'Cabin': '', 'Embarked': 'S'}

In [16]:
# alternatively use a dataframe to make it more like a relational table
# find the female passengers embarking in Southampton
pd.DataFrame(training.find({"Sex" : "female", "Embarked" : "S"}))

,_id,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,63c072ce73246b274e3e29ce,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,,S
1,63c072ce73246b274e3e29cf,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
2,63c072ce73246b274e3e29d4,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S
3,63c072ce73246b274e3e29d6,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7000,G6,S
4,63c072ce73246b274e3e29d9,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,63c072ce73246b274e3e2d33,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47,1,1,11751,52.5542,D35,S
199,63c072ce73246b274e3e2d3d,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25,0,1,230433,26.0000,,S
200,63c072ce73246b274e3e2d3f,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22,0,0,7552,10.5167,,S
201,63c072ce73246b274e3e2d42,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,B42,S
202,63c072ce73246b274e3e2d44,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,,1,2,W./C. 6607,23.4500,,S

In [17]:
# Or can convert the Cursor to a list
# Find the 1st class female passengers who survived (0 = No, 1 = Yes)
list(training.find({"Pclass" : 1, "Sex" : "female", "Survived" : 1}))

[{'_id': ObjectId('63c072ce73246b274e3e29cf'),
  'PassengerId': 4,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
  'Sex': 'female',
  'Age': 35,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 113803,
  'Fare': 53.1,
  'Cabin': 'C123',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e29d5'),
  'PassengerId': 2,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
  'Sex': 'female',
  'Age': 38,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'PC 17599',
  'Fare': 71.2833,
  'Cabin': 'C85',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e29df'),
  'PassengerId': 12,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Bonnell, Miss. Elizabeth',
  'Sex': 'female',
  'Age': 58,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 113783,
  'Fare': 26.55,
  'Cabin': 'C103',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e29e9'),
  'PassengerId': 32,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Spencer, Mrs. William Augustus (Marie Eugenie)',
  'Sex': 'female',
  'Age': '',
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'PC 17569',
  'Fare': 146.5208,
  'Cabin': 'B78',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2a01'),
  'PassengerId': 53,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
  'Sex': 'female',
  'Age': 49,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'PC 17572',
  'Fare': 76.7292,
  'Cabin': 'D33',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2a13'),
  'PassengerId': 89,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Fortune, Miss. Mabel Helen',
  'Sex': 'female',
  'Age': 23,
  'SibSp': 3,
  'Parch': 2,
  'Ticket': 19950,
  'Fare': 263,
  'Cabin': 'C23 C25 C27',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2a1c'),
  'PassengerId': 62,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Icard, Miss. Amelie',
  'Sex': 'female',
  'Age': 38,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 113572,
  'Fare': 80,
  'Cabin': 'B28',
  'Embarked': ''},
 {'_id': ObjectId('63c072ce73246b274e3e2a57'),
  'PassengerId': 137,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Newsom, Miss. Helen Monypeny',
  'Sex': 'female',
  'Age': 19,
  'SibSp': 0,
  'Parch': 2,
  'Ticket': 11752,
  'Fare': 26.2833,
  'Cabin': 'D47',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2a5a'),
  'PassengerId': 152,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Pears, Mrs. Thomas (Edith Wearne)',
  'Sex': 'female',
  'Age': 22,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 113776,
  'Fare': 66.6,
  'Cabin': 'C2',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2a71'),
  'PassengerId': 167,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Chibnall, Mrs. (Edith Martha Bowerman)',
  'Sex': 'female',
  'Age': '',
  'SibSp': 0,
  'Parch': 1,
  'Ticket': 113505,
  'Fare': 55,
  'Cabin': 'E33',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2a9c'),
  'PassengerId': 195,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Brown, Mrs. James Joseph (Margaret Tobin)',
  'Sex': 'female',
  'Age': 44,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'PC 17610',
  'Fare': 27.7208,
  'Cabin': 'B4',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2a9f'),
  'PassengerId': 196,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Lurette, Miss. Elise',
  'Sex': 'female',
  'Age': 58,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'PC 17569',
  'Fare': 146.5208,
  'Cabin': 'B80',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2aa3'),
  'PassengerId': 216,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Newell, Miss. Madeleine',
  'Sex': 'female',
  'Age': 31,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 35273,
  'Fare': 113.275,
  'Cabin': 'D36',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2aa8'),
  'PassengerId': 219,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Bazzani, Miss. Albina',
  'Sex': 'female',
  'Age': 32,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 11813,
  'Fare': 76.2917,
  'Cabin': 'D15',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2ab2'),
  'PassengerId': 231,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Harris, Mrs. Henry Birkhardt (Irene Wallach)',
  'Sex': 'female',
  'Age': 35,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 36973,
  'Fare': 83.475,
  'Cabin': 'C83',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2ac7'),
  'PassengerId': 269,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Graham, Mrs. William Thompson (Edith Junkins)',
  'Sex': 'female',
  'Age': 58,
  'SibSp': 0,
  'Parch': 1,
  'Ticket': 'PC 17582',
  'Fare': 153.4625,
  'Cabin': 'C125',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2ac9'),
  'PassengerId': 270,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Bissette, Miss. Amelia',
  'Sex': 'female',
  'Age': 35,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'PC 17760',
  'Fare': 135.6333,
  'Cabin': 'C99',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2ad7'),
  'PassengerId': 258,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Cherry, Miss. Gladys',
  'Sex': 'female',
  'Age': 30,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 110152,
  'Fare': 86.5,
  'Cabin': 'B77',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2ad8'),
  'PassengerId': 259,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Ward, Miss. Anna',
  'Sex': 'female',
  'Age': 35,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'PC 17755',
  'Fare': 512.3292,
  'Cabin': '',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2adb'),
  'PassengerId': 257,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Thorne, Mrs. Gertrude Maybelle',
  'Sex': 'female',
  'Age': '',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'PC 17585',
  'Fare': 79.2,
  'Cabin': '',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2add'),
  'PassengerId': 276,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Andrews, Miss. Kornelia Theodosia',
  'Sex': 'female',
  'Age': 63,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 13502,
  'Fare': 77.9583,
  'Cabin': 'D7',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2aee'),
  'PassengerId': 292,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Bishop, Mrs. Dickinson H (Helen Walton)',
  'Sex': 'female',
  'Age': 19,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 11967,
  'Fare': 91.0792,
  'Cabin': 'B49',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2af6'),
  'PassengerId': 291,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Barber, Miss. Ellen "Nellie"',
  'Sex': 'female',
  'Age': 26,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 19877,
  'Fare': 78.85,
  'Cabin': '',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2af8'),
  'PassengerId': 300,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)',
  'Sex': 'female',
  'Age': 50,
  'SibSp': 0,
  'Parch': 1,
  'Ticket': 'PC 17558',
  'Fare': 247.5208,
  'Cabin': 'B58 B60',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2af9'),
  'PassengerId': 320,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)',
  'Sex': 'female',
  'Age': 40,
  'SibSp': 1,
  'Parch': 1,
  'Ticket': 16966,
  'Fare': 134.5,
  'Cabin': 'E34',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2b00'),
  'PassengerId': 326,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Young, Miss. Marie Grice',
  'Sex': 'female',
  'Age': 36,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'PC 17760',
  'Fare': 135.6333,
  'Cabin': 'C32',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2b04'),
  'PassengerId': 330,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Hippach, Miss. Jean Gertrude',
  'Sex': 'female',
  'Age': 16,
  'SibSp': 0,
  'Parch': 1,
  'Ticket': 111361,
  'Fare': 57.9792,
  'Cabin': 'B18',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2b08'),
  'PassengerId': 335,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)',
  'Sex': 'female',
  'Age': '',
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'PC 17611',
  'Fare': 133.65,
  'Cabin': '',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2b0c'),
  'PassengerId': 310,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Francatelli, Miss. Laura Mabel',
  'Sex': 'female',
  'Age': 30,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'PC 17485',
  'Fare': 56.9292,
  'Cabin': 'E36',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2b0d'),
  'PassengerId': 311,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Hays, Miss. Margaret Bechstein',
  'Sex': 'female',
  'Age': 24,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 11767,
  'Fare': 83.1583,
  'Cabin': 'C54',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2b0f'),
  'PassengerId': 312,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Ryerson, Miss. Emily Borie',
  'Sex': 'female',
  'Age': 18,
  'SibSp': 2,
  'Parch': 2,
  'Ticket': 'PC 17608',
  'Fare': 262.375,
  'Cabin': 'B57 B59 B63 B66',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2b10'),
  'PassengerId': 307,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Fleming, Miss. Margaret',
  'Sex': 'female',
  'Age': '',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 17421,
  'Fare': 110.8833,
  'Cabin': '',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2b12'),
  'PassengerId': 308,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)',
  'Sex': 'female',
  'Age': 17,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'PC 17758',
  'Fare': 108.9,
  'Cabin': 'C65',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2b16'),
  'PassengerId': 338,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Burns, Miss. Elizabeth Margaret',
  'Sex': 'female',
  'Age': 41,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 16966,
  'Fare': 134.5,
  'Cabin': 'E40',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2b1d'),
  'PassengerId': 342,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Fortune, Miss. Alice Elizabeth',
  'Sex': 'female',
  'Age': 24,
  'SibSp': 3,
  'Parch': 2,
  'Ticket': 19950,
  'Fare': 263,
  'Cabin': 'C23 C25 C27',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2b29'),
  'PassengerId': 319,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Wick, Miss. Mary Natalie',
  'Sex': 'female',
  'Age': 31,
  'SibSp': 0,
  'Parch': 2,
  'Ticket': 36928,
  'Fare': 164.8667,
  'Cabin': 'C7',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2b32'),
  'PassengerId': 357,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Bowerman, Miss. Elsie Edith',
  'Sex': 'female',
  'Age': 22,
  'SibSp': 0,
  'Parch': 1,
  'Ticket': 113505,
  'Fare': 55,
  'Cabin': 'E33',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2b36'),
  'PassengerId': 381,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Bidois, Miss. Rosalie',
  'Sex': 'female',
  'Age': 42,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'PC 17757',
  'Fare': 227.525,
  'Cabin': '',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2b39'),
  'PassengerId': 384,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)',
  'Sex': 'female',
  'Age': 35,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 113789,
  'Fare': 52,
  'Cabin': '',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2b44'),
  'PassengerId': 394,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Newell, Miss. Marjorie',
  'Sex': 'female',
  'Age': 23,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 35273,
  'Fare': 113.275,
  'Cabin': 'D36',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2b48'),
  'PassengerId': 367,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)',
  'Sex': 'female',
  'Age': 60,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 110813,
  'Fare': 75.25,
  'Cabin': 'D37',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2b4d'),
  'PassengerId': 370,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Aubart, Mme. Leontine Pauline',
  'Sex': 'female',
  'Age': 24,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'PC 17477',
  'Fare': 69.3,
  'Cabin': 'B35',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2b59'),
  'PassengerId': 376,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Meyer, Mrs. Edgar Joseph (Leila Saks)',
  'Sex': 'female',
  'Age': '',
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'PC 17604',
  'Fare': 82.1708,
  'Cabin': '',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2b68'),
  'PassengerId': 413,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Minahan, Miss. Daisy E',
  'Sex': 'female',
  'Age': 33,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 19928,
  'Fare': 90,
  'Cabin': 'C78',
  'Embarked': 'Q'},
 {'_id': ObjectId('63c072ce73246b274e3e2b6e'),
  'PassengerId': 436,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Carter, Miss. Lucile Polk',
  'Sex': 'female',
  'Age': 14,
  'SibSp': 1,
  'Parch': 2,
  'Ticket': 113760,
  'Fare': 120,
  'Cabin': 'B96 B98',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2b96'),
  'PassengerId': 458,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Kenyon, Mrs. Frederick R (Marion)',
  'Sex': 'female',
  'Age': '',
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 17464,
  'Fare': 51.8625,
  'Cabin': 'D21',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2bb4'),
  'PassengerId': 487,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)',
  'Sex': 'female',
  'Age': 35,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 19943,
  'Fare': 90,
  'Cabin': 'C93',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2bbb'),
  'PassengerId': 497,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Eustis, Miss. Elizabeth Mussey',
  'Sex': 'female',
  'Age': 54,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 36947,
  'Fare': 78.2667,
  'Cabin': 'D20',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2bc5'),
  'PassengerId': 505,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Maioni, Miss. Roberta',
  'Sex': 'female',
  'Age': 16,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 110152,
  'Fare': 86.5,
  'Cabin': 'B79',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2bcf'),
  'PassengerId': 514,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)',
  'Sex': 'female',
  'Age': 54,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'PC 17603',
  'Fare': 59.4,
  'Cabin': '',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2bd7'),
  'PassengerId': 521,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Perreault, Miss. Anne',
  'Sex': 'female',
  'Age': 30,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 12749,
  'Fare': 93.5,
  'Cabin': 'B73',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2bd8'),
  'PassengerId': 524,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)',
  'Sex': 'female',
  'Age': 44,
  'SibSp': 0,
  'Parch': 1,
  'Ticket': 111361,
  'Fare': 57.9792,
  'Cabin': 'B18',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2be4'),
  'PassengerId': 538,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'LeRoy, Miss. Bertha',
  'Sex': 'female',
  'Age': 30,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'PC 17761',
  'Fare': 106.425,
  'Cabin': '',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2be6'),
  'PassengerId': 557,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
  'Sex': 'female',
  'Age': 48,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 11755,
  'Fare': 39.6,
  'Cabin': 'A16',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2be8'),
  'PassengerId': 559,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Taussig, Mrs. Emil (Tillie Mandelbaum)',
  'Sex': 'female',
  'Age': 39,
  'SibSp': 1,
  'Parch': 1,
  'Ticket': 110413,
  'Fare': 79.65,
  'Cabin': 'E67',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2bf6'),
  'PassengerId': 572,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Appleton, Mrs. Edward Dale (Charlotte Lamson)',
  'Sex': 'female',
  'Age': 53,
  'SibSp': 2,
  'Parch': 0,
  'Ticket': 11769,
  'Fare': 51.4792,
  'Cabin': 'C101',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2bf9'),
  'PassengerId': 540,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Frolicher, Miss. Hedwig Margaritha',
  'Sex': 'female',
  'Age': 22,
  'SibSp': 0,
  'Parch': 2,
  'Ticket': 13568,
  'Fare': 49.5,
  'Cabin': 'B39',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2bfa'),
  'PassengerId': 541,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Crosby, Miss. Harriet R',
  'Sex': 'female',
  'Age': 36,
  'SibSp': 0,
  'Parch': 2,
  'Ticket': 'WE/P 5735',
  'Fare': 71,
  'Cabin': 'B22',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2c09'),
  'PassengerId': 578,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Silvey, Mrs. William Baird (Alice Munger)',
  'Sex': 'female',
  'Age': 39,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 13507,
  'Fare': 55.9,
  'Cabin': 'E44',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2c10'),
  'PassengerId': 582,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Thayer, Mrs. John Borland (Marian Longstreth Morris)',
  'Sex': 'female',
  'Age': 39,
  'SibSp': 1,
  'Parch': 1,
  'Ticket': 17421,
  'Fare': 110.8833,
  'Cabin': 'C68',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2c16'),
  'PassengerId': 586,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Taussig, Miss. Ruth',
  'Sex': 'female',
  'Age': 18,
  'SibSp': 0,
  'Parch': 2,
  'Ticket': 110413,
  'Fare': 79.65,
  'Cabin': 'E68',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2c1c'),
  'PassengerId': 592,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Stephenson, Mrs. Walter Bertram (Martha Eustis)',
  'Sex': 'female',
  'Age': 52,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 36947,
  'Fare': 78.2667,
  'Cabin': 'D20',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2c29'),
  'PassengerId': 610,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Shutes, Miss. Elizabeth W',
  'Sex': 'female',
  'Age': 40,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'PC 17582',
  'Fare': 153.4625,
  'Cabin': 'C125',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2c3a'),
  'PassengerId': 628,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Longley, Miss. Gretchen Fiske',
  'Sex': 'female',
  'Age': 21,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 13502,
  'Fare': 77.9583,
  'Cabin': 'D9',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2c4b'),
  'PassengerId': 642,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Sagesser, Mlle. Emma',
  'Sex': 'female',
  'Age': 24,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'PC 17477',
  'Fare': 69.3,
  'Cabin': 'B35',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2c6e'),
  'PassengerId': 670,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)',
  'Sex': 'female',
  'Age': '',
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 19996,
  'Fare': 52,
  'Cabin': 'C126',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2c77'),
  'PassengerId': 701,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)',
  'Sex': 'female',
  'Age': 18,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'PC 17757',
  'Fare': 227.525,
  'Cabin': 'C62 C64',
  'Embarked': 'C'},
 {'_id': ObjectId('63c072ce73246b274e3e2c89'),
  'PassengerId': 690,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Madill, Miss. Georgette Alexandra',
  'Sex': 'female',
  'Age': 15,
  'SibSp': 0,
  'Parch': 1,
  'Ticket': 24160,
  'Fare': 211.3375,
  'Cabin': 'B5',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2c91'),
  'PassengerId': 709,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Cleaver, Miss. Alice',
  'Sex': 'female',
  'Age': 22,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 113781,
  'Fare': 151.55,
  'Cabin': '',
  'Embarked': 'S'},
 {'_id': ObjectId('63c072ce73246b274e3e2c93'),
  'PassengerId': 711,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")',
  'Sex': 'female',
  'Age': 24,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'PC 17482',
  'Fare': 49.5042,
  'Cabin': 'C90',

In [18]:
# Can specify a search criteria with find_one too
training.find_one({"Sex" : "female"})

{'_id': ObjectId('63c072ce73246b274e3e29ce'),
 'PassengerId': 3,
 'Survived': 1,
 'Pclass': 3,
 'Name': 'Heikkinen, Miss. Laina',
 'Sex': 'female',
 'Age': 26,
 'SibSp': 0,
 'Parch': 0,
 'Ticket': 'STON/O2. 3101282',
 'Fare': 7.925,
 'Cabin': '',
 'Embarked': 'S'}

# Data Dictionary

One consequence of being schemaless, means there are no conventional data dictionary tables to check if the collection or document names exist. This means that it will not generate an error message if neither exist. Do note, the names are all case sensitive. 

Why will the following return no records?

In [19]:
training.find_one({"passengerid" : 500})

In [20]:
db.Training.find_one({"PassengerId" : 500})

But it will generate an error message if it can not find the variables or functions:

In [21]:
Training.find_one({"passengerid" : 500})

NameError: name 'Training' is not defined

In [22]:
training.find_One({"passengerid" : 500})

TypeError: 'Collection' object is not callable. If you meant to call the 'find_One' method on a 'Collection' object it is failing because no such method exists.

In [23]:
# Lets find our passenger
training.find_one({"PassengerId" : 500})

{'_id': ObjectId('63c072ce73246b274e3e2bbe'),
 'PassengerId': 500,
 'Survived': 0,
 'Pclass': 3,
 'Name': 'Svensson, Mr. Olof',
 'Sex': 'male',
 'Age': 24,
 'SibSp': 0,
 'Parch': 0,
 'Ticket': 350035,
 'Fare': 7.7958,
 'Cabin': '',
 'Embarked': 'S'}

There may not be a data dictionary collection to query, but you can find the keys in a collection, which are similar to the column names in a relational database. Be aware though, that the structure can vary from document to document in a given collection.

In [24]:
training.find_one().keys()

dict_keys(['_id', 'PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'])

For example, we may decide to remove any documents where the Age is blank

In [25]:
training.find_one({"Age": ""})

{'_id': ObjectId('63c072ce73246b274e3e29d1'),
 'PassengerId': 6,
 'Survived': 0,
 'Pclass': 3,
 'Name': 'Moran, Mr. James',
 'Sex': 'male',
 'Age': '',
 'SibSp': 0,
 'Parch': 0,
 'Ticket': 330877,
 'Fare': 8.4583,
 'Cabin': '',
 'Embarked': 'Q'}

In [26]:
# Remove the empty Age keys, but note the document will remain
training.update_many({"Age" : ""}, { "$unset": {"Age" : 1 }});

In [27]:
# Now there are no empty age fields
training.find_one({"Age": ""})

In [28]:
# But there are still other ages available:
printDoc(training.find({"Age": 50}))

{'_id': ObjectId('63c072ce73246b274e3e2a93'), 'PassengerId': 178, 'Survived': 0, 'Pclass': 1, 'Name': 'Isham, Miss. Ann Elizabeth', 'Sex': 'female', 'Age': 50, 'SibSp': 0, 'Parch': 0, 'Ticket': 'PC 17595', 'Fare': 28.7125, 'Cabin': 'C49', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2abd'), 'PassengerId': 260, 'Survived': 1, 'Pclass': 2, 'Name': 'Parrish, Mrs. (Lutie Davis)', 'Sex': 'female', 'Age': 50, 'SibSp': 0, 'Parch': 1, 'Ticket': 230433, 'Fare': 26, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2af8'), 'PassengerId': 300, 'Survived': 1, 'Pclass': 1, 'Name': 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)', 'Sex': 'female', 'Age': 50, 'SibSp': 0, 'Parch': 1, 'Ticket': 'PC 17558', 'Fare': 247.5208, 'Cabin': 'B58 B60', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2b91'), 'PassengerId': 435, 'Survived': 0, 'Pclass': 1, 'Name': 'Silvey, Mr. William Baird', 'Sex': 'male', 'Age': 50, 'SibSp': 1, 'Parch': 0, 'Ticket': 13507, 'Fare': 55.9, 'Cabin': 'E44', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2b97'), 'PassengerId': 459, 'Survived': 1, 'Pclass': 2, 'Name': 'Toomey, Miss. Ellen', 'Sex': 'female', 'Age': 50, 'SibSp': 0, 'Parch': 0, 'Ticket': 'F.C.C. 13531', 'Fare': 10.5, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2baf'), 'PassengerId': 483, 'Survived': 0, 'Pclass': 3, 'Name': 'Rouse, Mr. Richard Henry', 'Sex': 'male', 'Age': 50, 'SibSp': 0, 'Parch': 0, 'Ticket': 'A/5 3594', 'Fare': 8.05, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2bdb'), 'PassengerId': 527, 'Survived': 1, 'Pclass': 2, 'Name': 'Ridsdale, Miss. Lucy', 'Sex': 'female', 'Age': 50, 'SibSp': 0, 'Parch': 0, 'Ticket': 'W./C. 14258', 'Fare': 10.5, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2bfe'), 'PassengerId': 545, 'Survived': 0, 'Pclass': 1, 'Name': 'Douglas, Mr. Walter Donald', 'Sex': 'male', 'Age': 50, 'SibSp': 1, 'Parch': 0, 'Ticket': 'PC 17761', 'Fare': 106.425, 'Cabin': 'C86', 'Embarked': 'C'}
{'_id': ObjectId('63c072ce73246b274e3e2c5d'), 'PassengerId': 661, 'Survived': 1, 'Pclass': 1, 'Name': 'Frauenthal, Dr. Henry William', 'Sex': 'male', 'Age': 50, 'SibSp': 2, 'Parch': 0, 'Ticket': 'PC 17611', 'Fare': 133.65, 'Cabin': '', 'Embarked': 'S'}
{'_id': ObjectId('63c072ce73246b274e3e2ca0'), 'PassengerId': 724, 'Survived': 0, 'Pclass': 2, 'Name': 'Hodges, Mr. Henry Price', 'Sex': 'male', 'Age': 50, 'SibSp': 0, 'Parch': 0, 'Ticket': 250643, 'Fare': 13, 'Cabin': '', 'Embarked': 'S'}

In [29]:
# The consequence of this is that the keys will be slightly different for the records that still contain the Age key
# Without the age:
training.find_one({"PassengerId" : 6}).keys()

dict_keys(['_id', 'PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'])

In [30]:
# With the Age key:
training.find_one({"PassengerId" : 7}).keys()

dict_keys(['_id', 'PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'])

In [31]:
# how many documents in the collection
db.training.count()

/tmp/ipykernel_274/4285660295.py:2: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  db.training.count()

891

In [32]:
# count() deprecated since version 3.7
db.training.count_documents({})

891

In [33]:
# can access via the index (starts at 0)
training.find()[0]

{'_id': ObjectId('63c072ce73246b274e3e29cd'),
 'PassengerId': 1,
 'Survived': 0,
 'Pclass': 3,
 'Name': 'Braund, Mr. Owen Harris',
 'Sex': 'male',
 'Age': 22,
 'SibSp': 1,
 'Parch': 0,
 'Ticket': 'A/5 21171',
 'Fare': 7.25,
 'Cabin': '',
 'Embarked': 'S'}

In [34]:
# second record
training.find()[1]

{'_id': ObjectId('63c072ce73246b274e3e29ce'),
 'PassengerId': 3,
 'Survived': 1,
 'Pclass': 3,
 'Name': 'Heikkinen, Miss. Laina',
 'Sex': 'female',
 'Age': 26,
 'SibSp': 0,
 'Parch': 0,
 'Ticket': 'STON/O2. 3101282',
 'Fare': 7.925,
 'Cabin': '',
 'Embarked': 'S'}

In [35]:
# Last one
len = training.count_documents({})-1
training.find()[len]

{'_id': ObjectId('63c072ce73246b274e3e2d47'),
 'PassengerId': 878,
 'Survived': 0,
 'Pclass': 3,
 'Name': 'Petroff, Mr. Nedelio',
 'Sex': 'male',
 'Age': 19,
 'SibSp': 0,
 'Parch': 0,
 'Ticket': 349212,
 'Fare': 7.8958,
 'Cabin': '',
 'Embarked': 'S'}

Count can be used with queries to count the result, rather than listing them

In [36]:
training.find({"Age": 22}).count()

/tmp/ipykernel_274/542415492.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  training.find({"Age": 22}).count()

27

In [37]:
training.count_documents({"Age": 50})

10

# Part 15: Complex queries and analysis
# Aggregation Pipeline

More complex processing, including grouping, aggregation functions, and data renaming is achieved through MongoDBsaggregation pipeline.

For example a query can involve several stages:
                                                
First stage: filter out documents that do not match some criterion<br>
Second stage: group those documents<br>
Third stage: select only groups that match another criterion<br>
Fourth stage: group summaries would then be returned to the client<br>

By building up a pipeline in stages, complex data processing tasks can be built from simple components.

<img src="pipeline.png">

<img src="pipeline_functions.png">

Further examples can be found in *Notebook 15.3 Introducing aggregation pipelines.*

The examples below and in the practical activities all use small data sets that can be used locally. With huge datasets, the processing may be spread over many computers for processing to aid speed. Data processing tools (such as the aggregation pipeline and MapReduce) keep the processing of data near that data itself, reducing the work required by the client and the amount of data to be moved across the network from server to client.

In [38]:
# Equivalent to SELECT COUNT(*) FROM Training;
# Need to group by an _id
pipeline = [
     {"$group": {"_id": 0, "No of passengers": {"$sum": 1}}},
]

list(training.aggregate(pipeline))

[{'_id': 0, 'No of passengers': 891}]

In [39]:
# SELECT embark, count(*) FROM training;
printDoc(db.training.aggregate( [ { "$group" : { "_id" : "$Embarked", "count": {"$sum": 1} }} ] ))

{'_id': 'C', 'count': 168}
{'_id': 'S', 'count': 644}
{'_id': '', 'count': 2}
{'_id': 'Q', 'count': 77}

In [40]:
# SELECT age, count(*) FROM training ORDER BY age;
printDoc(db.training.aggregate( [ { "$group" : { "_id" : "$Age", "count": {"$sum": 1} }},
                               { "$sort" : {"_id" : 1}} ] ))

{'_id': None, 'count': 177}
{'_id': 0.42, 'count': 1}
{'_id': 0.67, 'count': 1}
{'_id': 0.75, 'count': 2}
{'_id': 0.83, 'count': 2}
{'_id': 0.92, 'count': 1}
{'_id': 1, 'count': 7}
{'_id': 2, 'count': 10}
{'_id': 3, 'count': 6}
{'_id': 4, 'count': 10}
{'_id': 5, 'count': 4}
{'_id': 6, 'count': 3}
{'_id': 7, 'count': 3}
{'_id': 8, 'count': 4}
{'_id': 9, 'count': 8}
{'_id': 10, 'count': 2}
{'_id': 11, 'count': 4}
{'_id': 12, 'count': 1}
{'_id': 13, 'count': 2}
{'_id': 14, 'count': 6}
{'_id': 14.5, 'count': 1}
{'_id': 15, 'count': 5}
{'_id': 16, 'count': 17}
{'_id': 17, 'count': 13}
{'_id': 18, 'count': 26}
{'_id': 19, 'count': 25}
{'_id': 20, 'count': 15}
{'_id': 20.5, 'count': 1}
{'_id': 21, 'count': 24}
{'_id': 22, 'count': 27}
{'_id': 23, 'count': 15}
{'_id': 23.5, 'count': 1}
{'_id': 24, 'count': 30}
{'_id': 24.5, 'count': 1}
{'_id': 25, 'count': 23}
{'_id': 26, 'count': 18}
{'_id': 27, 'count': 18}
{'_id': 28, 'count': 25}
{'_id': 28.5, 'count': 2}
{'_id': 29, 'count': 20}
{'_id': 30, 'count': 25}
{'_id': 30.5, 'count': 2}
{'_id': 31, 'count': 17}
{'_id': 32, 'count': 18}
{'_id': 32.5, 'count': 2}
{'_id': 33, 'count': 15}
{'_id': 34, 'count': 15}
{'_id': 34.5, 'count': 1}
{'_id': 35, 'count': 18}
{'_id': 36, 'count': 22}
{'_id': 36.5, 'count': 1}
{'_id': 37, 'count': 6}
{'_id': 38, 'count': 11}
{'_id': 39, 'count': 14}
{'_id': 40, 'count': 13}
{'_id': 40.5, 'count': 2}
{'_id': 41, 'count': 6}
{'_id': 42, 'count': 13}
{'_id': 43, 'count': 5}
{'_id': 44, 'count': 9}
{'_id': 45, 'count': 12}
{'_id': 45.5, 'count': 2}
{'_id': 46, 'count': 3}
{'_id': 47, 'count': 9}
{'_id': 48, 'count': 9}
{'_id': 49, 'count': 6}
{'_id': 50, 'count': 10}
{'_id': 51, 'count': 7}
{'_id': 52, 'count': 6}
{'_id': 53, 'count': 1}
{'_id': 54, 'count': 8}
{'_id': 55, 'count': 2}
{'_id': 55.5, 'count': 1}
{'_id': 56, 'count': 4}
{'_id': 57, 'count': 2}
{'_id': 58, 'count': 5}
{'_id': 59, 'count': 2}
{'_id': 60, 'count': 4}
{'_id': 61, 'count': 3}
{'_id': 62, 'count': 4}
{'_id': 63, 'count': 2}
{'_id': 64, 'count': 2}
{'_id': 65, 'count': 3}
{'_id': 66, 'count': 1}
{'_id': 70, 'count': 2}
{'_id': 70.5, 'count': 1}
{'_id': 71, 'count': 2}
{'_id': 74, 'count': 1}
{'_id': 80, 'count': 1}

In [41]:
# SELECT age, count(*) FROM training WHERE age >= 60 ORDER BY age DESC;
# This pipeline involves 3 stages: $group, $ match and $sort
docs = db.training.aggregate( [ { "$group" : { "_id" : "$Age", "count": {"$sum": 1} }},
                                { "$match": { "_id": { "$gte": 60 } }},
                                { "$sort" : {"_id" : -1}} 
                              ] )
printDoc(docs)

{'_id': 80, 'count': 1}
{'_id': 74, 'count': 1}
{'_id': 71, 'count': 2}
{'_id': 70.5, 'count': 1}
{'_id': 70, 'count': 2}
{'_id': 66, 'count': 1}
{'_id': 65, 'count': 3}
{'_id': 64, 'count': 2}
{'_id': 63, 'count': 2}
{'_id': 62, 'count': 4}
{'_id': 61, 'count': 3}
{'_id': 60, 'count': 4}

In [42]:
# SELECT sex, pclass, count(*) FROM training GROUP BY sex, pclass ORDER BY count DESC;
list(training.aggregate([
    {"$group" : {"_id":{"sex":"$Sex", "class":"$Pclass"}, "count":{"$sum":1}}},
    {"$sort" : {"count" : -1}} 
]))

[{'_id': {'sex': 'male', 'class': 3}, 'count': 347},
 {'_id': {'sex': 'female', 'class': 3}, 'count': 144},
 {'_id': {'sex': 'male', 'class': 1}, 'count': 122},
 {'_id': {'sex': 'male', 'class': 2}, 'count': 108},
 {'_id': {'sex': 'female', 'class': 1}, 'count': 94},
 {'_id': {'sex': 'female', 'class': 2}, 'count': 76}]

# Joins

The EMA_MongoDB_joins Notebook found with the TMA02 assessment give some examples of using joins in MongoDB. As mentioned in this notebook joining documents was not possible in earlier versions of MongoDB, later versions introduced something similar to a simple left join using the pipeline `$lookup` operator ([Mongo docs](https://www.mongodb.com/docs/manual/reference/operator/aggregation/lookup/)).

MongoDB provides the joins as part of the aggregation steps. 

For these examples the testset and gender_submission collections, you still join on a common column as seen in relational databases. 

In this case *PassengerId* is the common field in both collections.

In [43]:
# SELECT * FROM testset t LEFT OUTER JOIN gender_submission gs WHERE t.PassengerId = gs.PassengerId
list(testset.aggregate([
   {
     "$lookup":
       {
         "from": "gender_submission",
         "localField": "PassengerId",
         "foreignField": "PassengerId",
         "as": "joined"
       }
  }
]))

[{'_id': ObjectId('63c072cfabda8afc4c88d14a'),
  'PassengerId': 893,
  'Pclass': 3,
  'Name': 'Wilkes, Mrs. James (Ellen Needs)',
  'Sex': 'female',
  'Age': 47,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 363272,
  'Fare': 7,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329fb4'),
    'PassengerId': 893,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d14b'),
  'PassengerId': 894,
  'Pclass': 2,
  'Name': 'Myles, Mr. Thomas Francis',
  'Sex': 'male',
  'Age': 62,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 240276,
  'Fare': 9.6875,
  'Cabin': '',
  'Embarked': 'Q',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329fb3'),
    'PassengerId': 894,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d14c'),
  'PassengerId': 895,
  'Pclass': 3,
  'Name': 'Wirz, Mr. Albert',
  'Sex': 'male',
  'Age': 27,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 315154,
  'Fare': 8.6625,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329fde'),
    'PassengerId': 895,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d14d'),
  'PassengerId': 896,
  'Pclass': 3,
  'Name': 'Hirvonen, Mrs. Alexander (Helga E Lindqvist)',
  'Sex': 'female',
  'Age': 22,
  'SibSp': 1,
  'Parch': 1,
  'Ticket': 3101298,
  'Fare': 12.2875,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329fe2'),
    'PassengerId': 896,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d14e'),
  'PassengerId': 897,
  'Pclass': 3,
  'Name': 'Svensson, Mr. Johan Cervin',
  'Sex': 'male',
  'Age': 14,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 7538,
  'Fare': 9.225,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f98'),
    'PassengerId': 897,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d14f'),
  'PassengerId': 898,
  'Pclass': 3,
  'Name': 'Connolly, Miss. Kate',
  'Sex': 'female',
  'Age': 30,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 330972,
  'Fare': 7.6292,
  'Cabin': '',
  'Embarked': 'Q',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f96'),
    'PassengerId': 898,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d150'),
  'PassengerId': 899,
  'Pclass': 2,
  'Name': 'Caldwell, Mr. Albert Francis',
  'Sex': 'male',
  'Age': 26,
  'SibSp': 1,
  'Parch': 1,
  'Ticket': 248738,
  'Fare': 29,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f97'),
    'PassengerId': 899,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d151'),
  'PassengerId': 901,
  'Pclass': 3,
  'Name': 'Davies, Mr. John Samuel',
  'Sex': 'male',
  'Age': 21,
  'SibSp': 2,
  'Parch': 0,
  'Ticket': 'A/4 48871',
  'Fare': 24.15,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f9c'),
    'PassengerId': 901,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d152'),
  'PassengerId': 902,
  'Pclass': 3,
  'Name': 'Ilieff, Mr. Ylio',
  'Sex': 'male',
  'Age': '',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 349220,
  'Fare': 7.8958,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f9d'),
    'PassengerId': 902,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d153'),
  'PassengerId': 903,
  'Pclass': 1,
  'Name': 'Jones, Mr. Charles Cresson',
  'Sex': 'male',
  'Age': 46,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 694,
  'Fare': 26,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f9e'),
    'PassengerId': 903,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d154'),
  'PassengerId': 904,
  'Pclass': 1,
  'Name': 'Snyder, Mrs. John Pillsbury (Nelle Stevenson)',
  'Sex': 'female',
  'Age': 23,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 21228,
  'Fare': 82.2667,
  'Cabin': 'B45',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f9f'),
    'PassengerId': 904,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d155'),
  'PassengerId': 905,
  'Pclass': 2,
  'Name': 'Howard, Mr. Benjamin',
  'Sex': 'male',
  'Age': 63,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 24065,
  'Fare': 26,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f70'),
    'PassengerId': 905,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d156'),
  'PassengerId': 906,
  'Pclass': 1,
  'Name': 'Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)',
  'Sex': 'female',
  'Age': 47,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'W.E.P. 5734',
  'Fare': 61.175,
  'Cabin': 'E31',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f82'),
    'PassengerId': 906,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d157'),
  'PassengerId': 907,
  'Pclass': 2,
  'Name': 'del Carlo, Mrs. Sebastiano (Argenia Genovesi)',
  'Sex': 'female',
  'Age': 24,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'SC/PARIS 2167',
  'Fare': 27.7208,
  'Cabin': '',
  'Embarked': 'C',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f71'),
    'PassengerId': 907,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d158'),
  'PassengerId': 900,
  'Pclass': 3,
  'Name': 'Abrahim, Mrs. Joseph (Sophie Halaut Easu)',
  'Sex': 'female',
  'Age': 18,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 2657,
  'Fare': 7.2292,
  'Cabin': '',
  'Embarked': 'C',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f9b'),
    'PassengerId': 900,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d159'),
  'PassengerId': 908,
  'Pclass': 2,
  'Name': 'Keane, Mr. Daniel',
  'Sex': 'male',
  'Age': 35,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 233734,
  'Fare': 12.35,
  'Cabin': '',
  'Embarked': 'Q',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f72'),
    'PassengerId': 908,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d15a'),
  'PassengerId': 909,
  'Pclass': 3,
  'Name': 'Assaf, Mr. Gerios',
  'Sex': 'male',
  'Age': 21,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 2692,
  'Fare': 7.225,
  'Cabin': '',
  'Embarked': 'C',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f73'),
    'PassengerId': 909,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d15b'),
  'PassengerId': 910,
  'Pclass': 3,
  'Name': 'Ilmakangas, Miss. Ida Livija',
  'Sex': 'female',
  'Age': 27,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'STON/O2. 3101270',
  'Fare': 7.925,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f74'),
    'PassengerId': 910,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d15c'),
  'PassengerId': 911,
  'Pclass': 3,
  'Name': 'Assaf Khalil, Mrs. Mariana (Miriam")"',
  'Sex': 'female',
  'Age': 45,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 2696,
  'Fare': 7.225,
  'Cabin': '',
  'Embarked': 'C',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f75'),
    'PassengerId': 911,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d15d'),
  'PassengerId': 912,
  'Pclass': 1,
  'Name': 'Rothschild, Mr. Martin',
  'Sex': 'male',
  'Age': 55,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'PC 17603',
  'Fare': 59.4,
  'Cabin': '',
  'Embarked': 'C',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f76'),
    'PassengerId': 912,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d15e'),
  'PassengerId': 892,
  'Pclass': 3,
  'Name': 'Kelly, Mr. James',
  'Sex': 'male',
  'Age': 34.5,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 330911,
  'Fare': 7.8292,
  'Cabin': '',
  'Embarked': 'Q',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329fce'),
    'PassengerId': 892,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d15f'),
  'PassengerId': 916,
  'Pclass': 1,
  'Name': 'Ryerson, Mrs. Arthur Larned (Emily Maria Borie)',
  'Sex': 'female',
  'Age': 48,
  'SibSp': 1,
  'Parch': 3,
  'Ticket': 'PC 17608',
  'Fare': 262.375,
  'Cabin': 'B57 B59 B63 B66',
  'Embarked': 'C',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f7a'),
    'PassengerId': 916,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d160'),
  'PassengerId': 917,
  'Pclass': 3,
  'Name': 'Robins, Mr. Alexander A',
  'Sex': 'male',
  'Age': 50,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'A/5. 3337',
  'Fare': 14.5,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f7b'),
    'PassengerId': 917,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d161'),
  'PassengerId': 918,
  'Pclass': 1,
  'Name': 'Ostby, Miss. Helene Ragnhild',
  'Sex': 'female',
  'Age': 22,
  'SibSp': 0,
  'Parch': 1,
  'Ticket': 113509,
  'Fare': 61.9792,
  'Cabin': 'B36',
  'Embarked': 'C',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f7c'),
    'PassengerId': 918,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d162'),
  'PassengerId': 919,
  'Pclass': 3,
  'Name': 'Daher, Mr. Shedid',
  'Sex': 'male',
  'Age': 22.5,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 2698,
  'Fare': 7.225,
  'Cabin': '',
  'Embarked': 'C',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f7d'),
    'PassengerId': 919,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d163'),
  'PassengerId': 915,
  'Pclass': 1,
  'Name': 'Williams, Mr. Richard Norris II',
  'Sex': 'male',
  'Age': 21,
  'SibSp': 0,
  'Parch': 1,
  'Ticket': 'PC 17597',
  'Fare': 61.3792,
  'Cabin': '',
  'Embarked': 'C',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f79'),
    'PassengerId': 915,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d164'),
  'PassengerId': 920,
  'Pclass': 1,
  'Name': 'Brady, Mr. John Bertram',
  'Sex': 'male',
  'Age': 41,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 113054,
  'Fare': 30.5,
  'Cabin': 'A21',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f7e'),
    'PassengerId': 920,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d165'),
  'PassengerId': 914,
  'Pclass': 1,
  'Name': 'Flegenheim, Mrs. Alfred (Antoinette)',
  'Sex': 'female',
  'Age': '',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'PC 17598',
  'Fare': 31.6833,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f78'),
    'PassengerId': 914,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d166'),
  'PassengerId': 921,
  'Pclass': 3,
  'Name': 'Samaan, Mr. Elias',
  'Sex': 'male',
  'Age': '',
  'SibSp': 2,
  'Parch': 0,
  'Ticket': 2662,
  'Fare': 21.6792,
  'Cabin': '',
  'Embarked': 'C',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f7f'),
    'PassengerId': 921,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d167'),
  'PassengerId': 923,
  'Pclass': 2,
  'Name': 'Jefferys, Mr. Clifford Thomas',
  'Sex': 'male',
  'Age': 24,
  'SibSp': 2,
  'Parch': 0,
  'Ticket': 'C.A. 31029',
  'Fare': 31.5,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f81'),
    'PassengerId': 923,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d168'),
  'PassengerId': 924,
  'Pclass': 3,
  'Name': 'Dean, Mrs. Bertram (Eva Georgetta Light)',
  'Sex': 'female',
  'Age': 33,
  'SibSp': 1,
  'Parch': 2,
  'Ticket': 'C.A. 2315',
  'Fare': 20.575,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f83'),
    'PassengerId': 924,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d169'),
  'PassengerId': 922,
  'Pclass': 2,
  'Name': 'Louch, Mr. Charles Alexander',
  'Sex': 'male',
  'Age': 50,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'SC/AH 3085',
  'Fare': 26,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f80'),
    'PassengerId': 922,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d16a'),
  'PassengerId': 925,
  'Pclass': 3,
  'Name': 'Johnston, Mrs. Andrew G (Elizabeth Lily" Watson)"',
  'Sex': 'female',
  'Age': '',
  'SibSp': 1,
  'Parch': 2,
  'Ticket': 'W./C. 6607',
  'Fare': 23.45,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f84'),
    'PassengerId': 925,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d16b'),
  'PassengerId': 926,
  'Pclass': 1,
  'Name': 'Mock, Mr. Philipp Edmund',
  'Sex': 'male',
  'Age': 30,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 13236,
  'Fare': 57.75,
  'Cabin': 'C78',
  'Embarked': 'C',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f85'),
    'PassengerId': 926,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d16c'),
  'PassengerId': 927,
  'Pclass': 3,
  'Name': 'Katavelas, Mr. Vassilios (Catavelas Vassilios")"',
  'Sex': 'male',
  'Age': 18.5,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 2682,
  'Fare': 7.2292,
  'Cabin': '',
  'Embarked': 'C',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f86'),
    'PassengerId': 927,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d16d'),
  'PassengerId': 928,
  'Pclass': 3,
  'Name': 'Roth, Miss. Sarah A',
  'Sex': 'female',
  'Age': '',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 342712,
  'Fare': 8.05,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f87'),
    'PassengerId': 928,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d16e'),
  'PassengerId': 930,
  'Pclass': 3,
  'Name': 'Sap, Mr. Julius',
  'Sex': 'male',
  'Age': 25,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 345768,
  'Fare': 9.5,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f89'),
    'PassengerId': 930,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d16f'),
  'PassengerId': 929,
  'Pclass': 3,
  'Name': 'Cacic, Miss. Manda',
  'Sex': 'female',
  'Age': 21,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 315087,
  'Fare': 8.6625,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f88'),
    'PassengerId': 929,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d170'),
  'PassengerId': 932,
  'Pclass': 3,
  'Name': 'Karun, Mr. Franz',
  'Sex': 'male',
  'Age': 39,
  'SibSp': 0,
  'Parch': 1,
  'Ticket': 349256,
  'Fare': 13.4167,
  'Cabin': '',
  'Embarked': 'C',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f8b'),
    'PassengerId': 932,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d171'),
  'PassengerId': 931,
  'Pclass': 3,
  'Name': 'Hee, Mr. Ling',
  'Sex': 'male',
  'Age': '',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 1601,
  'Fare': 56.4958,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f8a'),
    'PassengerId': 931,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d172'),
  'PassengerId': 933,
  'Pclass': 1,
  'Name': 'Franklin, Mr. Thomas Parham',
  'Sex': 'male',
  'Age': '',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 113778,
  'Fare': 26.55,
  'Cabin': 'D34',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f8c'),
    'PassengerId': 933,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d173'),
  'PassengerId': 934,
  'Pclass': 3,
  'Name': 'Goldsmith, Mr. Nathan',
  'Sex': 'male',
  'Age': 41,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'SOTON/O.Q. 3101263',
  'Fare': 7.85,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f8d'),
    'PassengerId': 934,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d174'),
  'PassengerId': 913,
  'Pclass': 3,
  'Name': 'Olsen, Master. Artur Karl',
  'Sex': 'male',
  'Age': 9,
  'SibSp': 0,
  'Parch': 1,
  'Ticket': 'C 17368',
  'Fare': 3.1708,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f77'),
    'PassengerId': 913,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d175'),
  'PassengerId': 937,
  'Pclass': 3,
  'Name': 'Peltomaki, Mr. Nikolai Johannes',
  'Sex': 'male',
  'Age': 25,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'STON/O 2. 3101291',
  'Fare': 7.925,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f90'),
    'PassengerId': 937,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d176'),
  'PassengerId': 935,
  'Pclass': 2,
  'Name': 'Corbett, Mrs. Walter H (Irene Colvin)',
  'Sex': 'female',
  'Age': 30,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 237249,
  'Fare': 13,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f8e'),
    'PassengerId': 935,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d177'),
  'PassengerId': 936,
  'Pclass': 1,
  'Name': 'Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)',
  'Sex': 'female',
  'Age': 45,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 11753,
  'Fare': 52.5542,
  'Cabin': 'D19',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f8f'),
    'PassengerId': 936,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d178'),
  'PassengerId': 939,
  'Pclass': 3,
  'Name': 'Shaughnessy, Mr. Patrick',
  'Sex': 'male',
  'Age': '',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 370374,
  'Fare': 7.75,
  'Cabin': '',
  'Embarked': 'Q',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f92'),
    'PassengerId': 939,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d179'),
  'PassengerId': 938,
  'Pclass': 1,
  'Name': 'Chevre, Mr. Paul Romaine',
  'Sex': 'male',
  'Age': 45,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'PC 17594',
  'Fare': 29.7,
  'Cabin': 'A9',
  'Embarked': 'C',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f91'),
    'PassengerId': 938,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d17a'),
  'PassengerId': 940,
  'Pclass': 1,
  'Name': 'Bucknell, Mrs. William Robert (Emma Eliza Ward)',
  'Sex': 'female',
  'Age': 60,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 11813,
  'Fare': 76.2917,
  'Cabin': 'D15',
  'Embarked': 'C',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f93'),
    'PassengerId': 940,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d17b'),
  'PassengerId': 943,
  'Pclass': 2,
  'Name': 'Pulbaum, Mr. Franz',
  'Sex': 'male',
  'Age': 27,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'SC/PARIS 2168',
  'Fare': 15.0333,
  'Cabin': '',
  'Embarked': 'C',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f99'),
    'PassengerId': 943,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d17c'),
  'PassengerId': 942,
  'Pclass': 1,
  'Name': 'Smith, Mr. Lucien Philip',
  'Sex': 'male',
  'Age': 24,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 13695,
  'Fare': 60,
  'Cabin': 'C31',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f95'),
    'PassengerId': 942,
    'Survived': 0}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d17d'),
  'PassengerId': 941,
  'Pclass': 3,
  'Name': 'Coutts, Mrs. William (Winnie Minnie" Treanor)"',
  'Sex': 'female',
  'Age': 36,
  'SibSp': 0,
  'Parch': 2,
  'Ticket': 'C.A. 37671',
  'Fare': 15.9,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f94'),
    'PassengerId': 941,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d17e'),
  'PassengerId': 944,
  'Pclass': 2,
  'Name': 'Hocking, Miss. Ellen Nellie""',
  'Sex': 'female',
  'Age': 20,
  'SibSp': 2,
  'Parch': 1,
  'Ticket': 29105,
  'Fare': 23,
  'Cabin': '',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329f9a'),
    'PassengerId': 944,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d17f'),
  'PassengerId': 945,
  'Pclass': 1,
  'Name': 'Fortune, Miss. Ethel Flora',
  'Sex': 'female',
  'Age': 28,
  'SibSp': 3,
  'Parch': 2,
  'Ticket': 19950,
  'Fare': 263,
  'Cabin': 'C23 C25 C27',
  'Embarked': 'S',
  'joined': [{'_id': ObjectId('63c072cf47fc72847e329fa0'),
    'PassengerId': 945,
    'Survived': 1}]},
 {'_id': ObjectId('63c072cfabda8afc4c88d180'),
  'PassengerId': 946,
  'Pclass': 2,
  'Name': 'Mangiavacchi, Mr. Serafino Emilio',
  'Sex': 'male',
  'Age': '',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'SC/A.3 2861',
  'Fare': 15.5792,
  'Cabin': '',
  'Embarked': 'C',

In [44]:
pd.DataFrame(testset.aggregate([
   {
     "$lookup":
       {
         "from": "gender_submission",
         "localField": "PassengerId",
         "foreignField": "PassengerId",
         "as": "joined"
       }
  }
]))

,_id,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,joined
0,63c072cfabda8afc4c88d14a,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7,,S,"[{'_id': 63c072cf47fc72847e329fb4, 'PassengerI..."
1,63c072cfabda8afc4c88d14b,894,2,"Myles, Mr. Thomas Francis",male,62,0,0,240276,9.6875,,Q,"[{'_id': 63c072cf47fc72847e329fb3, 'PassengerI..."
2,63c072cfabda8afc4c88d14c,895,3,"Wirz, Mr. Albert",male,27,0,0,315154,8.6625,,S,"[{'_id': 63c072cf47fc72847e329fde, 'PassengerI..."
3,63c072cfabda8afc4c88d14d,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22,1,1,3101298,12.2875,,S,"[{'_id': 63c072cf47fc72847e329fe2, 'PassengerI..."
4,63c072cfabda8afc4c88d14e,897,3,"Svensson, Mr. Johan Cervin",male,14,0,0,7538,9.225,,S,"[{'_id': 63c072cf47fc72847e329f98, 'PassengerI..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,63c072cfabda8afc4c88d2e7,1305,3,"Spector, Mr. Woolf",male,,0,0,A.5. 3236,8.05,,S,"[{'_id': 63c072cf47fc72847e32a10d, 'PassengerI..."
414,63c072cfabda8afc4c88d2e8,1306,1,"Oliva y Ocana, Dona. Fermina",female,39,0,0,PC 17758,108.9,C105,C,"[{'_id': 63c072cf47fc72847e32a10e, 'PassengerI..."
415,63c072cfabda8afc4c88d2e9,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.25,,S,"[{'_id': 63c072cf47fc72847e32a10f, 'PassengerI..."
416,63c072cfabda8afc4c88d2ea,1308,3,"Ware, Mr. Frederick",male,,0,0,359309,8.05,,S,"[{'_id': 63c072cf47fc72847e32a110, 'PassengerI..."
417,63c072cfabda8afc4c88d2eb,1309,3,"Peter, Master. Michael J",male,,1,1,2668,22.3583,,C,"[{'_id': 63c072cf47fc72847e32a111, 'PassengerI..."

In [45]:
# Or vice-versa
pd.DataFrame(gender_submission.aggregate([
   {
     "$lookup":
       {
         "from": "testset",
         "localField": "PassengerId",
         "foreignField": "PassengerId",
         "as": "joined"
       }
  }
]))

,_id,PassengerId,Survived,joined
0,63c072cf47fc72847e329f70,905,0,"[{'_id': 63c072cfabda8afc4c88d155, 'PassengerI..."
1,63c072cf47fc72847e329f71,907,1,"[{'_id': 63c072cfabda8afc4c88d157, 'PassengerI..."
2,63c072cf47fc72847e329f72,908,0,"[{'_id': 63c072cfabda8afc4c88d159, 'PassengerI..."
3,63c072cf47fc72847e329f73,909,0,"[{'_id': 63c072cfabda8afc4c88d15a, 'PassengerI..."
4,63c072cf47fc72847e329f74,910,1,"[{'_id': 63c072cfabda8afc4c88d15b, 'PassengerI..."
...,...,...,...,...
413,63c072cf47fc72847e32a10d,1305,0,"[{'_id': 63c072cfabda8afc4c88d2e7, 'PassengerI..."
414,63c072cf47fc72847e32a10e,1306,1,"[{'_id': 63c072cfabda8afc4c88d2e8, 'PassengerI..."
415,63c072cf47fc72847e32a10f,1307,0,"[{'_id': 63c072cfabda8afc4c88d2e9, 'PassengerI..."
416,63c072cf47fc72847e32a110,1308,0,"[{'_id': 63c072cfabda8afc4c88d2ea, 'PassengerI..."
417,63c072cf47fc72847e32a111,1309,0,"[{'_id': 63c072cfabda8afc4c88d2eb, 'PassengerI..."

418 rows are returned for both joins. This is because there are the same number of rows in both sets of data

In [46]:
print(testset.count_documents({}))
print(gender_submission.count_documents({}))

418
418

Lets create the embark collection, similar to the embark table:
<pre>
CREATE TABLE embark (embarked CHAR(1) PRIMARY KEY, port VARCHAR(15));
INSERT INTO embark VALUES ('C', 'Cherbourg');
INSERT INTO embark VALUES ('Q', 'Queenstown');
INSERT INTO embark VALUES ('S', 'Southampton');
INSERT INTO embark VALUES ('L', 'Liverpool');
</pre>

And return to the training data set since we have some passengers where the port of embarkation is not known.

In [47]:
#db = client.titanicDB
embark = db["embark"]

# And add the four ports
embark.insert_many([{'embarked': 'C', 'port': 'Cherbourg'},
                    {'embarked': 'Q', 'port': 'Queenstown'},
                    {'embarked': 'S', 'port': 'Southampton'},
                    {'embarked': 'L', 'port': 'Liverpool'}])

In [48]:
# Include all Ports, with a goup of associated passengers from the training data
list(embark.aggregate([
   {
     "$lookup":
       {
         "from": "training",
         "localField": "embarked",
         "foreignField": "Embarked",
         "as": "Passengers"
       }
  }
]))

[{'_id': ObjectId('63c072dc2dbff6fb26d5626d'),
  'embarked': 'C',
  'port': 'Cherbourg',
  'Passengers': [{'_id': ObjectId('63c072ce73246b274e3e29d5'),
    'PassengerId': 2,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
    'Sex': 'female',
    'Age': 38,
    'SibSp': 1,
    'Parch': 0,
    'Ticket': 'PC 17599',
    'Fare': 71.2833,
    'Cabin': 'C85',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e29e1'),
    'PassengerId': 20,
    'Survived': 1,
    'Pclass': 3,
    'Name': 'Masselmani, Mrs. Fatima',
    'Sex': 'female',
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 2649,
    'Fare': 7.225,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e29e2'),
    'PassengerId': 10,
    'Survived': 1,
    'Pclass': 2,
    'Name': 'Nasser, Mrs. Nicholas (Adele Achem)',
    'Sex': 'female',
    'Age': 14,
    'SibSp': 1,
    'Parch': 0,
    'Ticket': 237736,
    'Fare': 30.0708,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e29e6'),
    'PassengerId': 27,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Emir, Mr. Farred Chehab',
    'Sex': 'male',
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 2631,
    'Fare': 7.225,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e29e9'),
    'PassengerId': 32,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Spencer, Mrs. William Augustus (Marie Eugenie)',
    'Sex': 'female',
    'SibSp': 1,
    'Parch': 0,
    'Ticket': 'PC 17569',
    'Fare': 146.5208,
    'Cabin': 'B78',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e29ec'),
    'PassengerId': 35,
    'Survived': 0,
    'Pclass': 1,
    'Name': 'Meyer, Mr. Edgar Joseph',
    'Sex': 'male',
    'Age': 28,
    'SibSp': 1,
    'Parch': 0,
    'Ticket': 'PC 17604',
    'Fare': 82.1708,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e29f0'),
    'PassengerId': 37,
    'Survived': 1,
    'Pclass': 3,
    'Name': 'Mamee, Mr. Hanna',
    'Sex': 'male',
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 2677,
    'Fare': 7.2292,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e29f1'),
    'PassengerId': 31,
    'Survived': 0,
    'Pclass': 1,
    'Name': 'Uruchurtu, Don. Manuel E',
    'Sex': 'male',
    'Age': 40,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 'PC 17601',
    'Fare': 27.7208,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e29f4'),
    'PassengerId': 40,
    'Survived': 1,
    'Pclass': 3,
    'Name': 'Nicola-Yarred, Miss. Jamila',
    'Sex': 'female',
    'Age': 14,
    'SibSp': 1,
    'Parch': 0,
    'Ticket': 2651,
    'Fare': 11.2417,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e29f7'),
    'PassengerId': 43,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Kraeff, Mr. Theodor',
    'Sex': 'male',
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 349253,
    'Fare': 7.8958,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e29f8'),
    'PassengerId': 44,
    'Survived': 1,
    'Pclass': 2,
    'Name': 'Laroche, Miss. Simonne Marie Anne Andree',
    'Sex': 'female',
    'Age': 3,
    'SibSp': 1,
    'Parch': 2,
    'Ticket': 'SC/Paris 2123',
    'Fare': 41.5792,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e29fd'),
    'PassengerId': 49,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Samaan, Mr. Youssef',
    'Sex': 'male',
    'SibSp': 2,
    'Parch': 0,
    'Ticket': 2662,
    'Fare': 21.6792,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a01'),
    'PassengerId': 53,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
    'Sex': 'female',
    'Age': 49,
    'SibSp': 1,
    'Parch': 0,
    'Ticket': 'PC 17572',
    'Fare': 76.7292,
    'Cabin': 'D33',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a04'),
    'PassengerId': 55,
    'Survived': 0,
    'Pclass': 1,
    'Name': 'Ostby, Mr. Engelhart Cornelius',
    'Sex': 'male',
    'Age': 65,
    'SibSp': 0,
    'Parch': 1,
    'Ticket': 113509,
    'Fare': 61.9792,
    'Cabin': 'B30',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a18'),
    'PassengerId': 58,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Novel, Mr. Mansouer',
    'Sex': 'male',
    'Age': 28.5,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 2697,
    'Fare': 7.2292,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a1b'),
    'PassengerId': 61,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Sirayanian, Mr. Orsen',
    'Sex': 'male',
    'Age': 22,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 2669,
    'Fare': 7.2292,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a1f'),
    'PassengerId': 65,
    'Survived': 0,
    'Pclass': 1,
    'Name': 'Stewart, Mr. Albert A',
    'Sex': 'male',
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 'PC 17605',
    'Fare': 27.7208,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a20'),
    'PassengerId': 66,
    'Survived': 1,
    'Pclass': 3,
    'Name': 'Moubarek, Master. Gerios',
    'Sex': 'male',
    'SibSp': 1,
    'Parch': 1,
    'Ticket': 2661,
    'Fare': 15.2458,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a28'),
    'PassengerId': 74,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Chronopoulos, Mr. Apostolos',
    'Sex': 'male',
    'Age': 26,
    'SibSp': 1,
    'Parch': 0,
    'Ticket': 2680,
    'Fare': 14.4542,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a2c'),
    'PassengerId': 97,
    'Survived': 0,
    'Pclass': 1,
    'Name': 'Goldschmidt, Mr. George B',
    'Sex': 'male',
    'Age': 71,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 'PC 17754',
    'Fare': 34.6542,
    'Cabin': 'A5',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a2d'),
    'PassengerId': 98,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Greenfield, Mr. William Bertram',
    'Sex': 'male',
    'Age': 23,
    'SibSp': 0,
    'Parch': 1,
    'Ticket': 'PC 17759',
    'Fare': 63.3583,
    'Cabin': 'D10 D12',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a3c'),
    'PassengerId': 112,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Zabour, Miss. Hileni',
    'Sex': 'female',
    'Age': 14.5,
    'SibSp': 1,
    'Parch': 0,
    'Ticket': 2665,
    'Fare': 14.4542,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a42'),
    'PassengerId': 119,
    'Survived': 0,
    'Pclass': 1,
    'Name': 'Baxter, Mr. Quigg Edmond',
    'Sex': 'male',
    'Age': 24,
    'SibSp': 0,
    'Parch': 1,
    'Ticket': 'PC 17558',
    'Fare': 247.5208,
    'Cabin': 'B58 B60',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a43'),
    'PassengerId': 115,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Attalah, Miss. Malake',
    'Sex': 'female',
    'Age': 17,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 2627,
    'Fare': 14.4583,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a44'),
    'PassengerId': 123,
    'Survived': 0,
    'Pclass': 2,
    'Name': 'Nasser, Mr. Nicholas',
    'Sex': 'male',
    'Age': 32.5,
    'SibSp': 1,
    'Parch': 0,
    'Ticket': 237736,
    'Fare': 30.0708,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a45'),
    'PassengerId': 140,
    'Survived': 0,
    'Pclass': 1,
    'Name': 'Giglio, Mr. Victor',
    'Sex': 'male',
    'Age': 24,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 'PC 17593',
    'Fare': 79.2,
    'Cabin': 'B86',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a46'),
    'PassengerId': 141,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Boulos, Mrs. Joseph (Sultana)',
    'Sex': 'female',
    'SibSp': 0,
    'Parch': 2,
    'Ticket': 2678,
    'Fare': 15.2458,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a4c'),
    'PassengerId': 131,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Drazenoic, Mr. Jozef',
    'Sex': 'male',
    'Age': 33,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 349241,
    'Fare': 7.8958,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a56'),
    'PassengerId': 136,
    'Survived': 0,
    'Pclass': 2,
    'Name': 'Richard, Mr. Emile',
    'Sex': 'male',
    'Age': 23,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 'SC/PARIS 2133',
    'Fare': 15.0458,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a63'),
    'PassengerId': 126,
    'Survived': 1,
    'Pclass': 3,
    'Name': 'Nicola-Yarred, Master. Elias',
    'Sex': 'male',
    'Age': 12,
    'SibSp': 1,
    'Parch': 0,
    'Ticket': 2651,
    'Fare': 11.2417,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a64'),
    'PassengerId': 129,
    'Survived': 1,
    'Pclass': 3,
    'Name': 'Peter, Miss. Anna',
    'Sex': 'female',
    'SibSp': 1,
    'Parch': 1,
    'Ticket': 2668,
    'Fare': 22.3583,
    'Cabin': 'F E69',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a68'),
    'PassengerId': 156,
    'Survived': 0,
    'Pclass': 1,
    'Name': 'Williams, Mr. Charles Duane',
    'Sex': 'male',
    'Age': 51,
    'SibSp': 0,
    'Parch': 1,
    'Ticket': 'PC 17597',
    'Fare': 61.3792,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a7c'),
    'PassengerId': 175,
    'Survived': 0,
    'Pclass': 1,
    'Name': 'Smith, Mr. James Clinch',
    'Sex': 'male',
    'Age': 56,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 17764,
    'Fare': 30.6958,
    'Cabin': 'A7',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a86'),
    'PassengerId': 204,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Youseff, Mr. Gerious',
    'Sex': 'male',
    'Age': 45.5,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 2628,
    'Fare': 7.225,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a8a'),
    'PassengerId': 208,
    'Survived': 1,
    'Pclass': 3,
    'Name': 'Albimona, Mr. Nassef Cassem',
    'Sex': 'male',
    'Age': 26,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 2699,
    'Fare': 18.7875,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a8c'),
    'PassengerId': 210,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Blank, Mr. Henry',
    'Sex': 'male',
    'Age': 40,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 112277,
    'Fare': 31,
    'Cabin': 'A31',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a91'),
    'PassengerId': 182,
    'Survived': 0,
    'Pclass': 2,
    'Name': 'Pernot, Mr. Rene',
    'Sex': 'male',
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 'SC/PARIS 2131',
    'Fare': 15.05,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a93'),
    'PassengerId': 178,
    'Survived': 0,
    'Pclass': 1,
    'Name': 'Isham, Miss. Ann Elizabeth',
    'Sex': 'female',
    'Age': 50,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 'PC 17595',
    'Fare': 28.7125,
    'Cabin': 'C49',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a9c'),
    'PassengerId': 195,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Brown, Mrs. James Joseph (Margaret Tobin)',
    'Sex': 'female',
    'Age': 44,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 'PC 17610',
    'Fare': 27.7208,
    'Cabin': 'B4',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2a9f'),
    'PassengerId': 196,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Lurette, Miss. Elise',
    'Sex': 'female',
    'Age': 58,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 'PC 17569',
    'Fare': 146.5208,
    'Cabin': 'B80',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2aa3'),
    'PassengerId': 216,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Newell, Miss. Madeleine',
    'Sex': 'female',
    'Age': 31,
    'SibSp': 1,
    'Parch': 0,
    'Ticket': 35273,
    'Fare': 113.275,
    'Cabin': 'D36',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2aa8'),
    'PassengerId': 219,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Bazzani, Miss. Albina',
    'Sex': 'female',
    'Age': 32,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 11813,
    'Fare': 76.2917,
    'Cabin': 'D15',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2acb'),
    'PassengerId': 241,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Zabour, Miss. Thamine',
    'Sex': 'female',
    'SibSp': 1,
    'Parch': 0,
    'Ticket': 2665,
    'Fare': 14.4542,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2acf'),
    'PassengerId': 245,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Attalah, Mr. Sleiman',
    'Sex': 'male',
    'Age': 30,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 2694,
    'Fare': 7.225,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2ad8'),
    'PassengerId': 259,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Ward, Miss. Anna',
    'Sex': 'female',
    'Age': 35,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 'PC 17755',
    'Fare': 512.3292,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2ada'),
    'PassengerId': 274,
    'Survived': 0,
    'Pclass': 1,
    'Name': 'Natsch, Mr. Charles H',
    'Sex': 'male',
    'Age': 37,
    'SibSp': 0,
    'Parch': 1,
    'Ticket': 'PC 17596',
    'Fare': 29.7,
    'Cabin': 'C118',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2adb'),
    'PassengerId': 257,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Thorne, Mrs. Gertrude Maybelle',
    'Sex': 'female',
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 'PC 17585',
    'Fare': 79.2,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2ae6'),
    'PassengerId': 256,
    'Survived': 1,
    'Pclass': 3,
    'Name': 'Touma, Mrs. Darwis (Hanne Youssef Razi)',
    'Sex': 'female',
    'Age': 29,
    'SibSp': 0,
    'Parch': 2,
    'Ticket': 2650,
    'Fare': 15.2458,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2aeb'),
    'PassengerId': 286,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Stankovic, Mr. Ivan',
    'Sex': 'male',
    'Age': 33,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 349239,
    'Fare': 8.6625,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2aee'),
    'PassengerId': 292,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Bishop, Mrs. Dickinson H (Helen Walton)',
    'Sex': 'female',
    'Age': 19,
    'SibSp': 1,
    'Parch': 0,
    'Ticket': 11967,
    'Fare': 91.0792,
    'Cabin': 'B49',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2aef'),
    'PassengerId': 293,
    'Survived': 0,
    'Pclass': 2,
    'Name': 'Levy, Mr. Rene Jacques',
    'Sex': 'male',
    'Age': 36,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 'SC/Paris 2163',
    'Fare': 12.875,
    'Cabin': 'D',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2af3'),
    'PassengerId': 296,
    'Survived': 0,
    'Pclass': 1,
    'Name': 'Lewy, Mr. Ervin G',
    'Sex': 'male',
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 'PC 17612',
    'Fare': 27.7208,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2af4'),
    'PassengerId': 297,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Hanna, Mr. Mansour',
    'Sex': 'male',
    'Age': 23.5,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 2693,
    'Fare': 7.2292,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2af8'),
    'PassengerId': 300,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)',
    'Sex': 'female',
    'Age': 50,
    'SibSp': 0,
    'Parch': 1,
    'Ticket': 'PC 17558',
    'Fare': 247.5208,
    'Cabin': 'B58 B60',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2af9'),
    'PassengerId': 320,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)',
    'Sex': 'female',
    'Age': 40,
    'SibSp': 1,
    'Parch': 1,
    'Ticket': 16966,
    'Fare': 134.5,
    'Cabin': 'E34',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2b00'),
    'PassengerId': 326,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Young, Miss. Marie Grice',
    'Sex': 'female',
    'Age': 36,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 'PC 17760',
    'Fare': 135.6333,
    'Cabin': 'C32',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2b04'),
    'PassengerId': 330,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Hippach, Miss. Jean Gertrude',
    'Sex': 'female',
    'Age': 16,
    'SibSp': 0,
    'Parch': 1,
    'Ticket': 111361,
    'Fare': 57.9792,
    'Cabin': 'B18',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2b0c'),
    'PassengerId': 310,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Francatelli, Miss. Laura Mabel',
    'Sex': 'female',
    'Age': 30,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 'PC 17485',
    'Fare': 56.9292,
    'Cabin': 'E36',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2b0d'),
    'PassengerId': 311,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Hays, Miss. Margaret Bechstein',
    'Sex': 'female',
    'Age': 24,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 11767,
    'Fare': 83.1583,
    'Cabin': 'C54',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2b0f'),
    'PassengerId': 312,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Ryerson, Miss. Emily Borie',
    'Sex': 'female',
    'Age': 18,
    'SibSp': 2,
    'Parch': 2,
    'Ticket': 'PC 17608',
    'Fare': 262.375,
    'Cabin': 'B57 B59 B63 B66',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2b10'),
    'PassengerId': 307,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Fleming, Miss. Margaret',
    'Sex': 'female',
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 17421,
    'Fare': 110.8833,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2b12'),
    'PassengerId': 308,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)',
    'Sex': 'female',
    'Age': 17,
    'SibSp': 1,
    'Parch': 0,
    'Ticket': 'PC 17758',
    'Fare': 108.9,
    'Cabin': 'C65',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2b16'),
    'PassengerId': 338,
    'Survived': 1,
    'Pclass': 1,
    'Name': 'Burns, Miss. Elizabeth Margaret',
    'Sex': 'female',
    'Age': 41,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 16966,
    'Fare': 134.5,
    'Cabin': 'E40',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2b19'),
    'PassengerId': 309,
    'Survived': 0,
    'Pclass': 2,
    'Name': 'Abelson, Mr. Samuel',
    'Sex': 'male',
    'Age': 30,
    'SibSp': 1,
    'Parch': 0,
    'Ticket': 'P/PP 3381',
    'Fare': 24,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2b2d'),
    'PassengerId': 353,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Elias, Mr. Tannous',
    'Sex': 'male',
    'Age': 15,
    'SibSp': 1,
    'Parch': 1,
    'Ticket': 2695,
    'Fare': 7.2292,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2b2f'),
    'PassengerId': 355,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Yousif, Mr. Wazli',
    'Sex': 'male',
    'SibSp': 0,
    'Parch': 0,
    'Ticket': 2647,
    'Fare': 7.225,
    'Cabin': '',
    'Embarked': 'C'},
   {'_id': ObjectId('63c072ce73246b274e3e2b33'),
    'PassengerId': 378,
    'Survived': 0,
    'Pclass': 1,
    'Name': 'Widener, Mr. Harry Elkins',
    'Sex': 'male',

In [49]:
# A dataframe might be easier to view, but the details of the subdocument is now shown
pd.DataFrame(embark.aggregate([
   {
     "$lookup":
       {
         "from": "training",
         "localField": "embarked",
         "foreignField": "Embarked",
         "as": "Passengers"
       }
  }
]))

,_id,embarked,port,Passengers
0,63c072dc2dbff6fb26d5626d,C,Cherbourg,"[{'_id': 63c072ce73246b274e3e29d5, 'PassengerI..."
1,63c072dc2dbff6fb26d5626e,Q,Queenstown,"[{'_id': 63c072ce73246b274e3e29d1, 'PassengerI..."
2,63c072dc2dbff6fb26d5626f,S,Southampton,"[{'_id': 63c072ce73246b274e3e29cd, 'PassengerI..."
3,63c072dc2dbff6fb26d56270,L,Liverpool,[]

In [50]:
# Include all Passengers
list(training.aggregate([
   {
     "$lookup":
       {
         "from": "embark",
         "localField": "Embarked",
         "foreignField": "embarked",
         "as": "port info"
       }
  }
]))

[{'_id': ObjectId('63c072ce73246b274e3e29cd'),
  'PassengerId': 1,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Braund, Mr. Owen Harris',
  'Sex': 'male',
  'Age': 22,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'A/5 21171',
  'Fare': 7.25,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29ce'),
  'PassengerId': 3,
  'Survived': 1,
  'Pclass': 3,
  'Name': 'Heikkinen, Miss. Laina',
  'Sex': 'female',
  'Age': 26,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'STON/O2. 3101282',
  'Fare': 7.925,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29cf'),
  'PassengerId': 4,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
  'Sex': 'female',
  'Age': 35,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 113803,
  'Fare': 53.1,
  'Cabin': 'C123',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29d0'),
  'PassengerId': 5,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Allen, Mr. William Henry',
  'Sex': 'male',
  'Age': 35,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 373450,
  'Fare': 8.05,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29d1'),
  'PassengerId': 6,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Moran, Mr. James',
  'Sex': 'male',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 330877,
  'Fare': 8.4583,
  'Cabin': '',
  'Embarked': 'Q',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626e'),
    'embarked': 'Q',
    'port': 'Queenstown'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29d2'),
  'PassengerId': 7,
  'Survived': 0,
  'Pclass': 1,
  'Name': 'McCarthy, Mr. Timothy J',
  'Sex': 'male',
  'Age': 54,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 17463,
  'Fare': 51.8625,
  'Cabin': 'E46',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29d3'),
  'PassengerId': 8,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Palsson, Master. Gosta Leonard',
  'Sex': 'male',
  'Age': 2,
  'SibSp': 3,
  'Parch': 1,
  'Ticket': 349909,
  'Fare': 21.075,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29d4'),
  'PassengerId': 9,
  'Survived': 1,
  'Pclass': 3,
  'Name': 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
  'Sex': 'female',
  'Age': 27,
  'SibSp': 0,
  'Parch': 2,
  'Ticket': 347742,
  'Fare': 11.1333,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29d5'),
  'PassengerId': 2,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
  'Sex': 'female',
  'Age': 38,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'PC 17599',
  'Fare': 71.2833,
  'Cabin': 'C85',
  'Embarked': 'C',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626d'),
    'embarked': 'C',
    'port': 'Cherbourg'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29d6'),
  'PassengerId': 11,
  'Survived': 1,
  'Pclass': 3,
  'Name': 'Sandstrom, Miss. Marguerite Rut',
  'Sex': 'female',
  'Age': 4,
  'SibSp': 1,
  'Parch': 1,
  'Ticket': 'PP 9549',
  'Fare': 16.7,
  'Cabin': 'G6',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29d7'),
  'PassengerId': 13,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Saundercock, Mr. William Henry',
  'Sex': 'male',
  'Age': 20,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'A/5. 2151',
  'Fare': 8.05,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29d8'),
  'PassengerId': 14,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Andersson, Mr. Anders Johan',
  'Sex': 'male',
  'Age': 39,
  'SibSp': 1,
  'Parch': 5,
  'Ticket': 347082,
  'Fare': 31.275,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29d9'),
  'PassengerId': 15,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Vestrom, Miss. Hulda Amanda Adolfina',
  'Sex': 'female',
  'Age': 14,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 350406,
  'Fare': 7.8542,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29da'),
  'PassengerId': 16,
  'Survived': 1,
  'Pclass': 2,
  'Name': 'Hewlett, Mrs. (Mary D Kingcome) ',
  'Sex': 'female',
  'Age': 55,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 248706,
  'Fare': 16,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29db'),
  'PassengerId': 17,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Rice, Master. Eugene',
  'Sex': 'male',
  'Age': 2,
  'SibSp': 4,
  'Parch': 1,
  'Ticket': 382652,
  'Fare': 29.125,
  'Cabin': '',
  'Embarked': 'Q',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626e'),
    'embarked': 'Q',
    'port': 'Queenstown'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29dc'),
  'PassengerId': 18,
  'Survived': 1,
  'Pclass': 2,
  'Name': 'Williams, Mr. Charles Eugene',
  'Sex': 'male',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 244373,
  'Fare': 13,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29dd'),
  'PassengerId': 19,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
  'Sex': 'female',
  'Age': 31,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 345763,
  'Fare': 18,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29de'),
  'PassengerId': 21,
  'Survived': 0,
  'Pclass': 2,
  'Name': 'Fynney, Mr. Joseph J',
  'Sex': 'male',
  'Age': 35,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 239865,
  'Fare': 26,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29df'),
  'PassengerId': 12,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Bonnell, Miss. Elizabeth',
  'Sex': 'female',
  'Age': 58,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 113783,
  'Fare': 26.55,
  'Cabin': 'C103',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29e0'),
  'PassengerId': 22,
  'Survived': 1,
  'Pclass': 2,
  'Name': 'Beesley, Mr. Lawrence',
  'Sex': 'male',
  'Age': 34,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 248698,
  'Fare': 13,
  'Cabin': 'D56',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29e1'),
  'PassengerId': 20,
  'Survived': 1,
  'Pclass': 3,
  'Name': 'Masselmani, Mrs. Fatima',
  'Sex': 'female',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 2649,
  'Fare': 7.225,
  'Cabin': '',
  'Embarked': 'C',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626d'),
    'embarked': 'C',
    'port': 'Cherbourg'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29e2'),
  'PassengerId': 10,
  'Survived': 1,
  'Pclass': 2,
  'Name': 'Nasser, Mrs. Nicholas (Adele Achem)',
  'Sex': 'female',
  'Age': 14,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 237736,
  'Fare': 30.0708,
  'Cabin': '',
  'Embarked': 'C',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626d'),
    'embarked': 'C',
    'port': 'Cherbourg'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29e3'),
  'PassengerId': 24,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Sloper, Mr. William Thompson',
  'Sex': 'male',
  'Age': 28,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 113788,
  'Fare': 35.5,
  'Cabin': 'A6',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29e4'),
  'PassengerId': 25,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Palsson, Miss. Torborg Danira',
  'Sex': 'female',
  'Age': 8,
  'SibSp': 3,
  'Parch': 1,
  'Ticket': 349909,
  'Fare': 21.075,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29e5'),
  'PassengerId': 26,
  'Survived': 1,
  'Pclass': 3,
  'Name': 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
  'Sex': 'female',
  'Age': 38,
  'SibSp': 1,
  'Parch': 5,
  'Ticket': 347077,
  'Fare': 31.3875,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29e6'),
  'PassengerId': 27,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Emir, Mr. Farred Chehab',
  'Sex': 'male',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 2631,
  'Fare': 7.225,
  'Cabin': '',
  'Embarked': 'C',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626d'),
    'embarked': 'C',
    'port': 'Cherbourg'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29e7'),
  'PassengerId': 28,
  'Survived': 0,
  'Pclass': 1,
  'Name': 'Fortune, Mr. Charles Alexander',
  'Sex': 'male',
  'Age': 19,
  'SibSp': 3,
  'Parch': 2,
  'Ticket': 19950,
  'Fare': 263,
  'Cabin': 'C23 C25 C27',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29e8'),
  'PassengerId': 29,
  'Survived': 1,
  'Pclass': 3,
  'Name': 'O\'Dwyer, Miss. Ellen "Nellie"',
  'Sex': 'female',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 330959,
  'Fare': 7.8792,
  'Cabin': '',
  'Embarked': 'Q',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626e'),
    'embarked': 'Q',
    'port': 'Queenstown'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29e9'),
  'PassengerId': 32,
  'Survived': 1,
  'Pclass': 1,
  'Name': 'Spencer, Mrs. William Augustus (Marie Eugenie)',
  'Sex': 'female',
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'PC 17569',
  'Fare': 146.5208,
  'Cabin': 'B78',
  'Embarked': 'C',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626d'),
    'embarked': 'C',
    'port': 'Cherbourg'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29ea'),
  'PassengerId': 33,
  'Survived': 1,
  'Pclass': 3,
  'Name': 'Glynn, Miss. Mary Agatha',
  'Sex': 'female',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 335677,
  'Fare': 7.75,
  'Cabin': '',
  'Embarked': 'Q',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626e'),
    'embarked': 'Q',
    'port': 'Queenstown'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29eb'),
  'PassengerId': 34,
  'Survived': 0,
  'Pclass': 2,
  'Name': 'Wheadon, Mr. Edward H',
  'Sex': 'male',
  'Age': 66,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'C.A. 24579',
  'Fare': 10.5,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29ec'),
  'PassengerId': 35,
  'Survived': 0,
  'Pclass': 1,
  'Name': 'Meyer, Mr. Edgar Joseph',
  'Sex': 'male',
  'Age': 28,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 'PC 17604',
  'Fare': 82.1708,
  'Cabin': '',
  'Embarked': 'C',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626d'),
    'embarked': 'C',
    'port': 'Cherbourg'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29ed'),
  'PassengerId': 23,
  'Survived': 1,
  'Pclass': 3,
  'Name': 'McGowan, Miss. Anna "Annie"',
  'Sex': 'female',
  'Age': 15,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 330923,
  'Fare': 8.0292,
  'Cabin': '',
  'Embarked': 'Q',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626e'),
    'embarked': 'Q',
    'port': 'Queenstown'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29ee'),
  'PassengerId': 36,
  'Survived': 0,
  'Pclass': 1,
  'Name': 'Holverson, Mr. Alexander Oskar',
  'Sex': 'male',
  'Age': 42,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 113789,
  'Fare': 52,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29ef'),
  'PassengerId': 30,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Todoroff, Mr. Lalio',
  'Sex': 'male',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 349216,
  'Fare': 7.8958,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29f0'),
  'PassengerId': 37,
  'Survived': 1,
  'Pclass': 3,
  'Name': 'Mamee, Mr. Hanna',
  'Sex': 'male',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 2677,
  'Fare': 7.2292,
  'Cabin': '',
  'Embarked': 'C',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626d'),
    'embarked': 'C',
    'port': 'Cherbourg'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29f1'),
  'PassengerId': 31,
  'Survived': 0,
  'Pclass': 1,
  'Name': 'Uruchurtu, Don. Manuel E',
  'Sex': 'male',
  'Age': 40,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'PC 17601',
  'Fare': 27.7208,
  'Cabin': '',
  'Embarked': 'C',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626d'),
    'embarked': 'C',
    'port': 'Cherbourg'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29f2'),
  'PassengerId': 38,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Cann, Mr. Ernest Charles',
  'Sex': 'male',
  'Age': 21,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'A./5. 2152',
  'Fare': 8.05,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29f3'),
  'PassengerId': 39,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Vander Planke, Miss. Augusta Maria',
  'Sex': 'female',
  'Age': 18,
  'SibSp': 2,
  'Parch': 0,
  'Ticket': 345764,
  'Fare': 18,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29f4'),
  'PassengerId': 40,
  'Survived': 1,
  'Pclass': 3,
  'Name': 'Nicola-Yarred, Miss. Jamila',
  'Sex': 'female',
  'Age': 14,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 2651,
  'Fare': 11.2417,
  'Cabin': '',
  'Embarked': 'C',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626d'),
    'embarked': 'C',
    'port': 'Cherbourg'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29f5'),
  'PassengerId': 41,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
  'Sex': 'female',
  'Age': 40,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 7546,
  'Fare': 9.475,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29f6'),
  'PassengerId': 42,
  'Survived': 0,
  'Pclass': 2,
  'Name': 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)',
  'Sex': 'female',
  'Age': 27,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 11668,
  'Fare': 21,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29f7'),
  'PassengerId': 43,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Kraeff, Mr. Theodor',
  'Sex': 'male',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 349253,
  'Fare': 7.8958,
  'Cabin': '',
  'Embarked': 'C',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626d'),
    'embarked': 'C',
    'port': 'Cherbourg'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29f8'),
  'PassengerId': 44,
  'Survived': 1,
  'Pclass': 2,
  'Name': 'Laroche, Miss. Simonne Marie Anne Andree',
  'Sex': 'female',
  'Age': 3,
  'SibSp': 1,
  'Parch': 2,
  'Ticket': 'SC/Paris 2123',
  'Fare': 41.5792,
  'Cabin': '',
  'Embarked': 'C',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626d'),
    'embarked': 'C',
    'port': 'Cherbourg'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29f9'),
  'PassengerId': 45,
  'Survived': 1,
  'Pclass': 3,
  'Name': 'Devaney, Miss. Margaret Delia',
  'Sex': 'female',
  'Age': 19,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 330958,
  'Fare': 7.8792,
  'Cabin': '',
  'Embarked': 'Q',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626e'),
    'embarked': 'Q',
    'port': 'Queenstown'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29fa'),
  'PassengerId': 46,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Rogers, Mr. William John',
  'Sex': 'male',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'S.C./A.4. 23567',
  'Fare': 8.05,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29fb'),
  'PassengerId': 47,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Lennon, Mr. Denis',
  'Sex': 'male',
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 370371,
  'Fare': 15.5,
  'Cabin': '',
  'Embarked': 'Q',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626e'),
    'embarked': 'Q',
    'port': 'Queenstown'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29fc'),
  'PassengerId': 48,
  'Survived': 1,
  'Pclass': 3,
  'Name': "O'Driscoll, Miss. Bridget",
  'Sex': 'female',
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 14311,
  'Fare': 7.75,
  'Cabin': '',
  'Embarked': 'Q',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626e'),
    'embarked': 'Q',
    'port': 'Queenstown'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29fd'),
  'PassengerId': 49,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Samaan, Mr. Youssef',
  'Sex': 'male',
  'SibSp': 2,
  'Parch': 0,
  'Ticket': 2662,
  'Fare': 21.6792,
  'Cabin': '',
  'Embarked': 'C',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626d'),
    'embarked': 'C',
    'port': 'Cherbourg'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29fe'),
  'PassengerId': 50,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
  'Sex': 'female',
  'Age': 18,
  'SibSp': 1,
  'Parch': 0,
  'Ticket': 349237,
  'Fare': 17.8,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e29ff'),
  'PassengerId': 51,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Panula, Master. Juha Niilo',
  'Sex': 'male',
  'Age': 7,
  'SibSp': 4,
  'Parch': 1,
  'Ticket': 3101295,
  'Fare': 39.6875,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},
 {'_id': ObjectId('63c072ce73246b274e3e2a00'),
  'PassengerId': 52,
  'Survived': 0,
  'Pclass': 3,
  'Name': 'Nosworthy, Mr. Richard Cater',
  'Sex': 'male',
  'Age': 21,
  'SibSp': 0,
  'Parch': 0,
  'Ticket': 'A/4. 39886',
  'Fare': 7.8,
  'Cabin': '',
  'Embarked': 'S',
  'port info': [{'_id': ObjectId('63c072dc2dbff6fb26d5626f'),
    'embarked': 'S',
    'port': 'Southampton'}]},

In [51]:
# Hard to find our two passengers, so add an initial step to just show the passengers where the port of embarkation is blank
pd.DataFrame(training.aggregate([
   { "$match": { "Embarked": { "$eq": '' }}},
   { "$lookup":
       {
         "from": "embark",
         "localField": "Embarked",
         "foreignField": "embarked",
         "as": "port info"
       }
  }
]))

,_id,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,port info
0,63c072ce73246b274e3e2a1c,62,1,1,"Icard, Miss. Amelie",female,38,0,0,113572,80,B28,,[]
1,63c072ce73246b274e3e2d0b,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62,0,0,113572,80,B28,,[]

# Semi Structured data

The Titanic dataset is an example of structured data, in that it is very uniform, with the same data types in each column.

The power of NoSQL databases is in copying semi-structured data, such as JSON data, where the values may not be straightforward strings and numbers, but could be nested documents.

One example is Twitter data. Below is an example of tweets extracted on the 10th and 11th January 2023.

In [52]:
# Needed for Twitter data
import string
import operator
import re

In [53]:
# Good practice to examine the data before importing it
! head data/BBCNews-230110-2118.json

{"id": 1612920079967985706, "text": "Firefighters face higher cancer risk, study finds https://t.co/EMGsCJ0yun", "edit_history_tweet_ids": [1612920079967985706], "author_id": 612473, "context_annotations": [{"domain": {"id": "46", "name": "Business Taxonomy", "description": "Categories within Brand Verticals that narrow down the scope of Brands"}, "entity": {"id": "1557697121477832705", "name": "Publisher & News Business", "description": "Brands, companies, advertisers and every non-person handle with the profit intent related to  marketing and advertiser agencies, publishers of magazines, newspapers, blogs, books"}}, {"domain": {"id": "66", "name": "Interests and Hobbies Category", "description": "A grouping of interests and hobbies entities, like Novelty Food or Destinations"}, "entity": {"id": "1237472346560053249", "name": "Firefighting"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1237472346560053249", "name": "Firefighting"}}, {"domain": {"id": "45", "name": "Brand Vertical", "description": "Top level entities that describe a Brands industry"}, "entity": {"id": "781974597310615553", "name": "Entertainment"}}, {"domain": {"id": "30", "name": "Entities [Entity Service]", "description": "Entity Service top level domain, every item that is in Entity Service should be in this domain"}, "entity": {"id": "781974597105094656", "name": "TV/Movies Related - Entertainment"}}, {"domain": {"id": "47", "name": "Brand", "description": "Brands and Companies"}, "entity": {"id": "10047963348", "name": "BBC News", "description": "BBC News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "10047963348", "name": "BBC News", "description": "BBC News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1046545033657081857", "name": "News", "description": "News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1196447117297905665", "name": "News outlets"}}, {"domain": {"id": "69", "name": "News Vertical", "description": "News Categories like Entertainment or Technology"}, "entity": {"id": "1192881102098055168", "name": "UK national news"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1192881102098055168", "name": "UK national news"}}], "conversation_id": 1612920079967985706, "created_at": "Tuesday 10-Jan-2023 21:11:28", "edit_controls": {"edits_remaining": 5, "is_edit_eligible": true, "editable_until": "Tuesday 10-Jan-2023 21:41:28"}, "entities": {"urls": [{"start": 50, "end": 73, "url": "https://t.co/EMGsCJ0yun", "expanded_url": "https://bbc.in/3isqyw2", "display_url": "bbc.in/3isqyw2", "status": 200, "title": "Firefighters face higher cancer risk, Scottish study finds", "description": "They are also more likely to die from heart attacks and strokes, researchers say.", "unwound_url": "https://www.bbc.co.uk/news/uk-scotland-64216321?at_format=link&at_link_origin=BBCNews&at_campaign=Social_Flow&at_ptr_name=twitter&at_link_id=3DE24338-9125-11ED-A99B-0F390EDC252D&at_bbc_team=editorial&at_campaign_type=owned&at_medium=social&at_link_type=web_link"}]}, "lang": "en", "public_metrics": {"retweet_count": 9, "reply_count": 7, "like_count": 20, "quote_count": 2, "impression_count": 23147}, "reply_settings": "everyone"}
{"id": 1612917711406768162, "text": "Harry's memoir Spare displayed beside How to Kill Your Family novel https://t.co/jL5JlFeAgB", "edit_history_tweet_ids": [1612917711406768162], "author_id": 612473, "context_annotations": [{"domain": {"id": "46", "name": "Business Taxonomy", "description": "Categories within Brand Verticals that narrow down the scope of Brands"}, "entity": {"id": "1557696802391859201", "name": "Entertainment & Leisure Business", "description": "Brands, companies, advertisers and every non-person handle with the profit intent related to movies, music, television, franchises, venues, theme parks, toys, tourism, hotels"}}, {"domain": {"id": "46", "name": "Business Taxonomy", "description": "Categories within Brand Verticals that narrow down the scope of Brands"}, "entity": {"id": "1557697121477832705", "name": "Publisher & News Business", "description": "Brands, companies, advertisers and every non-person handle with the profit intent related to  marketing and advertiser agencies, publishers of magazines, newspapers, blogs, books"}}, {"domain": {"id": "45", "name": "Brand Vertical", "description": "Top level entities that describe a Brands industry"}, "entity": {"id": "781974597310615553", "name": "Entertainment"}}, {"domain": {"id": "30", "name": "Entities [Entity Service]", "description": "Entity Service top level domain, every item that is in Entity Service should be in this domain"}, "entity": {"id": "781974597105094656", "name": "TV/Movies Related - Entertainment"}}, {"domain": {"id": "47", "name": "Brand", "description": "Brands and Companies"}, "entity": {"id": "10047963348", "name": "BBC News", "description": "BBC News"}}, {"domain": {"id": "85", "name": "Book Genre", "description": "A genre for books, like Fiction"}, "entity": {"id": "859531094730825728", "name": "Biographies and memoirs", "description": "Biographies and memoirs"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "10047963348", "name": "BBC News", "description": "BBC News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "839544274442051584", "name": "Entertainment"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "847519659179954178", "name": "Books", "description": "Books and literature"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "859531094730825728", "name": "Biographies and memoirs", "description": "Biographies and memoirs"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1046545033657081857", "name": "News", "description": "News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1196447117297905665", "name": "News outlets"}}, {"domain": {"id": "69", "name": "News Vertical", "description": "News Categories like Entertainment or Technology"}, "entity": {"id": "1192881102098055168", "name": "UK national news"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1192881102098055168", "name": "UK national news"}}], "conversation_id": 1612917711406768162, "created_at": "Tuesday 10-Jan-2023 21:02:03", "edit_controls": {"edits_remaining": 5, "is_edit_eligible": true, "editable_until": "Tuesday 10-Jan-2023 21:32:03"}, "entities": {"urls": [{"start": 68, "end": 91, "url": "https://t.co/jL5JlFeAgB", "expanded_url": "https://bbc.in/3IDk9J7", "display_url": "bbc.in/3IDk9J7", "status": 200, "title": "Harry's memoir Spare displayed beside How to Kill Your Family novel", "description": "A bookseller placed Prince Harry's memoir Spare beside Bella Mackie's novel How to Kill Your Family.", "unwound_url": "https://www.bbc.com/news/uk-england-wiltshire-64227200?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter&at_medium=social&at_format=link&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=4685D76E-90FF-11ED-9AC9-BFAB4744363C&at_campaign_type=owned"}], "annotations": [{"end": 4, "probability": 0.7457, "type": "Person", "normalized_text": "Harry"}, {"start": 38, "end": 60, "probability": 0.9476, "type": "Other", "normalized_text": "How to Kill Your Family"}]}, "lang": "en", "public_metrics": {"retweet_count": 40, "reply_count": 50, "like_count": 253, "quote_count": 25, "impression_count": 70143}, "reply_settings": "everyone"}
{"id": 1612912687616237631, "text": "Unqualified doctor who faked degree took \u00a31.3m from NHS, trial told https://t.co/Lie4vfjj8s", "edit_history_tweet_ids": [1612912687616237631], "author_id": 612473, "context_annotations": [{"domain": {"id": "46", "name": "Business Taxonomy", "description": "Categories within Brand Verticals that narrow down the scope of Brands"}, "entity": {"id": "1557697121477832705", "name": "Publisher & News Business", "description": "Brands, companies, advertisers and every non-person handle with the profit intent related to  marketing and advertiser agencies, publishers of magazines, newspapers, blogs, books"}}, {"domain": {"id": "88", "name": "Political Body", "description": "A section of a government, like The Supreme Court"}, "entity": {"id": "1062025800591896576", "name": "National Health Service", "description": "National Health Service"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "847878884917886977", "name": "Politics", "description": "Politics"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1062025800591896576", "name": "National Health Service", "description": "National Health Service"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1068583660914266113", "name": "Government institutions", "description": "Political Body"}}, {"domain": {"id": "45", "name": "Brand Vertical", "description": "Top level entities that describe a Brands industry"}, "entity": {"id": "781974597310615553", "name": "Entertainment"}}, {"domain": {"id": "30", "name": "Entities [Entity Service]", "description": "Entity Service top level domain, every item that is in Entity Service should be in this domain"}, "entity": {"id": "781974597105094656", "name": "TV/Movies Related - Entertainment"}}, {"domain": {"id": "47", "name": "Brand", "description": "Brands and Companies"}, "entity": {"id": "10047963348", "name": "BBC News", "description": "BBC News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "10047963348", "name": "BBC News", "description": "BBC News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1046545033657081857", "name": "News", "description": "News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1196447117297905665", "name": "News outlets"}}, {"domain": {"id": "69", "name": "News Vertical", "description": "News Categories like Entertainment or Technology"}, "entity": {"id": "1192881102098055168", "name": "UK national news"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1192881102098055168", "name": "UK national news"}}, {"domain": {"id": "29", "name": "Events [Entity Service]", "description": "Real world events. "}, "entity": {"id": "1523290964462252032", "name": "Doctor Who: BBC names Ncuti Gatwa as new Time Lord", "description": "The 29-year-old actor Ncuti Gatwa will take over from Jodie Whittaker as the star of Doctor Who, the BBC has announced. Scottish actor Gatwa, who was born in Rwanda, will become the 14th Time Lord."}}], "conversation_id": 1612912687616237631, "created_at": "Tuesday 10-Jan-2023 20:42:05", "edit_controls": {"edits_remaining": 5, "is_edit_eligible": true, "editable_until": "Tuesday 10-Jan-2023 21:12:05"}, "entities": {"urls": [{"start": 68, "end": 91, "url": "https://t.co/Lie4vfjj8s", "expanded_url": "https://bbc.in/3QBu6ZB", "display_url": "bbc.in/3QBu6ZB", "images": [{"url": "https://pbs.twimg.com/news_img/1612912730100342799/KOPJnc3b?format=jpg&name=orig", "width": 1024, "height": 576}, {"url": "https://pbs.twimg.com/news_img/1612912730100342799/KOPJnc3b?format=jpg&name=150x150", "width": 150, "height": 150}], "status": 200, "title": "Unqualified doctor who faked degree took \u00a31.3m from NHS, trial told", "description": "Zholia Alemi is a \"most accomplished fraudster\" who forged a certificate to get work, a jury hears.", "unwound_url": "https://www.bbc.com/news/uk-england-lancashire-64226405?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_format=link&at_medium=social&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter&at_link_id=47E9141C-90FB-11ED-9AC9-BFAB4744363C&at_campaign=Social_Flow&at_link_type=web_link"}], "annotations": [{"start": 52, "end": 54, "probability": 0.6413, "type": "Organization", "normalized_text": "NHS"}]}, "lang": "en", "public_metrics": {"retweet_count": 21, "reply_count": 35, "like_count": 54, "quote_count": 10, "impression_count": 88041}, "reply_settings": "everyone"}
{"id": 1612909719978385434, "text": "UK Treasury considers plan for digital pound https://t.co/Bqr6uEyuFB", "edit_history_tweet_ids": [1612909719978385434], "author_id": 612473, "context_annotations": [{"domain": {"id": "46", "name": "Business Taxonomy", "description": "Categories within Brand Verticals that narrow down the scope of Brands"}, "entity": {"id": "1557697121477832705", "name": "Publisher & News Business", "description": "Brands, companies, advertisers and every non-person handle with the profit intent related to  marketing and advertiser agencies, publishers of magazines, newspapers, blogs, books"}}, {"domain": {"id": "69", "name": "News Vertical", "description": "News Categories like Entertainment or Technology"}, "entity": {"id": "1192881102098055168", "name": "UK national news"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1192881102098055168", "name": "UK national news"}}, {"domain": {"id": "45", "name": "Brand Vertical", "description": "Top level entities that describe a Brands industry"}, "entity": {"id": "781974597310615553", "name": "Entertainment"}}, {"domain": {"id": "30", "name": "Entities [Entity Service]", "description": "Entity Service top level domain, every item that is in Entity Service should be in this domain"}, "entity": {"id": "781974597105094656", "name": "TV/Movies Related - Entertainment"}}, {"domain": {"id": "47", "name": "Brand", "description": "Brands and Companies"}, "entity": {"id": "10047963348", "name": "BBC News", "description": "BBC News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "10047963348", "name": "BBC News", "description": "BBC News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1046545033657081857", "name": "News", "description": "News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1196447117297905665", "name": "News outlets"}}, {"domain": {"id": "69", "name": "News Vertical", "description": "News Categories like Entertainment or Technology"}, "entity": {"id": "1192881102098055168", "name": "UK national news"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1192881102098055168", "name": "UK national news"}}], "conversation_id": 1612909719978385434, "created_at": "Tuesday 10-Jan-2023 20:30:18", "edit_controls": {"edits_remaining": 5, "is_edit_eligible": true, "editable_until": "Tuesday 10-Jan-2023 21:00:18"}, "entities": {"urls": [{"start": 45, "end": 68, "url": "https://t.co/Bqr6uEyuFB", "expanded_url": "https://bbc.in/3irP5kW", "display_url": "bbc.in/3irP5kW", "images": [{"url": "https://pbs.twimg.com/news_img/1612909721345728515/c4UG-5h6?format=jpg&name=orig", "width": 1024, "height": 576}, {"url": "https://pbs.twimg.com/news_img/1612909721345728515/c4UG-5h6?format=jpg&name=150x150", "width": 150, "height": 150}], "status": 200, "title": "Cryptocurrency: UK Treasury considers plan for digital pound", "description": "The economic secretary to the Treasury says the UK is committed to becoming a world crypto hub.", "unwound_url": "https://www.bbc.co.uk/news/technology-64224950?at_campaign=Social_Flow&at_campaign_type=owned&at_link_origin=BBCNews&at_bbc_team=editorial&at_link_id=D5C21114-9121-11ED-A33D-7C5016F31EAE&at_link_type=web_link&at_medium=social&at_format=link&at_ptr_name=twitter"}], "annotations": [{"end": 10, "probability": 0.7134, "type": "Organization", "normalized_text": "UK Treasury"}]}, "lang": "en", "public_metrics": {"retweet_count": 17, "reply_count": 54, "like_count": 40, "quote_count": 10, "impression_count": 75985}, "reply_settings": "everyone"}

In [54]:
! tail data/BBCNews-230111-2214.json

{"id": 1612933985436409857, "text": "Tudor Bible sells for \u00a320k in Belfast auction https://t.co/sVMypOIW2I", "edit_history_tweet_ids": [1612933985436409857], "author_id": 612473, "context_annotations": [{"domain": {"id": "46", "name": "Business Taxonomy", "description": "Categories within Brand Verticals that narrow down the scope of Brands"}, "entity": {"id": "1557697121477832705", "name": "Publisher & News Business", "description": "Brands, companies, advertisers and every non-person handle with the profit intent related to  marketing and advertiser agencies, publishers of magazines, newspapers, blogs, books"}}, {"domain": {"id": "69", "name": "News Vertical", "description": "News Categories like Entertainment or Technology"}, "entity": {"id": "1331946773263253506", "name": "Northern Ireland national news"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1331946773263253506", "name": "Northern Ireland national news"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1337083455767601152", "name": "Belfast"}}, {"domain": {"id": "171", "name": "Local News", "description": "For local-level news entities"}, "entity": {"id": "1337083455767601152", "name": "Belfast"}}, {"domain": {"id": "45", "name": "Brand Vertical", "description": "Top level entities that describe a Brands industry"}, "entity": {"id": "781974597310615553", "name": "Entertainment"}}, {"domain": {"id": "30", "name": "Entities [Entity Service]", "description": "Entity Service top level domain, every item that is in Entity Service should be in this domain"}, "entity": {"id": "781974597105094656", "name": "TV/Movies Related - Entertainment"}}, {"domain": {"id": "47", "name": "Brand", "description": "Brands and Companies"}, "entity": {"id": "10047963348", "name": "BBC News", "description": "BBC News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "10047963348", "name": "BBC News", "description": "BBC News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1046545033657081857", "name": "News", "description": "News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1196447117297905665", "name": "News outlets"}}, {"domain": {"id": "69", "name": "News Vertical", "description": "News Categories like Entertainment or Technology"}, "entity": {"id": "1192881102098055168", "name": "UK national news"}}, {"domain": {"id": "69", "name": "News Vertical", "description": "News Categories like Entertainment or Technology"}, "entity": {"id": "1331946773263253506", "name": "Northern Ireland national news"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1192881102098055168", "name": "UK national news"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1331946773263253506", "name": "Northern Ireland national news"}}], "conversation_id": 1612933985436409857, "created_at": "Tuesday 10-Jan-2023 22:06:43", "edit_controls": {"edits_remaining": 5, "is_edit_eligible": true, "editable_until": "Tuesday 10-Jan-2023 22:36:43"}, "entities": {"annotations": [{"end": 10, "probability": 0.7074, "type": "Other", "normalized_text": "Tudor Bible"}, {"start": 30, "end": 36, "probability": 0.9149, "type": "Place", "normalized_text": "Belfast"}], "urls": [{"start": 46, "end": 69, "url": "https://t.co/sVMypOIW2I", "expanded_url": "https://bbc.in/3k0nQ1j", "display_url": "bbc.in/3k0nQ1j", "images": [{"url": "https://pbs.twimg.com/news_img/1612933988078714880/6D4bH2t5?format=jpg&name=orig", "width": 1024, "height": 576}, {"url": "https://pbs.twimg.com/news_img/1612933988078714880/6D4bH2t5?format=jpg&name=150x150", "width": 150, "height": 150}], "status": 200, "title": "Tudor Bible sells for \u00a320k in Belfast auction", "description": "The copy of the Geneva Bible from 1615 sold well above its \u00a310,000 valuation in east Belfast.", "unwound_url": "https://www.bbc.com/news/uk-northern-ireland-64228618?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_id=7160DC7C-9109-11ED-9AC9-BFAB4744363C&at_campaign=Social_Flow&at_link_type=web_link&at_format=link&at_medium=social&at_bbc_team=editorial&at_ptr_name=twitter&at_link_origin=BBCNews&at_campaign_type=owned"}]}, "lang": "en", "public_metrics": {"retweet_count": 21, "reply_count": 7, "like_count": 80, "quote_count": 1, "impression_count": 82348}, "reply_settings": "everyone"}
{"id": 1612931809297186816, "text": "Lauren Mahon and Steve Bland to stand down as hosts of You, Me and the Big C podcast https://t.co/j9Fc0Vv5wm", "edit_history_tweet_ids": [1612931809297186816], "author_id": 612473, "context_annotations": [{"domain": {"id": "46", "name": "Business Taxonomy", "description": "Categories within Brand Verticals that narrow down the scope of Brands"}, "entity": {"id": "1557696802391859201", "name": "Entertainment & Leisure Business", "description": "Brands, companies, advertisers and every non-person handle with the profit intent related to movies, music, television, franchises, venues, theme parks, toys, tourism, hotels"}}, {"domain": {"id": "46", "name": "Business Taxonomy", "description": "Categories within Brand Verticals that narrow down the scope of Brands"}, "entity": {"id": "1557697121477832705", "name": "Publisher & News Business", "description": "Brands, companies, advertisers and every non-person handle with the profit intent related to  marketing and advertiser agencies, publishers of magazines, newspapers, blogs, books"}}, {"domain": {"id": "91", "name": "Podcast", "description": "A podcast like \"Serial\""}, "entity": {"id": "1490751295698837510", "name": "Podcasts"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "839544274442051584", "name": "Entertainment"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1074758954444513282", "name": "Podcasts & radio", "description": "Podcasts"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1166409665573351427", "name": "Podcast Hosts"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1490751295698837510", "name": "Podcasts"}}, {"domain": {"id": "45", "name": "Brand Vertical", "description": "Top level entities that describe a Brands industry"}, "entity": {"id": "781974597310615553", "name": "Entertainment"}}, {"domain": {"id": "30", "name": "Entities [Entity Service]", "description": "Entity Service top level domain, every item that is in Entity Service should be in this domain"}, "entity": {"id": "781974597105094656", "name": "TV/Movies Related - Entertainment"}}, {"domain": {"id": "47", "name": "Brand", "description": "Brands and Companies"}, "entity": {"id": "10047963348", "name": "BBC News", "description": "BBC News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "10047963348", "name": "BBC News", "description": "BBC News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1046545033657081857", "name": "News", "description": "News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1196447117297905665", "name": "News outlets"}}, {"domain": {"id": "69", "name": "News Vertical", "description": "News Categories like Entertainment or Technology"}, "entity": {"id": "1192881102098055168", "name": "UK national news"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1192881102098055168", "name": "UK national news"}}], "conversation_id": 1612931809297186816, "created_at": "Tuesday 10-Jan-2023 21:58:04", "edit_controls": {"edits_remaining": 5, "is_edit_eligible": true, "editable_until": "Tuesday 10-Jan-2023 22:28:04"}, "entities": {"annotations": [{"end": 11, "probability": 0.8333, "type": "Person", "normalized_text": "Lauren Mahon"}, {"start": 17, "end": 27, "probability": 0.9233, "type": "Person", "normalized_text": "Steve Bland"}, {"start": 55, "end": 65, "probability": 0.78, "type": "Other", "normalized_text": "You, Me and"}, {"start": 71, "end": 75, "probability": 0.6954, "type": "Other", "normalized_text": "Big C"}], "urls": [{"start": 85, "end": 108, "url": "https://t.co/j9Fc0Vv5wm", "expanded_url": "https://bbc.in/3Gx2YXd", "display_url": "bbc.in/3Gx2YXd", "status": 200, "title": "You, Me and the Big C podcast: Lauren Mahon and Steve Bland to stand down", "description": "The hosts of the award-winning podcast about dealing with cancer plan to \"hang up their headphones\".", "unwound_url": "https://www.bbc.com/news/uk-england-london-64231215?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=6BAA8046-912F-11ED-9AC9-BFAB4744363C&at_link_origin=BBCNews&at_ptr_name=twitter&at_bbc_team=editorial&at_format=link&at_medium=social&at_campaign_type=owned"}]}, "lang": "en", "public_metrics": {"retweet_count": 6, "reply_count": 17, "like_count": 46, "quote_count": 1, "impression_count": 81085}, "reply_settings": "everyone"}
{"id": 1612927784992604160, "text": "What are El Ni\u00f1o and La Ni\u00f1a, and how do they change the weather? https://t.co/JgmfB8PiCL", "edit_history_tweet_ids": [1612927784992604160], "author_id": 612473, "context_annotations": [{"domain": {"id": "46", "name": "Business Taxonomy", "description": "Categories within Brand Verticals that narrow down the scope of Brands"}, "entity": {"id": "1557697121477832705", "name": "Publisher & News Business", "description": "Brands, companies, advertisers and every non-person handle with the profit intent related to  marketing and advertiser agencies, publishers of magazines, newspapers, blogs, books"}}, {"domain": {"id": "45", "name": "Brand Vertical", "description": "Top level entities that describe a Brands industry"}, "entity": {"id": "781974597310615553", "name": "Entertainment"}}, {"domain": {"id": "30", "name": "Entities [Entity Service]", "description": "Entity Service top level domain, every item that is in Entity Service should be in this domain"}, "entity": {"id": "781974597105094656", "name": "TV/Movies Related - Entertainment"}}, {"domain": {"id": "47", "name": "Brand", "description": "Brands and Companies"}, "entity": {"id": "10047963348", "name": "BBC News", "description": "BBC News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "10047963348", "name": "BBC News", "description": "BBC News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1046545033657081857", "name": "News", "description": "News"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1196447117297905665", "name": "News outlets"}}, {"domain": {"id": "69", "name": "News Vertical", "description": "News Categories like Entertainment or Technology"}, "entity": {"id": "1192881102098055168", "name": "UK national news"}}, {"domain": {"id": "131", "name": "Unified Twitter Taxonomy", "description": "A taxonomy of user interests. "}, "entity": {"id": "1192881102098055168", "name": "UK national news"}}], "conversation_id": 1612927784992604160, "created_at": "Tuesday 10-Jan-2023 21:42:05", "edit_controls": {"edits_remaining": 5, "is_edit_eligible": true, "editable_until": "Tuesday 10-Jan-2023 22:12:05"}, "entities": {"annotations": [{"start": 9, "end": 15, "probability": 0.3672, "type": "Other", "normalized_text": "El Ni\u00f1o"}, {"start": 21, "end": 27, "probability": 0.369, "type": "Place", "normalized_text": "La Ni\u00f1a"}], "urls": [{"start": 66, "end": 89, "url": "https://t.co/JgmfB8PiCL", "expanded_url": "https://bbc.in/3IDxpgR", "display_url": "bbc.in/3IDxpgR", "status": 200, "title": "What are El Ni\u00f1o and La Ni\u00f1a, and how do they change the weather?", "description": "Global temperatures and rain patterns are affected by climate phenomena known as El Ni\u00f1o/La Ni\u00f1a.", "unwound_url": "https://www.bbc.com/news/science-environment-64192508?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_ptr_name=twitter&at_link_origin=BBCNews&at_bbc_team=editorial&at_format=link&at_medium=social&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=949F8BB6-9109-11ED-9AC9-BFAB4744363C"}]}, "lang": "en", "public_metrics": {"retweet_count": 11, "reply_count": 17, "like_count": 44, "quote_count": 3, "impression_count": 92131}, "reply_settings": "everyone"}

In [55]:
client.drop_database('twitterDB')
client.list_database_names()

['accidents', 'admin', 'config', 'local', 'mongoExample', 'titanicDB']

In [56]:
# load this into a twitterDB database and news from 11th January
! mongoimport --db twitterDB  --file data/BBCNews-230110-2118.json --collection bbcnews
! mongoimport --db twitterDB  --file data/BBCNews-230111-2214.json --collection bbcnews

2023-01-12T20:51:41.728+0000	connected to: mongodb://localhost/
2023-01-12T20:51:41.762+0000	100 document(s) imported successfully. 0 document(s) failed to import.
2023-01-12T20:51:41.945+0000	connected to: mongodb://localhost/
2023-01-12T20:51:41.964+0000	100 document(s) imported successfully. 0 document(s) failed to import.

In [57]:
client.list_database_names()

['accidents',
 'admin',
 'config',
 'local',
 'mongoExample',
 'titanicDB',
 'twitterDB']

In [58]:
# Change database
db = client.twitterDB
bbcnews = db.bbcnews
bbcnews.find_one()

{'_id': ObjectId('63c072dda4443d61145b18da'),
 'id': 1612920079967985706,
 'text': 'Firefighters face higher cancer risk, study finds https://t.co/EMGsCJ0yun',
 'edit_history_tweet_ids': [1612920079967985706],
 'author_id': 612473,
 'context_annotations': [{'domain': {'id': '46',
    'name': 'Business Taxonomy',
    'description': 'Categories within Brand Verticals that narrow down the scope of Brands'},
   'entity': {'id': '1557697121477832705',
    'name': 'Publisher & News Business',
    'description': 'Brands, companies, advertisers and every non-person handle with the profit intent related to  marketing and advertiser agencies, publishers of magazines, newspapers, blogs, books'}},
  {'domain': {'id': '66',
    'name': 'Interests and Hobbies Category',
    'description': 'A grouping of interests and hobbies entities, like Novelty Food or Destinations'},
   'entity': {'id': '1237472346560053249', 'name': 'Firefighting'}},
  {'domain': {'id': '131',
    'name': 'Unified Twitter Taxonomy',
    'description': 'A taxonomy of user interests. '},
   'entity': {'id': '1237472346560053249', 'name': 'Firefighting'}},
  {'domain': {'id': '45',
    'name': 'Brand Vertical',
    'description': 'Top level entities that describe a Brands industry'},
   'entity': {'id': '781974597310615553', 'name': 'Entertainment'}},
  {'domain': {'id': '30',
    'name': 'Entities [Entity Service]',
    'description': 'Entity Service top level domain, every item that is in Entity Service should be in this domain'},
   'entity': {'id': '781974597105094656',
    'name': 'TV/Movies Related - Entertainment'}},
  {'domain': {'id': '47',
    'name': 'Brand',
    'description': 'Brands and Companies'},
   'entity': {'id': '10047963348',
    'name': 'BBC News',
    'description': 'BBC News'}},
  {'domain': {'id': '131',
    'name': 'Unified Twitter Taxonomy',
    'description': 'A taxonomy of user interests. '},
   'entity': {'id': '10047963348',
    'name': 'BBC News',
    'description': 'BBC News'}},
  {'domain': {'id': '131',
    'name': 'Unified Twitter Taxonomy',
    'description': 'A taxonomy of user interests. '},
   'entity': {'id': '1046545033657081857',
    'name': 'News',
    'description': 'News'}},
  {'domain': {'id': '131',
    'name': 'Unified Twitter Taxonomy',
    'description': 'A taxonomy of user interests. '},
   'entity': {'id': '1196447117297905665', 'name': 'News outlets'}},
  {'domain': {'id': '69',
    'name': 'News Vertical',
    'description': 'News Categories like Entertainment or Technology'},
   'entity': {'id': '1192881102098055168', 'name': 'UK national news'}},
  {'domain': {'id': '131',
    'name': 'Unified Twitter Taxonomy',
    'description': 'A taxonomy of user interests. '},
   'entity': {'id': '1192881102098055168', 'name': 'UK national news'}}],
 'conversation_id': 1612920079967985706,
 'created_at': 'Tuesday 10-Jan-2023 21:11:28',
 'edit_controls': {'edits_remaining': 5,
  'is_edit_eligible': True,
  'editable_until': 'Tuesday 10-Jan-2023 21:41:28'},
 'entities': {'urls': [{'start': 50,
    'end': 73,
    'url': 'https://t.co/EMGsCJ0yun',
    'expanded_url': 'https://bbc.in/3isqyw2',
    'display_url': 'bbc.in/3isqyw2',
    'status': 200,
    'title': 'Firefighters face higher cancer risk, Scottish study finds',
    'description': 'They are also more likely to die from heart attacks and strokes, researchers say.',
    'unwound_url': 'https://www.bbc.co.uk/news/uk-scotland-64216321?at_format=link&at_link_origin=BBCNews&at_campaign=Social_Flow&at_ptr_name=twitter&at_link_id=3DE24338-9125-11ED-A99B-0F390EDC252D&at_bbc_team=editorial&at_campaign_type=owned&at_medium=social&at_link_type=web_link'}]},
 'lang': 'en',
 'public_metrics': {'retweet_count': 9,
  'reply_count': 7,
  'like_count': 20,
  'quote_count': 2,
  'impression_count': 23147},
 'reply_settings': 'everyone'}

In [59]:
# What columns/keys does it have
# Some of these keys are subdocuments, such as the entities one seen above
bbcnews.find_one().keys()

dict_keys(['_id', 'id', 'text', 'edit_history_tweet_ids', 'author_id', 'context_annotations', 'conversation_id', 'created_at', 'edit_controls', 'entities', 'lang', 'public_metrics', 'reply_settings'])

In [60]:
# Is Harry mentioned at all?!
# $regex allows pattern matching. The 'i' option makes the search case insensitive
# "_id:" 0 suppresses showing the object id
# SELECT text FROM bbcnews WHERE LOWER(text) LIKE '%harry%';

tweets = bbcnews.find({'text':{'$regex':'Harry', '$options': 'i'}}, {"_id":0,'text': 1})
printDoc(tweets)

{'text': "Harry's memoir Spare displayed beside How to Kill Your Family novel https://t.co/jL5JlFeAgB"}
{'text': "Things you might have missed from Prince Harry's book https://t.co/efU3aR5fg1"}
{'text': "Prince Harry's publisher says book sales 'beyond expectations' https://t.co/tt8qR8WxwC"}
{'text': 'Harry Styles and Top Gun Maverick boost entertainment industry with record sales https://t.co/leC2wtd94t'}
{'text': '"I want to hear his story in his words"\n\nPrince Harry\'s book officially hits shops \n\nhttps://t.co/fYy7DUko83 https://t.co/9Z5fJOcT64'}
{'text': 'Prince Harry and the power of the beard https://t.co/TQE8AQO6Vc'}
{'text': "Prince Harry's book officially hits shops after days of leaks https://t.co/XmfSToqCxu"}
{'text': "Who is Harry's ghostwriter, JD Moehringer - and how much did he make? https://t.co/P2TgFcLz8U"}
{'text': "Prince Harry's book officially hits shops after days of leaks https://t.co/Ff92m8HC4g"}
{'text': "Newspaper headlines: 'No way back' says Harry and hope of strike breakthrough https://t.co/bXh1zU5Epw"}
{'text': 'Tuesday\'s Express: "Harry\'s \'cruel\' attack on Camilla crosses red line" #BBCPapers #TomorrowsPapersToday https://t.co/emkMgApCKL https://t.co/rvqe7xIDP3'}
{'text': 'Tuesday\'s Mail: "Now Harry admits: There\'s no way back" #BBCPapers #TomorrowsPapersToday https://t.co/QjOBTTnLRW https://t.co/2JOTT5rrYb'}
{'text': ' Dissecting Prince Harrys latest round of interviews\n Are they helping sales of Spare?\n Nicky Campbell shares his experience of abuse \n\nAll in the latest #BBCNewscast https://t.co/neZSO49soQ'}
{'text': "Which Royal has come out best in the fallout from Prince Harry's book? https://t.co/zvF9dTJNKW"}
{'text': "Prince Harry condemns 'dangerous spin' about his Taliban comments https://t.co/V2u2hELxp4"}
{'text': "Harry's memoir Spare displayed beside How to Kill Your Family novel https://t.co/jL5JlFeAgB"}
{'text': "Things you might have missed from Prince Harry's book https://t.co/efU3aR5fg1"}

In [61]:
## Is Harry mentioned at all?!
# $regex can be used on more than one field - can either use the "OR" clause to get either value. 
# Just make sure the brackets are the correct ones and lined up correctly!
# SELECT text, created_at from bbcnews WHERE LOWER(text) LIKE '%Harry%' OR created_at LIKE '%Wednesday%'

list(bbcnews.find({
    "$or": 
    [ {'text': {'$regex':'Harry', '$options': 'i'}},  
      {"created_at" : {'$regex': 'Wednesday'}} 
    ]
    }, 
    {"_id":0,'created_at': 1, 'text': 1}))

[{'text': "Harry's memoir Spare displayed beside How to Kill Your Family novel https://t.co/jL5JlFeAgB",
  'created_at': 'Tuesday 10-Jan-2023 21:02:03'},
 {'text': "Things you might have missed from Prince Harry's book https://t.co/efU3aR5fg1",
  'created_at': 'Tuesday 10-Jan-2023 20:22:04'},
 {'text': "Prince Harry's publisher says book sales 'beyond expectations' https://t.co/tt8qR8WxwC",
  'created_at': 'Tuesday 10-Jan-2023 19:08:58'},
 {'text': 'Harry Styles and Top Gun Maverick boost entertainment industry with record sales https://t.co/leC2wtd94t',
  'created_at': 'Tuesday 10-Jan-2023 14:42:05'},
 {'text': '"I want to hear his story in his words"\n\nPrince Harry\'s book officially hits shops \n\nhttps://t.co/fYy7DUko83 https://t.co/9Z5fJOcT64',
  'created_at': 'Tuesday 10-Jan-2023 12:56:42'},
 {'text': 'Prince Harry and the power of the beard https://t.co/TQE8AQO6Vc',
  'created_at': 'Tuesday 10-Jan-2023 09:46:49'},
 {'text': "Prince Harry's book officially hits shops after days of leaks https://t.co/XmfSToqCxu",
  'created_at': 'Tuesday 10-Jan-2023 06:06:49'},
 {'text': "Who is Harry's ghostwriter, JD Moehringer - and how much did he make? https://t.co/P2TgFcLz8U",
  'created_at': 'Tuesday 10-Jan-2023 03:18:02'},
 {'text': "Prince Harry's book officially hits shops after days of leaks https://t.co/Ff92m8HC4g",
  'created_at': 'Tuesday 10-Jan-2023 02:56:21'},
 {'text': "Newspaper headlines: 'No way back' says Harry and hope of strike breakthrough https://t.co/bXh1zU5Epw",
  'created_at': 'Tuesday 10-Jan-2023 02:18:38'},
 {'text': 'Tuesday\'s Express: "Harry\'s \'cruel\' attack on Camilla crosses red line" #BBCPapers #TomorrowsPapersToday https://t.co/emkMgApCKL https://t.co/rvqe7xIDP3',
  'created_at': 'Monday 09-Jan-2023 22:50:26'},
 {'text': 'Tuesday\'s Mail: "Now Harry admits: There\'s no way back" #BBCPapers #TomorrowsPapersToday https://t.co/QjOBTTnLRW https://t.co/2JOTT5rrYb',
  'created_at': 'Monday 09-Jan-2023 22:42:06'},
 {'text': ' Dissecting Prince Harrys latest round of interviews\n Are they helping sales of Spare?\n Nicky Campbell shares his experience of abuse \n\nAll in the latest #BBCNewscast https://t.co/neZSO49soQ',
  'created_at': 'Monday 09-Jan-2023 22:12:05'},
 {'text': 'Supermodel Tatjana Patitz dies aged 56 https://t.co/kMvnSroB2E',
  'created_at': 'Wednesday 11-Jan-2023 22:05:22'},
 {'text': 'Appeal to bring home woman who was left paralysed after fall from balcony in Thailand reaches 73k https://t.co/jLQUutDVm8',
  'created_at': 'Wednesday 11-Jan-2023 21:22:04'},
 {'text': 'Thursday\'s Metro: "Lynch won\'t give an inch" #BBCPapers #TomorrowsPapersToday https://t.co/ibFQOQeW1v https://t.co/iRbbdnE0O3',
  'created_at': 'Wednesday 11-Jan-2023 22:13:11'},
 {'text': "Boat hire owners fined following man's death https://t.co/M5lox7BeNI",
  'created_at': 'Wednesday 11-Jan-2023 21:41:06'},
 {'text': 'Help during childbirth in England has "concerning decline", survey finds https://t.co/by1UAP4xhm',
  'created_at': 'Wednesday 11-Jan-2023 20:22:06'},
 {'text': "'Passport gang' used vulnerable people to get documents, jury told https://t.co/pYFojre41R",
  'created_at': 'Wednesday 11-Jan-2023 22:01:13'},
 {'text': 'Iran preparing to execute British citizen Alireza Akbari, family says https://t.co/tu2TlctA12',
  'created_at': 'Wednesday 11-Jan-2023 19:59:22'},
 {'text': 'The impact of the divisive influencer Andrew Tate\n\nListen to the latest episode of 5 Minutes On @BBCSounds https://t.co/tmYyJZ4dtF',
  'created_at': 'Wednesday 11-Jan-2023 19:40:10'},
 {'text': 'UK investor reported losing 1m in FTX collapse https://t.co/KryKdbvOqX',
  'created_at': 'Wednesday 11-Jan-2023 21:00:27'},
 {'text': 'Train drivers\' union says solution to rail disruption is "further away" than ever https://t.co/3NgaFQMLZy',
  'created_at': 'Wednesday 11-Jan-2023 19:02:06'},
 {'text': 'Rapist who used computer gaming as cover jailed for eight years https://t.co/i95HPALKAU',
  'created_at': 'Wednesday 11-Jan-2023 19:39:04'},
 {'text': 'Man jailed after getting haircut with loaded gun https://t.co/BUXVR8KQlr',
  'created_at': 'Wednesday 11-Jan-2023 19:19:52'},
 {'text': 'Rare vase created by artist Grayson Perry sells for 52,000 at auction https://t.co/eYtziyJQcP',
  'created_at': 'Wednesday 11-Jan-2023 20:42:04'},
 {'text': 'RT @BBCScotlandNews: A recording of the moment the night manager of Cameron House alerted emergency services that a fire had broken out in',
  'created_at': 'Wednesday 11-Jan-2023 17:26:50'},
 {'text': 'Slate mine seeks young workers as demand rockets https://t.co/9olg2gwAJJ',
  'created_at': 'Wednesday 11-Jan-2023 18:02:05'},
 {'text': 'Nature reserve to be created to protect rare bat https://t.co/NRk1JgmBAr',
  'created_at': 'Wednesday 11-Jan-2023 17:42:04'},
 {'text': 'Attempted murder arrest after woman is stabbed in Belfast https://t.co/FKCPVba5RI',
  'created_at': 'Wednesday 11-Jan-2023 18:22:08'},
 {'text': 'Skeleton of Irish giant to be removed from museum display https://t.co/g6P1dqbpL8',
  'created_at': 'Wednesday 11-Jan-2023 17:22:04'},
 {'text': 'Memorial garden plan for schoolgirl Olivia Pratt-Korbel who was shot and killed in Liverpool https://t.co/sMtlNomr1O',
  'created_at': 'Wednesday 11-Jan-2023 18:42:02'},
 {'text': 'Rishi Sunak admits to using private healthcare https://t.co/Kc6XM4xX0h',
  'created_at': 'Wednesday 11-Jan-2023 16:40:05'},
 {'text': 'Shamima Begum accepts she joined a terror group after fleeing Britain as a schoolgirl for Islamic State\n\nListen to The Shamima Begum Story on @bbcsounds ()\n\nhttps://t.co/8n2RC63Gyw https://t.co/ISyyY9Pp6M',
  'created_at': 'Wednesday 11-Jan-2023 16:59:03'},
 {'text': 'RT @BBCBreaking: Man, 22, arrested on suspicion of murder over Christmas Eve shooting of 26-year-old Elle Edwards outside pub in Merseyside',
  'created_at': 'Wednesday 11-Jan-2023 16:42:27'},
 {'text': 'RT @BBCBreaking: Royal Mail unable to send letters and parcels overseas after "cyber incident" https://t.co/wIHaD52ld3',
  'created_at': 'Wednesday 11-Jan-2023 16:14:00'},
 {'text': 'Spelling blunder spotted on Isaac Newton memorial bench https://t.co/hvqc3UUmNS',
  'created_at': 'Wednesday 11-Jan-2023 15:58:31'},
 {'text': 'Parthenon Sculptures should not be returned to Greece, says UK culture Secretary https://t.co/huJH3NEQFS',
  'created_at': 'Wednesday 11-Jan-2023 16:20:11'},
 {'text': 'Fees for England universities frozen for two years https://t.co/5JycBQz6pC',
  'created_at': 'Wednesday 11-Jan-2023 15:39:05'},
 {'text': 'Bus driver becomes viral singing sensation https://t.co/jPMH67yxAo',
  'created_at': 'Wednesday 11-Jan-2023 15:20:01'},
 {'text': "Which Royal has come out best in the fallout from Prince Harry's book? https://t.co/zvF9dTJNKW",
  'created_at': 'Wednesday 11-Jan-2023 14:58:43'},
 {'text': 'Dad starts Atlantic solo row after sudden death of daughter https://t.co/IsCrJhD66M',
  'created_at': 'Wednesday 11-Jan-2023 14:42:06'},
 {'text': "'Number of defects' led to fatal fire at luxury Cameron House hotel in Scotland, inquiry finds https://t.co/BRsFKNl9L0",
  'created_at': 'Wednesday 11-Jan-2023 14:17:16'},
 {'text': 'Direct appeal made to missing couple with newborn baby https://t.co/Dct1L0wIMY',
  'created_at': 'Wednesday 11-Jan-2023 14:32:04'},
 {'text': 'Johnny Vegas opens up about recent ADHD diagnosis https://t.co/7DluQyvkQ5',
  'created_at': 'Wednesday 11-Jan-2023 14:07:18'},
 {'text': 'RT @BBCBreaking: US flights allowed to take off again after FAA lifts grounding order imposed due to safety system glitch https://t.co/8rqe',
  'created_at': 'Wednesday 11-Jan-2023 14:06:09'},
 {'text': 'Baby hit by brick thrown through bus window in Glasgow https://t.co/JAE3SRdEOX',
  'created_at': 'Wednesday 11-Jan-2023 13:15:38'},
 {'text': 'Slate mine seeks young workers as demand rockets https://t.co/HYygFle2qn',
  'created_at': 'Wednesday 11-Jan-2023 13:46:12'},
 {'text': 'Council considers cruise ships for homeless and refugees https://t.co/ju7pqvsbVo',
  'created_at': 'Wednesday 11-Jan-2023 12:58:58'},
 {'text': 'Couple who poisoned dog with raisins sentenced https://t.co/xP7i4BRHwy',
  'created_at': 'Wednesday 11-Jan-2023 12:47:07'},
 {'text': 'RT @BBCPolitics: SNPs Stephen Flynn says its "perverse" that senior Tories are "feathering their nest while denying working people the ri',
  'created_at': 'Wednesday 11-Jan-2023 12:40:13'},
 {'text': 'RT @bbc5live: At 15, Shamima Begum ran away from her London home to join the Islamic State group in Syria. \n\nNow she wants to come back.',
  'created_at': 'Wednesday 11-Jan-2023 13:13:32'},
 {'text': "RT @BBCPolitics: Strikes disruption is nothing compared to the Conservatives' 13 years butchering of health budgets, says Plaid Cymru's L",
  'created_at': 'Wednesday 11-Jan-2023 12:32:55'},
 {'text': 'RT @BBCBreaking: All US domestic flights grounded for several hours due to technical glitch, FAA orders https://t.co/tCQUSXHZqa',
  'created_at': 'Wednesday 11-Jan-2023 12:32:33'},
 {'text': 'RT @BBCPolitics: Labours Alex Davies-Jones asks what the government is doing to tackle "radicalisation of young men" by figures like Andre',
  'created_at': 'Wednesday 11-Jan-2023 12:30:51'},
 {'text': 'RT @BBCPolitics: When will cancer patients get the certainty of quick care? asks Keir Starmer\n\nPM says Labour leader has no understandin',
  'created_at': 'Wednesday 11-Jan-2023 12:22:31'},
 {'text': 'Wasp causes chaos at Masters snooker match https://t.co/tnIxF69C4f',
  'created_at': 'Wednesday 11-Jan-2023 12:18:38'},
 {'text': "RT @BBCPolitics: Theyve gone from clapping the nurses to sacking the nurses\n\nLabour's Keir Starmer asks if government's aim is to get NH",
  'created_at': 'Wednesday 11-Jan-2023 12:20:08'},
 {'text': 'RT @BBCPolitics: Why is PM "choosing to prolong the misery rather than end these [NHS] strikes?" asks Labour\'s Keir Starmer\n\nPM Rishi Sunak',
  'created_at': 'Wednesday 11-Jan-2023 12:16:00'},
 {'text': 'How much are ambulance workers paid?\n \nFollow live for updates ',
  'created_at': 'Wednesday 11-Jan-2023 11:40:00'},
 {'text': 'Dehydrated pensioner died after hospital fall, inquest hears https://t.co/7zZgGiVP4d',
  'created_at': 'Wednesday 11-Jan-2023 11:56:15'},
 {'text': 'RT @BBCPolitics: "I am registered with an NHS GP," says PM Rishi Sunak\n\nHe tells Labours Cat Smith he has used independent healthcare in',
  'created_at': 'Wednesday 11-Jan-2023 12:10:36'},
 {'text': 'At-risk Afghan teacher feels "abandoned" by UK https://t.co/nhJVqxqfqm',
  'created_at': 'Wednesday 11-Jan-2023 11:18:27'},
 {'text': 'Driver flees at up to 120mph during police chase https://t.co/Xi0Ru8jZPw',
  'created_at': 'Wednesday 11-Jan-2023 11:05:43'},
 {'text': 'RT @BBCBreaking: UK MP Andrew Bridgen suspended by Conservative party for spreading misinformation about Covid vaccine, chief whip says htt',
  'created_at': 'Wednesday 11-Jan-2023 11:27:15'},
 {'text': 'Met Police to target dangerous men using data, says chief https://t.co/GPFw6XfWjM',
  'created_at': 'Wednesday 11-Jan-2023 10:45:08'},
 {'text': "Wildlife fan awaits two-legged fox's return https://t.co/fqixd0I0uB",
  'created_at': 'Wednesday 11-Jan-2023 10:27:22'},
 {'text': 'Flash-mob dance at funeral "breaks tradition" https://t.co/KcWj56nKNG',
  'created_at': 'Wednesday 11-Jan-2023 09:45:10'},
 {'text': "NHS issues guidance to the public during today's strike by ambulance staff in England and Wales \n\nFollow live for updates ",
  'created_at': 'Wednesday 11-Jan-2023 10:13:10'},
 {'text': 'About 20,000 members of the two largest ambulance unions in England and Wales are striking over pay and staffing\n\nFollow for updates ',
  'created_at': 'Wednesday 11-Jan-2023 09:23:14'},
 {'text': "'UK's oldest' HGV licence-holder driver passes health MoT https://t.co/97djyo3Yu3",
  'created_at': 'Wednesday 11-Jan-2023 08:58:57'},
 {'text': "Record Christmas for Sainsbury's despite rising costs https://t.co/CowEdU59JB",
  'created_at': 'Wednesday 11-Jan-2023 08:28:42'},
 {'text': 'Demi Lovato poster banned for being offensive to Christians https://t.co/rsXjQYsevj',
  'created_at': 'Wednesday 11-Jan-2023 08:20:18'},
 {'text': 'Why did this small village once have so many pubs? https://t.co/AAMX2gsshW',
  'created_at': 'Wednesday 11-Jan-2023 07:58:41'},
 {'text': 'You, Me and the Big C podcast "ready to hang up headphones" https://t.co/fHgZMFQwAO',
  'created_at': 'Wednesday 11-Jan-2023 07:40:09'},
 {'text': 'More homeless children in London than rest of England combined https://t.co/XyGGwFA2ho',
  'created_at': 'Wednesday 11-Jan-2023 07:03:32'},
 {'text': 'Uranium in cargo sparked alert at Heathrow Airport https://t.co/ParGNSdPnD',
  'created_at': 'Wednesday 11-Jan-2023 07:21:51'},
 {'text': 'What calls will ambulances answer on strike day? https://t.co/FPmjxBCDVu',
  'created_at': 'Wednesday 11-Jan-2023 06:35:01'},
 {'text': 'UK Treasury considers plan for digital pound https://t.co/afCPYiUGJ7',
  'created_at': 'Wednesday 11-Jan-2023 05:39:43'},
 {'text': 'Shamima Begum acknowledges she joined a terror group https://t.co/3Wm3NcH4IX',
  'created_at': 'Wednesday 11-Jan-2023 06:13:34'},
 {'text': 'The Banshees of Inisherin wins big at Golden Globes https://t.co/8BQ2a9Dp5t',
  'created_at': 'Wednesday 11-Jan-2023 05:08:47'},
 {'text': "Cost of living: 'We had to bath our kids in the kitchen sink' https://t.co/AAfrtYQ55b",
  'created_at': 'Wednesday 11-Jan-2023 03:05:26'},
 {'text': "Newspaper headlines: 'Workers face strike ban' and 'prince of sales' https://t.co/ArZtsVuhJa",
  'created_at': 'Wednesday 11-Jan-2023 03:00:53'},
 {'text': 'Iran protests: Jailed activist Sepideh Qolian describes brutality in letter https://t.co/fVh6bDQpjO',
  'created_at': 'Wednesday 11-Jan-2023 02:38:24'},
 {'text': "Prince Harry condemns 'dangerous spin' about his Taliban comments https://t.co/V2u2hELxp4",
  'created_at': 'Wednesday 11-Jan-2023 02:04:29'},
 {'text': "Harry's memoir Spare displayed beside How to Kill Your Family novel https://t.co/jL5JlFeAgB",
  'created_at': 'Tuesday 10-Jan-2023 21:02:03'},
 {'text': "Things you might have missed from Prince Harry's book https://t.co/efU3aR5fg1",
  'created_at': 'Tuesday 10-Jan-2023 20:22:04'}]

In [62]:
# or use the "AND" clause to get both value. 
# SELECT text, created_at from bbcnews WHERE LOWER(text) LIKE '%Harry%' AND created_at LIKE '%Wednesday%'

list(bbcnews.find({
    "$and": 
    [ {'text': {'$regex':'Harry', '$options': 'i'}},  
      {"created_at" : {'$regex': 'Wednesday'}} 
    ]
    }, 
    {"_id":0,'created_at': 1, 'text': 1}))

[{'text': "Which Royal has come out best in the fallout from Prince Harry's book? https://t.co/zvF9dTJNKW",
  'created_at': 'Wednesday 11-Jan-2023 14:58:43'},
 {'text': "Prince Harry condemns 'dangerous spin' about his Taliban comments https://t.co/V2u2hELxp4",
  'created_at': 'Wednesday 11-Jan-2023 02:04:29'}]

In [63]:
# show the distinct languages found in the tweets
# SELECT DISTINCT lang FROM bbcnews;
# The supported languages can be found here: https://developer.twitter.com/en/docs/twitter-for-websites/supported-languages 
db.bbcnews.distinct("lang")

['ca', 'en', 'fr', 'tl']

In [64]:
# How many tweets have been retweeted more than 100 times
# Use the dot notation to reference keys in any subdocument
db.bbcnews.count_documents({"public_metrics.retweet_count": { '$gt' : 100 }})

15

In [65]:
tweets = db.bbcnews.find({'entities.urls.title':{'$regex':'Firefighter'}}, {'entities.urls.title': 1})

printDoc(tweets)

{'_id': ObjectId('63c072dda4443d61145b18da'), 'entities': {'urls': [{'title': 'Firefighters face higher cancer risk, Scottish study finds'}]}}
{'_id': ObjectId('63c072dd24cadb86afa53b92'), 'entities': {'urls': [{'title': 'Firefighters face higher cancer risk, Scottish study finds'}]}}

In [66]:
# Show some fields from the entities subdocument.
# When showing the subdocuments pretty print makes the tweets more readable
tweets = db.bbcnews.find({}, {"_id":0, "entities.urls.title": 1, "entities.urls.description": 1})

printDocs(tweets)

{'entities': {'urls': [{'description': 'They are also more likely to die from '
                                       'heart attacks and strokes, researchers '
                                       'say.',
                        'title': 'Firefighters face higher cancer risk, '
                                 'Scottish study finds'}]}}
{'entities': {'urls': [{'description': "A bookseller placed Prince Harry's "
                                       "memoir Spare beside Bella Mackie's "
                                       'novel How to Kill Your Family.',
                        'title': "Harry's memoir Spare displayed beside How to "
                                 'Kill Your Family novel'}]}}
{'entities': {'urls': [{'description': 'Zholia Alemi is a "most accomplished '
                                       'fraudster" who forged a certificate to '
                                       'get work, a jury hears.',
                        'title': 'Unqualified doctor who faked degree took '
                                 '1.3m from NHS, trial told'}]}}
{'entities': {'urls': [{'description': 'The economic secretary to the Treasury '
                                       'says the UK is committed to becoming a '
                                       'world crypto hub.',
                        'title': 'Cryptocurrency: UK Treasury considers plan '
                                 'for digital pound'}]}}
{'entities': {'urls': [{'description': 'The duke says he is a Friends fanatic '
                                       'and the Queen quizzed Meghan about '
                                       'Donald Trump when they met.',
                        'title': "Prince Harry's book: Things you might have "
                                 'missed'}]}}
{'entities': {'urls': [{'description': "Health managers say Wednesday's "
                                       'walkout in England and Wales will be '
                                       'harder to cope with.',
                        'title': 'NHS bosses fear impact of second ambulance '
                                 'strike'}]}}
{'entities': {}}
{'entities': {'urls': [{'description': 'Tomasz Waga was killed after he tried '
                                       'to steal drugs from a cannabis '
                                       'factory.',
                        'title': 'Tomasz Waga: Three jailed for beating drug '
                                 'rival to death'}]}}
{'entities': {'urls': [{'description': 'Kai, 10, went to bed "100% normal" and '
                                       'woke up "completely blind" the next '
                                       'morning.',
                        'title': 'West Midlands Fire Service dog goes blind '
                                 '"overnight"'}]}}
{'entities': {'urls': [{'description': 'What you need to know about the '
                                       "ambulance workers' strike and other "
                                       "industrial action, by the BBC's Zoe "
                                       'Conway.',
                        'title': 'Strikes Update: How Wednesday 11 Januarys '
                                 'walkouts will affect you'}]}}
{'entities': {'urls': [{'description': 'Geraldine Brown, granddaughter of '
                                       'Cynthia Oakley, says she is '
                                       '"absolutely flabbergasted" by NHS '
                                       'delays.',
                        'title': 'Grandmother, 95, waits 18 hours at Sandwell '
                                 'A&E'}]}}
{'entities': {'urls': [{'description': 'The controversial memoir has sold more '
                                       'than 400,000 copies on its first day '
                                       'of sale in the UK.',
                        'title': "Prince Harry's publisher says book sales "
                                 "'beyond expectations'"}]}}
{'entities': {'urls': [{'description': 'The rock band will play several US '
                                       'festival dates, a year after their '
                                       "drummer's untimely death.",
                        'title': 'Foo Fighters announce their first shows '
                                 "since Taylor Hawkins' death"}]}}
{'entities': {'urls': [{'description': 'The firm, formally known as Hermes, '
                                       'says staff shortages, Royal Mail '
                                       'strikes and bad weather have caused '
                                       'disruption.',
                        'title': 'Evri says sorry for UK parcel delivery '
                                 'delays'}]}}
{'entities': {}}
{'entities': {'urls': [{'description': "Last year was the world's fifth "
                                       'warmest year with Europe enduring its '
                                       'hottest summer on record',
                        'title': 'Climate change: Europe and polar regions '
                                 'bear brunt of warming in 2022'}]}}
{'entities': {'urls': [{'description': 'The number of hospital beds occupied '
                                       'by patients ready to be discharged is '
                                       'also at a record level.',
                        'title': 'A&E patients waiting more than 12 hours hits '
                                 'record high'}]}}
{'entities': {'urls': [{'description': 'Some people at the launch said they '
                                       'felt "gutted", but the event was still '
                                       '"electric".',
                        'title': 'Spaceport Cornwall fans disappointed as '
                                 'rocket launch ends in failure'}]}}
{'entities': {'urls': [{'description': 'Several hundred Evri parcels were '
                                       'stolen from a Stockport warehouse, '
                                       'police say.',
                        'title': 'Evri Stockport raid: Seven held after '
                                 'hundreds of parcels stolen'}]}}
{'entities': {'urls': [{'description': 'The sisters of a six-year-old say the '
                                       'authorities will not tell them why her '
                                       'killer is back in jail.',
                        'title': 'Collette Gallacher: Sisters of murdered girl '
                                 'call for prisoner recall transparency'}]}}
{'entities': {'urls': [{'description': "Critics say the PM's choice of "
                                       'taxpayer-funded transport clashes with '
                                       'his climate pledges.',
                        'title': "Rishi Sunak's use of jet for hospital trip "
                                 'defended by No 10'}]}}
{'entities': {'urls': [{'description': 'Swimming pools, leisure centres and '
                                       'gyms are at risk of closure unless the '
                                       'UK government offers more support to '
                                       'tackle soaring energy costs, a fitness '
                                       'industry trade body warns.',
                        'title': 'Leisure services at risk without further '
                                 'support'}]}}
{'entities': {'urls': [{'description': 'The company had already suspended '
                                       'winter flights due to them not being '
                                       '"economically viable".',
                        'title': 'Cardiff Airport: Wizz Air ends flights in '
                                 'and out of Wales'}]}}
{'entities': {'urls': [{'description': 'The unusual interpretation of the '
                                       'Wiltshire landmark is part of a '
                                       'touring exhibition.',
                        'title': 'Lincolnshire artist recreates Stonehenge '
                                 'from own kidney stones'}]}}
{'entities': {'urls': [{'description': 'Remo Douglas, 34, drowned while trying '
                                       'to save his family from a river '
                                       'swollen by heavy rain.',

                        'title': 'Parents pay tribute to son who drowned '
                                 'saving family'}]}}
{'entities': {'urls': [{'description': 'Six-year-old Ella Henderson died a day '
                                       'after being struck by a falling tree '
                                       'in Newcastle.',
                        'title': 'Newcastle girl died after decaying tree '
                                 'collapsed at school'}]}}
{'entities': {'urls': [{'description': 'The club says it cannot continue adult '
                                       'cricket at the ground because of some '
                                       'of its neighbours.',
                        'title': 'Dorset village club ends adult cricket '
                                 "matches after 'constant complaints'"}]}}
{'entities': {'urls': [{'description': 'An orange light streaking across the '
                                       'night sky is captured on mobile phones '
                                       'and doorbell cameras.',
                        'title': 'Meteor lights up skies over England'}]}}
{'entities': {'urls': [{'description': 'Several customers say they had huge '
                                       'sums of money taken from their '
                                       'accounts after visiting the club.',
                        'title': 'Vanity Soho strip club shut by council after '
                                 'alleged spikings'}]}}
{'entities': {}}
{'entities': {'urls': [{'description': 'A 21-year-old woman is arrested after '
                                       'the death of Bakewell Town footballer '
                                       'Kyle Shimwell.',
                        'title': 'Kyle Shimwell: Footballer dies after car '
                                 'crashes into shop'}]}}
{'entities': {'urls': [{'description': 'Early trade body figures suggest '
                                       '"extraordinary" record sales in the '
                                       'entertainment sector.',
                        'title': 'Harry Styles and Top Gun Maverick boost '
                                 'entertainment industry with record sales'}]}}
{'entities': {'urls': [{'description': 'Symon Hill says he is now considering '
                                       'taking legal action against the '
                                       'police.',
                        'title': "Symon Hill: Charges against King's ceremony "
                                 'heckler dropped'}]}}
{'entities': {}}
{'entities': {'urls': [{'description': 'Being in a fishing lake is like "being '
                                       'in a branch of Waitrose" for a hungry '
                                       'seal, an expert says.',
                        'title': 'Seal stuck in Rochford lake munching its way '
                                 'through fish stock'}]}}
{'entities': {'urls': [{'description': 'The former PM is missing from a photo '
                                       'posted by the business secretary of a '
                                       'Spaceport Cornwall visit.',
                        'title': 'Boris Johnson erased from Grant Shapps '
                                 'spaceport picture'}]}}
{'entities': {'urls': [{'description': 'Katie Dunn says a routine visit to the '
                                       'opticians led to a hospital scan which '
                                       'detected the tumour.',
                        'title': "Woman's brain tumour found through eye test "
                                 'in Hampshire'}]}}
{'entities': {'urls': [{'description': 'An orange light streaking across the '
                                       'night sky was captured on mobile '
                                       'phones and doorbell cameras.',
                        'title': 'Meteor lights up skies over England'}]}}
{'entities': {'urls': [{'description': 'Fans queue to buy a hardback copy of '
                                       "the duke's memoir as it went on sale "
                                       'at midnight.',
                        'title': "Prince Harry's book officially hits shops "
                                 'after days of leaks'},
                       {}]}}
{'entities': {'urls': [{'description': 'The photographer, whose picture went '
                                       'viral, only realised how good the shot '
                                       'is when he got home.',
                        'title': 'Workington Reds fans snapped smiling in a '
                                 'downpour'}]}}
{'entities': {'urls': [{'description': 'Edith Thompson, 29, was executed 100 '
                                       'years ago after her lover murdered her '
                                       'husband.',
                        'title': 'Edith Thompson: U-turn over rejection of '
                                 'hanged womans pardon'}]}}
{'entities': {'urls': [{'description': 'More than 85,000 people try to buy '
                                       "tickets to the comedian's show at a "
                                       'small theatre.',
                        'title': "Michael McIntyre's 110-seat Hemel Hempstead "
                                 'gig sells out in minutes'}]}}
{'entities': {'urls': [{'description': 'The online giant is to shut three '
                                       'warehouses, but also plans to open two '
                                       'new ones creating 2,500 roles.',
                        'title': 'Amazon warehouse closures put 1,200 jobs at '
                                 'risk'}]}}
{'entities': {'urls': [{'description': 'Liverpool will host a handover '
                                       'ceremony and allocation draw on 31 '
                                       'January as Turin hands over keys.',
                        'title': 'Eurovision 2023: Handover and semi-final '
                                 'allocation draw to be held in Liverpool'}]}}
{'entities': {'urls': [{'description': 'Petrol at lowest price since Russia '
                                       'invaded Ukraine, but diesel still '
                                       'costs more than last year.',
                        'title': 'Petrol below 1.50 a litre for first time '
                                 'since Russia invaded Ukraine'}]}}
{'entities': {'urls': [{'description': 'Five distinctive-looking Badger Face '
                                       'Texel lambs are born on a farm in '
                                       'Gloucestershire.',
                        'title': 'Badger-like sheep bred in Gloucestershire '
                                 'farm first'}]}}
{'entities': {'urls': [{'description': 'An ambulance worker reveals how '
                                       'difficult the job now is and why they '
                                       'are striking.',
                        'title': "I worry we're killing people - ambulance "
                                 'dispatcher'}]}}
{'entities': {'urls': [{'description': 'New figures show more than 650,000 '
                                       'people died in the UK last year.',
                        'title': 'Excess deaths in 2022 among worst in 50 '
                                 'years'}]}}
{'entities': {'urls': [{'description': 'Police searching for a missing couple '
                                       'and their baby "do not wish to '
                                       'interrupt their family life".',
                        'title': "Baby's welfare is priority in missing couple "
                                 'search, police say'}]}}
{}
{'entities': {'urls': [{'description': 'The move follows years of Covid '
                                       'closure and comes as a huge travel '
                                       'surge begins for Lunar New Year.',
                        'title': 'China reopens borders after three years of '
                                 'Covid closure'},
                       {}]}}
{'entities': {'urls': [{'description': 'Prince Harry describes his beard as a '
                                       'shield for anxiety amid claims he was '
                                       'told to shave it off.',
                        'title': 'Hair and a spare: Prince Harry and the power '
                                 'of the beard'}]}}
{'entities': {'urls': [{'description': "The capital's roads are more congested "
                                       'than they were before the pandemic, '
                                       'researchers find.',
                        'title': "London remains world's most congested city, "
                                 'report finds'}]}}
{'entities': {'urls': [{'description': 'The action by primary teachers will be '
                                       'followed by a walkout by secondary '
                                       'teachers on Wednesday.',
                        'title': "Scotland's primary schools shut as teachers "
                                 'strike'}]}}
{'entities': {'urls': [{'description': 'The amount of damages being sought in '
                                       'class actions leapt from 4bn in 2021 '
                                       'to 26bn in 2022.',
                        'title': 'Why it is becoming easier to sue big tech in '
                                 'the UK'}]}}
{'entities': {'urls': [{'description': 'It can improve life for thousands with '
                                       'type 1 diabetes in England and Wales, '
                                       'health assessors say.',
                        'title': 'Diabetes artificial pancreas tech '
                                 'recommended for thousands on NHS'}]}}
{'entities': {'urls': [{'description': 'A group of volunteers in Camden, '
                                       'London, want to save your broken '
                                       'electricals from the scrapheap.',
                        'title': 'Repairing broken gadgets for a greener '
                                 'future'}]}}
{'entities': {'urls': [{'description': 'Under the proposals, some trade union '
                                       'members would be required to continue '
                                       'working during a strike.',
                        'title': 'Anti-strikes bill to be introduced to '
                                 'Parliament'}]}}
{'entities': {'urls': [{'description': 'The cardboard figure of the US star '
                                       'has been a firm favourite among '
                                       "Manchester's commuters for years.",
                        'title': "Hundreds bid to save Manchester's Taylor "
                                 'Swift cardboard cut-out'}]}}
{'entities': {'urls': [{'description': 'Remo Douglas, 34, drowned in a river '
                                       'trying to save his family while on a '
                                       'trip to Jamaica.',
                        'title': 'Parents pay tribute to man who drowned '
                                 'saving family'}]}}
{'entities': {'urls': [{'description': 'The action by primary teachers will be '
                                       'followed by a walkout by secondary '
                                       'teachers on Wednesday.',
                        'title': "Scotland's primary schools shut as teachers "
                                 'strike'}]}}
{'entities': {'urls': [{'description': 'A search is under way for British '
                                       'nationals Andrew Bagshaw and '
                                       'Christopher Parry in Ukraine.',
                        'title': 'Two British men missing in Ukraine, say '
                                 'officials'}]}}
{'entities': {'urls': [{'description': 'The first ever satellite mission '
                                       'launched from UK soil has a technical '
                                       'problem on its climb to space.',
                        'title': 'UK space launch: Historic Cornwall rocket '
                                 'launch ends in failure'}]}}
{'entities': {}}
{'entities': {'urls': [{'description': 'Fans queue to buy a hardback copy of '
                                       "the duke's memoir as it went on sale "
                                       'at midnight.',
                        'title': "Prince Harry's book officially hits shops "
                                 'after days of leaks'}]}}
{'entities': {'urls': [{'description': 'The party will pledge more support for '
                                       'older workers and those with medical '
                                       'conditions.',
                        'title': 'Labour to unveil plan to help jobseekers '
                                 'find work'}]}}
{'entities': {'urls': [{'description': 'The FBI is reportedly involved in the '
                                       'inquiry into about 10 documents found '
                                       'at the Penn Biden Center.',
                        'title': 'Potentially classified files found at Biden '
                                 'private office'}]}}
{'entities': {'urls': [{'description': 'From the start of March employees will '
                                       'be asked to be in the office from '
                                       'Monday to Thursday.',
                        'title': 'Disney boss calls for workers to return to '
                                 'office four days a week'}]}}
{'entities': {'urls': [{'description': 'The first ever satellite mission '
                                       'launched from UK soil has a technical '
                                       'problem on its climb to space.',
                        'title': 'UK space launch: Historic Cornwall rocket '
                                 'launch ends in failure'}]}}
{'entities': {'urls': [{'description': 'The awards ceremony is back this year, '
                                       'but the body behind it remains '
                                       'controversial in Hollywood.',
                        'title': 'Golden Globes: Will Hollywood stars return '
                                 'after controversy?'}]}}
{'entities': {'urls': [{'description': 'Physical game sales fell 4.5% last '
                                       'year, the digital entertainment and '
                                       'retail association says.',
                        'title': 'Almost 90% of games sold in UK in 2022 were '
                                 'digital - ERA'}]}}
{'entities': {'urls': [{'description': 'Ministers are hinting publicly and '
                                       'privately that they might be willing '
                                       'to compromise.',
                        'title': 'Tone shifting on both sides after latest pay '
                                 'talks'}]}}
{'entities': {'urls': [{'description': 'In a letter they say the Hong Kong '
                                       "media tycoon's upcoming national "
                                       'security trial is "deeply concerning".',
                        'title': "Hong Kong: Jimmy Lai's UK lawyers call for "
                                 'meeting with Rishi Sunak'}]}}
{'entities': {'urls': [{'description': 'The Pulitzer-Prize winning journalist '
                                       'is the creme de la creme of celebrity '
                                       'ghostwriters.',
                        'title': "Who is Harry's ghostwriter, JR Moehringer - "
                                 'and how much did he make?'}]}}
{'entities': {'urls': [{'description': 'Fans queue to buy a hardback copy of '
                                       "the duke's memoir as it went on sale "
                                       'at midnight.',
                        'title': "Prince Harry's book officially hits shops "
                                 'after days of leaks'}]}}
{'entities': {'urls': [{'description': "Tuesday's papers react to Prince "
                                       "Harry's comments on returning to the "
                                       'UK, and the latest on NHS strikes.',
                        'title': "Newspaper headlines: 'No way back' says "
                                 'Harry and hope of strike breakthrough'}]}}
{'entities': {'urls': [{'description': 'The Foreign Office repeats its warning '
                                       'to Iran to end "brutal repression" of '
                                       'anti-regime protesters.',
                        'title': 'Iran executions: UK summons top diplomat in '
                                 'protest at killings'}]}}
{'entities': {'urls': [{'description': 'Engineers are working on building '
                                       'solar farms robust enough to survive '
                                       'in the open ocean.',
                        'title': 'Could floating solar farms survive out at '
                                 'sea?'}]}}
{'entities': {'urls': [{}]}}
{'entities': {'urls': [{'description': 'Total retail sales jumped by almost 7% '
                                       'but price rises meant shoppers bought '
                                       'less but spent more.',
                        'title': 'December sales bounce due to price rises not '
                                 'shopping sprees'}]}}
{'entities': {'urls': [{'description': 'James Cleverley and Maros efovi say '
                                       'the agreement gives a new basis for NI '
                                       'protocol talks.',
                        'title': 'NI Protocol: UK and EU reach agreement on '
                                 'trade data sharing'}]}}
{'entities': {'urls': [{'description': 'Visit BBC News for up-to-the-minute '
                                       'news, breaking news, video, audio and '
                                       'feature stories. BBC News provides '
                                       'trusted World and UK news as well as '
                                       'local and regional perspectives. Also '
                                       'entertainment, business, science, '
                                       'technology and health news.',
                        'title': 'Home - BBC News'},
                       {}]}}
{'entities': {'urls': [{'description': 'The government says the current level '
                                       'of support for firms was '
                                       '"unsustainably expensive".',
                        'title': 'Energy bill support for firms to be reduced '
                                 'from April'}]}}
{'entities': {'urls': [{'description': 'The action by primary teachers will be '
                                       'followed by a walkout by secondary '
                                       'teachers on Wednesday.',
                        'title': "Scotland's primary schools shut as teachers "
                                 'strike'}]}}
{'entities': {'urls': [{'description': 'Visit BBC News for up-to-the-minute '
                                       'news, breaking news, video, audio and '
                                       'feature stories. BBC News provides '
                                       'trusted World and UK news as well as '
                                       'local and regional perspectives. Also '

{'entities': {'urls': [{'description': 'What you need to know about emergency '
                                       'care during the ambulance strike.',
                        'title': 'Strike: What will ambulances respond to on '
                                 'Wednesday?'}]}}
{'entities': {'urls': [{'description': 'The economic secretary to the Treasury '
                                       'says the UK is committed to becoming a '
                                       'world crypto hub.',
                        'title': 'Cryptocurrency: UK Treasury considers plan '
                                 'for digital pound'}]}}
{'entities': {'urls': [{'description': 'In extensive BBC interviews, Shamima '
                                       'Begum also reveals the detailed '
                                       'planning before she joined IS at 15.',
                        'title': 'Shamima Begum accepts she joined a terror '
                                 'group'}]}}
{'entities': {'urls': [{'description': 'The Irish actor Colin Farrell is '
                                       'recognised for his performance in the '
                                       'dark comedy set on a remote island.',
                        'title': 'Golden Globes 2023: The Banshees of '
                                 'Inisherin wins big'}]}}
{'entities': {'urls': [{'description': 'A rural family who ran out of heating '
                                       'oil say they were forced to wash their '
                                       'children in the kitchen.',
                        'title': "Cost of living: 'We had to bath our kids in "
                                 "the kitchen sink'"}]}}
{'entities': {'urls': [{'description': "Wednesday's papers say millions of "
                                       'workers face a strike ban and Prince '
                                       "Harry's memoir breaks a record.",
                        'title': "Newspaper headlines: 'Workers face strike "
                                 "ban' and 'prince of sales'"}]}}
{'entities': {'urls': [{'description': 'Sepideh Qolian tells how confessions '
                                       'are extracted from detainees, in a '
                                       'rare letter from Evin prison.',
                        'title': 'Iran protests: Jailed activist Sepideh '
                                 'Qolian describes brutality in letter'}]}}
{'entities': {'urls': [{'description': 'Responding for the first time to '
                                       'coverage of his book, he says "lies" '
                                       'about him could endanger his family.',
                        'title': "Prince Harry condemns 'dangerous spin' about "
                                 'his Taliban comments'}]}}
{'entities': {'urls': [{'description': 'It is "time to take action to address '
                                       'our shameful past," says the '
                                       'Archbishop of Canterbury.',
                        'title': 'Church of England announces 100m fund after '
                                 'slavery links'}]}}
{'entities': {'urls': [{'description': 'The walkouts follows the closure of '
                                       'primary schools on Tuesday in an '
                                       'ongoing pay dispute.',
                        'title': 'Exams rescheduled as Scottish secondary '
                                 'teachers strike'}]}}
{'entities': {'urls': [{'description': 'The site would be 10 times bigger than '
                                       "London's Hyde Park, according to "
                                       'developers.',
                        'title': 'North Kesteven solar farm could power '
                                 '180,000 homes, say firms'}]}}
{'entities': {'urls': [{'description': 'An inquest heard Gareth Roberts was '
                                       'seen taking his temperature taken '
                                       'before he died.',
                        'title': 'Covid: Nurse who died from virus told to go '
                                 'home with fever'}]}}
{'entities': {'urls': [{'description': 'Cardinal George Pell, whose conviction '
                                       'on child abuse charges shocked the '
                                       'Catholic Church before being quashed, '
                                       'dies at 81.',
                        'title': 'Cardinal George Pell dies aged 81'}]}}
{'entities': {'urls': [{'description': 'Kevin Franz stole 6,270 from a '
                                       'vulnerable man whose memory was '
                                       'deteriorating.',
                        'title': 'Rhyl: Care worker struck off for stealing '
                                 'from patient'}]}}
{'entities': {'urls': [{'description': 'Visit BBC News for up-to-the-minute '
                                       'news, breaking news, video, audio and '
                                       'feature stories. BBC News provides '
                                       'trusted World and UK news as well as '
                                       'local and regional perspectives. Also '
                                       'entertainment, business, science, '
                                       'technology and health news.',
                        'title': 'Home - BBC News'},
                       {}]}}
{'entities': {'urls': [{'description': 'Visit BBC News for up-to-the-minute '
                                       'news, breaking news, video, audio and '
                                       'feature stories. BBC News provides '
                                       'trusted World and UK news as well as '
                                       'local and regional perspectives. Also '
                                       'entertainment, business, science, '
                                       'technology and health news.',
                        'title': 'Home - BBC News'},
                       {}]}}
{'entities': {'urls': [{'description': 'Visit BBC News for up-to-the-minute '
                                       'news, breaking news, video, audio and '
                                       'feature stories. BBC News provides '
                                       'trusted World and UK news as well as '
                                       'local and regional perspectives. Also '
                                       'entertainment, business, science, '
                                       'technology and health news.',
                        'title': 'Home - BBC News'},
                       {}]}}
{'entities': {'urls': [{'description': 'Visit BBC News for up-to-the-minute '
                                       'news, breaking news, video, audio and '
                                       'feature stories. BBC News provides '
                                       'trusted World and UK news as well as '
                                       'local and regional perspectives. Also '
                                       'entertainment, business, science, '
                                       'technology and health news.',
                        'title': 'Home - BBC News'},
                       {}]}}
{'entities': {'urls': [{'description': 'Visit BBC News for up-to-the-minute '
                                       'news, breaking news, video, audio and '
                                       'feature stories. BBC News provides '
                                       'trusted World and UK news as well as '
                                       'local and regional perspectives. Also '
                                       'entertainment, business, science, '
                                       'technology and health news.',
                        'title': 'Home - BBC News'},
                       {}]}}
{'entities': {'urls': [{'description': 'Francisco Galia died on Sunday while '
                                       'attempting to board a vessel off Spurn '
                                       'Point, a colleague says.',
                        'title': 'Humber pilot Francisco Galia died in fall '
                                 'while boarding vessel'}]}}
{'entities': {'urls': [{'description': 'Visit BBC News for up-to-the-minute '
                                       'news, breaking news, video, audio and '
                                       'feature stories. BBC News provides '
                                       'trusted World and UK news as well as '
                                       'local and regional perspectives. Also '
                                       'entertainment, business, science, '
                                       'technology and health news.',
                        'title': 'Home - BBC News'},
                       {}]}}
{'entities': {'urls': [{'description': 'Talking strikes, pay negotiations and '
                                       'GPs with Labours Wes Streeting.',
                        'title': 'Newscast - Blue Lights Out - BBC Sounds'}]}}
{'entities': {'urls': [{'description': 'Visit BBC News for up-to-the-minute '
                                       'news, breaking news, video, audio and '
                                       'feature stories. BBC News provides '
                                       'trusted World and UK news as well as '
                                       'local and regional perspectives. Also '
                                       'entertainment, business, science, '
                                       'technology and health news.',
                        'title': 'Home - BBC News'},
                       {}]}}
{'entities': {'urls': [{'description': 'Visit BBC News for up-to-the-minute '
                                       'news, breaking news, video, audio and '
                                       'feature stories. BBC News provides '
                                       'trusted World and UK news as well as '
                                       'local and regional perspectives. Also '
                                       'entertainment, business, science, '
                                       'technology and health news.',
                        'title': 'Home - BBC News'},
                       {}]}}
{'entities': {'urls': [{'description': 'Beth Matthews, who died after taking a '
                                       'poisonous substance, "did a lot of '
                                       'good", a psychiatrist says.',
                        'title': 'Beth Matthews: Blogger did a lot of good '
                                 'before death, inquest told'}]}}
{'entities': {'urls': [{'description': 'Visit BBC News for up-to-the-minute '
                                       'news, breaking news, video, audio and '
                                       'feature stories. BBC News provides '
                                       'trusted World and UK news as well as '
                                       'local and regional perspectives. Also '
                                       'entertainment, business, science, '
                                       'technology and health news.',
                        'title': 'Home - BBC News'},
                       {}]}}
{'entities': {'urls': [{'description': 'The copy of the Geneva Bible from 1615 '
                                       'sold well above its 10,000 valuation '
                                       'in east Belfast.',
                        'title': 'Tudor Bible sells for 20k in Belfast '
                                 'auction'}]}}
{'entities': {'urls': [{'description': 'Global temperatures and rain patterns '
                                       'are affected by climate phenomena '
                                       'known as El Nio/La Nia.',
                        'title': 'What are El Nio and La Nia, and how do '
                                 'they change the weather?'}]}}
{'entities': {'urls': [{'description': 'The hosts of the award-winning podcast '
                                       'about dealing with cancer plan to '
                                       '"hang up their headphones".',
                        'title': 'You, Me and the Big C podcast: Lauren Mahon '
                                 'and Steve Bland to stand down'}]}}
{'entities': {'urls': [{'description': "A bookseller placed Prince Harry's "
                                       "memoir Spare beside Bella Mackie's "
                                       'novel How to Kill Your Family.',
                        'title': "Harry's memoir Spare displayed beside How to "
                                 'Kill Your Family novel'}]}}
{'entities': {'urls': [{'description': 'An orange light streaking across the '
                                       'night sky is captured on mobile phones '
                                       'and doorbell cameras.',
                        'title': 'Meteor lights up skies over England'},
                       {}]}}
{'entities': {'urls': [{'description': 'They are also more likely to die from '
                                       'heart attacks and strokes, researchers '
                                       'say.',
                        'title': 'Firefighters face higher cancer risk, '
                                 'Scottish study finds'}]}}
{'entities': {'urls': [{'description': 'Zholia Alemi is a "most accomplished '
                                       'fraudster" who forged a certificate to '
                                       'get work, a jury hears.',
                        'title': 'Unqualified doctor who faked degree took '
                                 '1.3m from NHS, trial told'}]}}
{'entities': {'urls': [{'description': "Health managers say Wednesday's "
                                       'walkout in England and Wales will be '
                                       'harder to cope with.',
                        'title': 'NHS bosses fear impact of second ambulance '
                                 'strike'}]}}
{'entities': {'urls': [{'description': 'The economic secretary to the Treasury '
                                       'says the UK is committed to becoming a '
                                       'world crypto hub.',
                        'title': 'Cryptocurrency: UK Treasury considers plan '
                                 'for digital pound'}]}}
{'entities': {'urls': [{'description': 'The duke says he is a Friends fanatic '
                                       'and the Queen quizzed Meghan about '
                                       'Donald Trump when they met.',
                        'title': "Prince Harry's book: Things you might have "
                                 'missed'}]}}

In [67]:
# These can be searched too - find the Seal story
tweets = db.bbcnews.find({"entities.urls.title": {"$regex": "seal", '$options': 'i' }}, 
                         {"_id":0, "entities.urls.title": 1, "entities.urls.description": 1})

printDocs(tweets)

{'entities': {'urls': [{'description': 'Being in a fishing lake is like "being '
                                       'in a branch of Waitrose" for a hungry '
                                       'seal, an expert says.',
                        'title': 'Seal stuck in Rochford lake munching its way '
                                 'through fish stock'}]}}

In [68]:
# Another way to unpack the nested documents
# https://stackoverflow.com/questions/25909927/mongodb-how-to-get-a-field-sub-document-from-a-document
tweets=db.bbcnews.aggregate([
    # De-normalize the array content first
    { "$unwind": "$entities" },

    # De-normalize the content from the inner array as well
    { "$unwind": "$entities.urls" },

    # Group the "entities" per document
    { "$group": {
        "_id": "$_id",
        "entities": { "$addToSet": "$entities.urls" }
    }}
])
printDocs(tweets)

{'_id': ObjectId('63c072dda4443d61145b18ff'),
 'entities': [{'description': 'An orange light streaking across the night sky '
                              'was captured on mobile phones and doorbell '
                              'cameras.',
               'display_url': 'bbc.in/3vSiAPT',
               'end': 61,
               'expanded_url': 'https://bbc.in/3vSiAPT',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612799697290248193/uUu5ud6O?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612799697290248193/uUu5ud6O?format=jpg&name=150x150',
                           'width': 150}],
               'start': 38,
               'status': 200,
               'title': 'Meteor lights up skies over England',
               'unwound_url': 'https://www.bbc.co.uk/news/av/uk-england-64220964?at_campaign=Social_Flow&at_bbc_team=editorial&at_ptr_name=twitter&at_link_id=74DD06BA-90E5-11ED-92EA-A0300EDC252D&at_link_type=web_link&at_campaign_type=owned&at_format=link&at_medium=social&at_link_origin=BBCNews',
               'url': 'https://t.co/MOlyOZFUOv'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b87'),
 'entities': [{'display_url': 'pic.twitter.com/PFn2Hl8cGw',
               'end': 159,
               'expanded_url': 'https://twitter.com/BBCNews/status/1612943886074118153/photo/1',
               'media_key': '3_1612943882915913731',
               'start': 136,
               'url': 'https://t.co/PFn2Hl8cGw'},
              {'description': 'Visit BBC News for up-to-the-minute news, '
                              'breaking news, video, audio and feature '
                              'stories. BBC News provides trusted World and UK '
                              'news as well as local and regional '
                              'perspectives. Also entertainment, business, '
                              'science, technology and health news.',
               'display_url': 'bbc.in/3X2upz6',
               'end': 135,
               'expanded_url': 'https://bbc.in/3X2upz6',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612943888360083456/-EVcMjl3?format=png&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612943888360083456/-EVcMjl3?format=png&name=150x150',
                           'width': 150}],
               'start': 112,
               'status': 200,
               'title': 'Home - BBC News',
               'unwound_url': 'https://www.bbc.co.uk/news?at_link_type=web_link&at_format=image&at_link_id=74576A24-9134-11ED-BF04-BD162152A482&at_link_origin=BBCNews&at_medium=social&at_campaign_type=owned&at_bbc_team=editorial&at_campaign=Social_Flow&at_ptr_name=twitter',
               'url': 'https://t.co/xx7e9wsMWm'}]}
{'_id': ObjectId('63c072dda4443d61145b18ec'),
 'entities': [{'description': 'Several hundred Evri parcels were stolen from a '
                              'Stockport warehouse, police say.',
               'display_url': 'bbc.in/3WZrh77',
               'end': 90,
               'expanded_url': 'https://bbc.in/3WZrh77',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612872423593938950/iAG80soI?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612872423593938950/iAG80soI?format=jpg&name=150x150',
                           'width': 150}],
               'start': 67,
               'status': 200,
               'title': 'Evri Stockport raid: Seven held after hundreds of '
                        'parcels stolen',
               'unwound_url': 'https://www.bbc.com/news/uk-england-manchester-64220917?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_format=link&at_medium=social&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter&at_link_id=CCA086DC-90D2-11ED-9AC9-BFAB4744363C&at_link_type=web_link&at_campaign=Social_Flow',
               'url': 'https://t.co/s1ncWUfqWv'}]}
{'_id': ObjectId('63c072dda4443d61145b1924'),
 'entities': [{'description': "Fans queue to buy a hardback copy of the duke's "
                              'memoir as it went on sale at midnight.',
               'display_url': 'bbc.in/3ipO1ho',
               'end': 85,
               'expanded_url': 'https://bbc.in/3ipO1ho',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612644490812198913/3Z8rnC11?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612644490812198913/3Z8rnC11?format=jpg&name=150x150',
                           'width': 150}],
               'start': 62,
               'status': 200,
               'title': "Prince Harry's book officially hits shops after days "
                        'of leaks',
               'unwound_url': 'https://www.bbc.com/news/uk-64213852?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=03637480-908E-11ED-9AC9-BFAB4744363C&at_link_origin=BBCNews&at_bbc_team=editorial&at_ptr_name=twitter&at_format=link&at_medium=social&at_campaign_type=owned',
               'url': 'https://t.co/Ff92m8HC4g'}]}
{'_id': ObjectId('63c072dda4443d61145b190c'),
 'entities': [{'display_url': 'twitter.com/BBCNews/status',
               'end': 130,
               'expanded_url': 'https://twitter.com/BBCNews/status/1612023202900746240',
               'start': 107,
               'url': 'https://t.co/Dd1qRQ6aCg'},
              {'description': 'The move follows years of Covid closure and '
                              'comes as a huge travel surge begins for Lunar '
                              'New Year.',
               'display_url': 'bbc.in/3ZiRbEt',
               'end': 106,
               'expanded_url': 'https://bbc.in/3ZiRbEt',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612750379199995904/wiHhee5a?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612750379199995904/wiHhee5a?format=jpg&name=150x150',
                           'width': 150}],
               'start': 83,
               'status': 200,
               'title': 'China reopens borders after three years of Covid '
                        'closure',
               'unwound_url': 'https://www.bbc.co.uk/news/world-asia-china-64201776?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_id=80C9A5D8-8F36-11ED-BC67-D842FC756850&at_bbc_team=editorial&at_link_type=web_link&at_campaign=Social_Flow&at_ptr_name=twitter&at_link_origin=BBCNews&at_format=link&at_campaign_type=owned&at_medium=social',
               'url': 'https://t.co/XjSDVPW48F'}]}
{'_id': ObjectId('63c072dda4443d61145b1935'),
 'entities': [{'description': 'Police say they believe the damage done to the '
                              'home in Bradford was not caused by accident.',
               'display_url': 'bbc.in/3Cw3eEw',
               'end': 71,
               'expanded_url': 'https://bbc.in/3Cw3eEw',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612570255473217537/Qzaru2oF?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612570255473217537/Qzaru2oF?format=jpg&name=150x150',
                           'width': 150}],
               'start': 48,
               'status': 200,
               'title': 'Bradford home damaged as car smashes through lounge '
                        'wall',
               'unwound_url': 'https://www.bbc.com/news/uk-england-leeds-64214307?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_bbc_team=editorial&at_ptr_name=twitter&at_link_origin=BBCNews&at_format=link&at_medium=social&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=68D5F0F4-9039-11ED-9AC9-BFAB4744363C&at_campaign_type=owned',
               'url': 'https://t.co/hkw6kBKaPe'}]}
{'_id': ObjectId('63c072dda4443d61145b1912'),
 'entities': [{'description': 'A group of volunteers in Camden, London, want '
                              'to save your broken electricals from the '
                              'scrapheap.',
               'display_url': 'bbc.in/3vQyuu9',
               'end': 69,
               'expanded_url': 'https://bbc.in/3vQyuu9',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612716146750267392/JnW4jFjN?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612716146750267392/JnW4jFjN?format=jpg&name=150x150',
                           'width': 150}],
               'start': 46,
               'status': 200,
               'title': 'Repairing broken gadgets for a greener future',
               'unwound_url': 'https://www.bbc.com/news/in-pictures-63737951?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_ptr_name=twitter&at_link_origin=BBCNews&at_bbc_team=editorial&at_format=link&at_medium=social&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=6E41067A-9091-11ED-9AC9-BFAB4744363C',
               'url': 'https://t.co/TpxK3LHvDz'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b54'),
 'entities': [{'description': 'The infant was taken by ambulance to hospital '
                              'but was not seriously injured.',
               'display_url': 'bbc.in/3GXeufO',
               'end': 78,
               'expanded_url': 'https://bbc.in/3GXeufO',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613162773021708293/QUFFECw1?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613162773021708293/QUFFECw1?format=jpg&name=150x150',
                           'width': 150}],
               'start': 55,
               'status': 200,
               'title': 'Baby hit by brick thrown through bus window in '
                        'Glasgow',
               'unwound_url': 'https://www.bbc.com/news/uk-scotland-64237314?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=AC8A4724-91AA-11ED-AD6F-2CC34744363C&at_medium=social&at_format=link&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter',
               'url': 'https://t.co/JAE3SRdEOX'}]}
{'_id': ObjectId('63c072dda4443d61145b1914'),
 'entities': [{'description': 'The cardboard figure of the US star has been a '
                              "firm favourite among Manchester's commuters for "
                              'years.',
               'display_url': 'bbc.in/3GQmOhs',
               'end': 121,
               'expanded_url': 'https://bbc.in/3GQmOhs',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612711217469980674/_XiBIvZH?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612711217469980674/_XiBIvZH?format=jpg&name=150x150',
                           'width': 150}],
               'start': 98,
               'status': 200,
               'title': "Hundreds bid to save Manchester's Taylor Swift "
                        'cardboard cut-out',
               'unwound_url': 'https://www.bbc.co.uk/news/uk-england-manchester-64211406?at_link_type=web_link&at_format=link&at_ptr_name=twitter&at_campaign_type=owned&at_link_origin=BBCNews&at_link_id=29F5DB28-90B7-11ED-918F-757D96E8478F&at_campaign=Social_Flow&at_bbc_team=editorial&at_medium=social',
               'url': 'https://t.co/wyToIkqosF'}]}
{'_id': ObjectId('63c072dda4443d61145b1932'),
 'entities': [{'description': "We've all had travel disruptions, but for one "
                              'County Donegal man his trip started in bizarre '
                              'fashion.',
               'display_url': 'bbc.in/3k0qIey',
               'end': 74,
               'expanded_url': 'https://bbc.in/3k0qIey',
               'start': 51,
               'status': 200,
               'title': 'A Donegal man, a bus on fire and a surprise birthday '
                        'in Australia',
               'unwound_url': 'https://www.bbc.com/news/articles/clmzdne95j9o?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_medium=social&at_campaign_type=owned&at_ptr_name=twitter&at_link_origin=BBCNews&at_format=link&at_link_type=web_link&at_campaign=Social_Flow&at_bbc_team=editorial&at_link_id=A7FC5F08-900B-11ED-B973-3DE14744363C',
               'url': 'https://t.co/7ziA0Aj4E3'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b3b'),
 'entities': [{'description': 'Twelve others also reported losses in the '
                              'failed exchange to a City of London Police scam '
                              'hotline in November.',
               'display_url': 'bbc.in/3GvXxHX',
               'end': 71,
               'expanded_url': 'https://bbc.in/3GvXxHX',
               'start': 48,
               'status': 200,
               'title': 'UK investor reported losing 1m in FTX collapse',
               'unwound_url': 'https://www.bbc.com/news/technology-64225276?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign=Social_Flow&at_link_id=6DF555F0-91D0-11ED-AD6F-2CC34744363C&at_link_type=web_link&at_campaign_type=owned&at_link_origin=BBCNews&at_ptr_name=twitter&at_medium=social&at_format=link&at_bbc_team=editorial',
               'url': 'https://t.co/KryKdbvOqX'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b5e'),
 'entities': [{'description': "A wasp causes chaos in Mark Williams' "
                              'first-round Masters match against David Gilbert '
                              'at Alexandra Palace.',
               'display_url': 'bbc.in/3Qy28xH',
               'end': 66,
               'expanded_url': 'https://bbc.in/3Qy28xH',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613148382175821824/KBHCMmNb?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613148382175821824/KBHCMmNb?format=jpg&name=150x150',
                           'width': 150}],
               'start': 43,
               'status': 200,
               'title': 'Wasp causes chaos at Masters snooker',
               'unwound_url': 'https://www.bbc.com/sport/av/snooker/64232048?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_type=web_link&at_link_id=CA80E9D8-9144-11ED-AD6F-2CC34744363C&at_campaign=Social_Flow&at_campaign_type=owned&at_link_origin=BBCNews&at_ptr_name=twitter&at_medium=social&at_bbc_team=editorial&at_format=link',
               'url': 'https://t.co/tnIxF69C4f'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b65'),
 'entities': [{'description': 'Officers pursue a driver who attempted to ram '
                              'their patrol car in in Ballymoney, County '
                              'Antrim.',
               'display_url': 'bbc.in/3QzuLeg',
               'end': 72,
               'expanded_url': 'https://bbc.in/3QzuLeg',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613130056624209920/6npyPitq?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613130056624209920/6npyPitq?format=jpg&name=150x150',
                           'width': 150}],
               'start': 49,
               'status': 200,
               'title': 'Ballymoney: Driver flees at up to 120mph during '
                        'police chase',
               'unwound_url': 'https://www.bbc.com/news/uk-northern-ireland-64235250?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_link_type=web_link&at_link_id=149279EC-919A-11ED-AD6F-2CC34744363C&at_campaign=Social_Flow&at_medium=social&at_format=link&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter',
               'url': 'https://t.co/Xi0Ru8jZPw'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b78'),
 'entities': [{'description': "Wednesday's papers say millions of workers face "
                              "a strike ban and Prince Harry's memoir breaks a "
                              'record.',
               'display_url': 'bbc.in/3XkovsF',
               'end': 92,
               'expanded_url': 'https://bbc.in/3XkovsF',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613008019226333185/P26lIMTl?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613008019226333185/P26lIMTl?format=jpg&name=150x150',
                           'width': 150}],
               'start': 69,
               'status': 200,
               'title': "Newspaper headlines: 'Workers face strike ban' and "
                        "'prince of sales'",
               'unwound_url': 'https://www.bbc.com/news/blogs-the-papers-64231544?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_link_id=270373EE-915C-11ED-AD6F-2CC34744363C&at_link_type=web_link&at_campaign=Social_Flow&at_medium=social&at_format=link&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter',
               'url': 'https://t.co/ArZtsVuhJa'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b84'),
 'entities': [{'display_url': 'pic.twitter.com/HxK1hI858D',
               'end': 154,
               'expanded_url': 'https://twitter.com/BBCNews/status/1612944898675642368/photo/1',
               'media_key': '3_1612944895274061825',
               'start': 131,
               'url': 'https://t.co/HxK1hI858D'},
              {'description': 'Visit BBC News for up-to-the-minute news, '
                              'breaking news, video, audio and feature '
                              'stories. BBC News provides trusted World and UK '
                              'news as well as local and regional '
                              'perspectives. Also entertainment, business, '
                              'science, technology and health news.',
               'display_url': 'bbc.in/3Gpsu0c',
               'end': 130,
               'expanded_url': 'https://bbc.in/3Gpsu0c',
               'images': [{'height': 576,

{'_id': ObjectId('63c072dd24cadb86afa53b47'),
 'entities': [{'display_url': 'pic.twitter.com/ISyyY9Pp6M',
               'end': 206,
               'expanded_url': 'https://twitter.com/BBCNews/status/1613218944994709505/video/1',
               'media_key': '13_1613144785967104000',
               'start': 183,
               'url': 'https://t.co/ISyyY9Pp6M'},
              {'description': 'A London schoolgirl disappears. Four years '
                              "later she's found in Syria with Isis",
               'display_url': 'bbc.in/3Znoqqh',
               'end': 182,
               'expanded_url': 'https://bbc.in/3Znoqqh',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613218948257878016/My_0ew0u?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613218948257878016/My_0ew0u?format=jpg&name=150x150',
                           'width': 150}],
               'start': 159,
               'status': 200,
               'title': "I'm Not a Monster - The Shamima Begum Story - Series "
                        '2: 1. It Felt Like a Dream - BBC Sounds',
               'unwound_url': 'https://www.bbc.co.uk/sounds/play/p0dvg6n8?at_link_origin=BBCNews&at_bbc_team=editorial&at_link_type=web_link&at_ptr_name=twitter&at_campaign=Social_Flow&at_medium=social&at_format=link&at_campaign_type=owned&at_link_id=1F78F0E4-91C6-11ED-8994-EF5E16F31EAE',
               'url': 'https://t.co/8n2RC63Gyw'}]}
{'_id': ObjectId('63c072dda4443d61145b1931'),
 'entities': [{'description': 'Visit BBC News for up-to-the-minute news, '
                              'breaking news, video, audio and feature '
                              'stories. BBC News provides trusted World and UK '
                              'news as well as local and regional '
                              'perspectives. Also entertainment, business, '
                              'science, technology and health news.',
               'display_url': 'bbc.in/3ir8tyw',
               'end': 119,
               'expanded_url': 'https://bbc.in/3ir8tyw',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612578220116680706/5GAyy_sc?format=png&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612578220116680706/5GAyy_sc?format=png&name=150x150',
                           'width': 150}],
               'start': 96,
               'status': 200,
               'title': 'Home - BBC News',
               'unwound_url': 'https://www.bbc.co.uk/news?at_link_type=web_link&at_medium=social&at_ptr_name=twitter&at_link_origin=BBCNews&at_campaign_type=owned&at_format=image&at_campaign=Social_Flow&at_link_id=2B0AC626-906D-11ED-9E8D-B38AFC756850&at_bbc_team=editorial',
               'url': 'https://t.co/8Gwhsj91w8'},
              {'display_url': 'pic.twitter.com/48rbWmUb5d',
               'end': 143,
               'expanded_url': 'https://twitter.com/BBCNews/status/1612578218132766720/photo/1',
               'media_key': '3_1612578214643122179',
               'start': 120,
               'url': 'https://t.co/48rbWmUb5d'}]}
{'_id': ObjectId('63c072dda4443d61145b18dd'),
 'entities': [{'description': 'The economic secretary to the Treasury says the '
                              'UK is committed to becoming a world crypto hub.',
               'display_url': 'bbc.in/3irP5kW',
               'end': 68,
               'expanded_url': 'https://bbc.in/3irP5kW',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612909721345728515/c4UG-5h6?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612909721345728515/c4UG-5h6?format=jpg&name=150x150',
                           'width': 150}],
               'start': 45,
               'status': 200,
               'title': 'Cryptocurrency: UK Treasury considers plan for '
                        'digital pound',
               'unwound_url': 'https://www.bbc.co.uk/news/technology-64224950?at_campaign=Social_Flow&at_campaign_type=owned&at_link_origin=BBCNews&at_bbc_team=editorial&at_link_id=D5C21114-9121-11ED-A33D-7C5016F31EAE&at_link_type=web_link&at_medium=social&at_format=link&at_ptr_name=twitter',
               'url': 'https://t.co/Bqr6uEyuFB'}]}
{'_id': ObjectId('63c072dda4443d61145b18da'),
 'entities': [{'description': 'They are also more likely to die from heart '
                              'attacks and strokes, researchers say.',
               'display_url': 'bbc.in/3isqyw2',
               'end': 73,
               'expanded_url': 'https://bbc.in/3isqyw2',
               'start': 50,
               'status': 200,
               'title': 'Firefighters face higher cancer risk, Scottish study '
                        'finds',
               'unwound_url': 'https://www.bbc.co.uk/news/uk-scotland-64216321?at_format=link&at_link_origin=BBCNews&at_campaign=Social_Flow&at_ptr_name=twitter&at_link_id=3DE24338-9125-11ED-A99B-0F390EDC252D&at_bbc_team=editorial&at_campaign_type=owned&at_medium=social&at_link_type=web_link',
               'url': 'https://t.co/EMGsCJ0yun'}]}
{'_id': ObjectId('63c072dda4443d61145b18eb'),
 'entities': [{'description': 'Some people at the launch said they felt '
                              '"gutted", but the event was still "electric".',
               'display_url': 'bbc.in/3X1CROX',
               'end': 93,
               'expanded_url': 'https://bbc.in/3X1CROX',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612859085715640340/3LnlXTDb?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612859085715640340/3LnlXTDb?format=jpg&name=150x150',
                           'width': 150}],
               'start': 70,
               'status': 200,
               'title': 'Spaceport Cornwall fans disappointed as rocket launch '
                        'ends in failure',
               'unwound_url': 'https://www.bbc.com/news/uk-england-cornwall-64222759?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_medium=social&at_format=link&at_bbc_team=editorial&at_ptr_name=twitter&at_link_origin=BBCNews&at_link_id=D70061F4-90E3-11ED-9AC9-BFAB4744363C&at_campaign=Social_Flow&at_link_type=web_link&at_campaign_type=owned',
               'url': 'https://t.co/AAZciF5Q7M'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b46'),
 'entities': [{'description': 'The PM tells MPs he has "used independent '
                              'healthcare in the past" but is registered with '
                              'an NHS GP.',
               'display_url': 'bbc.in/3GVZkY4',
               'end': 70,
               'expanded_url': 'https://bbc.in/3GVZkY4',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613214214402838531/gcVDvL7N?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613214214402838531/gcVDvL7N?format=jpg&name=150x150',
                           'width': 150}],
               'start': 47,
               'status': 200,
               'title': 'PMQs: Rishi Sunak says he is registered with NHS '
                        'doctor',
               'unwound_url': 'https://www.bbc.com/news/uk-politics-64237830?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_link_type=web_link&at_link_id=734FB42C-91AE-11ED-AD6F-2CC34744363C&at_campaign=Social_Flow&at_format=link&at_bbc_team=editorial&at_medium=social&at_ptr_name=twitter&at_link_origin=BBCNews',
               'url': 'https://t.co/Kc6XM4xX0h'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b3a'),
 'entities': [{'description': 'Why schools are holding assemblies and lessons '
                              "to challenge Tate's misogynistic views.",
               'display_url': 'bbc.in/3VYzret',
               'end': 130,
               'expanded_url': 'https://bbc.in/3VYzret',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613259536281866240/A_QdryG0?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613259536281866240/A_QdryG0?format=jpg&name=150x150',
                           'width': 150}],
               'start': 107,
               'status': 200,
               'title': '5 Minutes On - Andrew Tate - the impact of the '
                        'divisive influencer - BBC Sounds',
               'unwound_url': 'https://www.bbc.co.uk/sounds/play/p0dvpgmb?at_campaign_type=owned&at_format=link&at_bbc_team=editorial&at_medium=social&at_link_type=web_link&at_ptr_name=twitter&at_campaign=Social_Flow&at_link_origin=BBCNews&at_link_id=6D764DFE-91E0-11ED-B019-938496E8478F',
               'url': 'https://t.co/tmYyJZ4dtF'}]}
{'_id': ObjectId('63c072dda4443d61145b1908'),
 'entities': [{'description': 'An ambulance worker reveals how difficult the '
                              'job now is and why they are striking.',
               'display_url': 'bbc.in/3VXvuH1',
               'end': 140,
               'expanded_url': 'https://bbc.in/3VXvuH1',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612763595904876551/akHxC4CV?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612763595904876551/akHxC4CV?format=jpg&name=150x150',
                           'width': 150}],
               'start': 117,
               'status': 200,
               'title': "I worry we're killing people - ambulance dispatcher",
               'unwound_url': 'https://www.bbc.co.uk/news/health-64190442?at_link_id=0F8BFCFA-90D4-11ED-99FD-892E0EDC252D&at_ptr_name=twitter&at_campaign=Social_Flow&at_bbc_team=editorial&at_format=link&at_campaign_type=owned&at_link_type=web_link&at_link_origin=BBCNews&at_medium=social',
               'url': 'https://t.co/GoS7L9WCnd'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b6d'),
 'entities': [{'description': 'The supermarket giant said overall sales were '
                              'up by 7.1% during the festive period.',
               'display_url': 'bbc.in/3Gu4ysR',
               'end': 77,
               'expanded_url': 'https://bbc.in/3Gu4ysR',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613090512075898882/3Svrwgta?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613090512075898882/3Svrwgta?format=jpg&name=150x150',
                           'width': 150}],
               'start': 54,
               'status': 200,
               'title': "Record Christmas for Sainsbury's despite rising costs",
               'unwound_url': 'https://www.bbc.com/news/business-64225230?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_origin=BBCNews&at_ptr_name=twitter&at_medium=social&at_format=link&at_bbc_team=editorial&at_link_id=9171C044-9181-11ED-AD6F-2CC34744363C&at_link_type=web_link&at_campaign=Social_Flow&at_campaign_type=owned',
               'url': 'https://t.co/CowEdU59JB'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b7e'),
 'entities': [{'description': 'An inquest heard Gareth Roberts was seen taking '
                              'his temperature taken before he died.',
               'display_url': 'bbc.in/3XnWz7i',
               'end': 91,
               'expanded_url': 'https://bbc.in/3XnWz7i',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612953204269924352/22ejEig4?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612953204269924352/22ejEig4?format=jpg&name=150x150',
                           'width': 150}],
               'start': 68,
               'status': 200,
               'title': 'Covid: Nurse who died from virus told to go home with '
                        'fever',
               'unwound_url': 'https://www.bbc.com/news/uk-wales-64230275?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign=Social_Flow&at_link_id=73CB2B90-9134-11ED-AD6F-2CC34744363C&at_link_type=web_link&at_campaign_type=owned&at_link_origin=BBCNews&at_ptr_name=twitter&at_medium=social&at_bbc_team=editorial&at_format=link',
               'url': 'https://t.co/nh7IkMAwvY'}]}
{'_id': ObjectId('63c072dda4443d61145b18ea'),
 'entities': [{'description': 'The number of hospital beds occupied by '
                              'patients ready to be discharged is also at a '
                              'record level.',
               'display_url': 'bbc.in/3jT848j',
               'end': 84,
               'expanded_url': 'https://bbc.in/3jT848j',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612867380656443422/lQntmggz?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612867380656443422/lQntmggz?format=jpg&name=150x150',
                           'width': 150}],
               'start': 61,
               'status': 200,
               'title': 'A&E patients waiting more than 12 hours hits record '
                        'high',
               'unwound_url': 'https://www.bbc.com/news/uk-scotland-64222187?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=29F0ED58-90D9-11ED-9AC9-BFAB4744363C&at_bbc_team=editorial&at_ptr_name=twitter&at_link_origin=BBCNews&at_format=link&at_medium=social',
               'url': 'https://t.co/QZBmaUvRM5'}]}
{'_id': ObjectId('63c072dda4443d61145b193d'),
 'entities': [{'description': 'The cardboard figure of the US star has been a '
                              "firm favourite among Manchester's commuters for "
                              'years.',
               'display_url': 'bbc.in/3WYt5gq',
               'end': 75,
               'expanded_url': 'https://bbc.in/3WYt5gq',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612557125049372673/_Ku29W4k?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612557125049372673/_Ku29W4k?format=jpg&name=150x150',
                           'width': 150}],
               'start': 52,
               'status': 200,
               'title': "Hundreds bid to save Manchester's Taylor Swift "
                        'cardboard cut-out',
               'unwound_url': 'https://www.bbc.com/news/uk-england-manchester-64211406?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=47EF2CEA-9037-11ED-9AC9-BFAB4744363C&at_link_origin=BBCNews&at_bbc_team=editorial&at_ptr_name=twitter&at_format=link&at_medium=social&at_campaign_type=owned',
               'url': 'https://t.co/JpMdnNYwn3'}]}
{'_id': ObjectId('63c072dda4443d61145b1929'),
 'entities': [{'description': 'Total retail sales jumped by almost 7% but '
                              'price rises meant shoppers bought less but '
                              'spent more.',
               'display_url': 'bbc.in/3imDXWH',
               'end': 98,
               'expanded_url': 'https://bbc.in/3imDXWH',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612615602916532225/NmAA57Qo?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612615602916532225/NmAA57Qo?format=jpg&name=150x150',
                           'width': 150}],
               'start': 75,
               'status': 200,
               'title': 'December sales bounce due to price rises not shopping '
                        'sprees',
               'unwound_url': 'https://www.bbc.com/news/business-64213890?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=15CE4D06-907B-11ED-9AC9-BFAB4744363C&at_bbc_team=editorial&at_ptr_name=twitter&at_link_origin=BBCNews&at_medium=social&at_format=link&at_campaign_type=owned',
               'url': 'https://t.co/ndAcEdEkx3'}]}
{'_id': ObjectId('63c072dda4443d61145b1911'),
 'entities': [{'description': 'It can improve life for thousands with type 1 '
                              'diabetes in England and Wales, health assessors '
                              'say.',
               'display_url': 'bbc.in/3vTM8gd',
               'end': 90,
               'expanded_url': 'https://bbc.in/3vTM8gd',
               'start': 67,
               'status': 200,
               'title': 'Diabetes artificial pancreas tech recommended for '
                        'thousands on NHS',
               'unwound_url': 'https://www.bbc.com/news/health-64211479?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=F98EBED2-9093-11ED-9AC9-BFAB4744363C&at_bbc_team=editorial&at_ptr_name=twitter&at_link_origin=BBCNews&at_format=link&at_medium=social',
               'url': 'https://t.co/lv6D2XQFi8'}]}
{'_id': ObjectId('63c072dda4443d61145b190a'),
 'entities': [{'description': 'Police searching for a missing couple and their '
                              'baby "do not wish to interrupt their family '
                              'life".',
               'display_url': 'bbc.in/3Gva7al',
               'end': 87,
               'expanded_url': 'https://bbc.in/3Gva7al',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612751565705682945/K75Q_eRR?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612751565705682945/K75Q_eRR?format=jpg&name=150x150',
                           'width': 150}],
               'start': 64,
               'status': 200,
               'title': "Baby's welfare is priority in missing couple search, "
                        'police say',
               'unwound_url': 'https://www.bbc.com/news/uk-england-manchester-64221280?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_ptr_name=twitter&at_bbc_team=editorial&at_link_origin=BBCNews&at_medium=social&at_format=link&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=0985CEC6-90CA-11ED-9AC9-BFAB4744363C&at_campaign_type=owned',

                           'url': 'https://pbs.twimg.com/news_img/1613040202838151168/c5qjtqMG?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613040202838151168/c5qjtqMG?format=jpg&name=150x150',
                           'width': 150}],
               'start': 52,
               'status': 200,
               'title': 'Golden Globes 2023: The Banshees of Inisherin wins '
                        'big',
               'unwound_url': 'https://www.bbc.com/news/entertainment-arts-64226565?at_format=link&at_medium=social&at_link_id=E71EB97A-916D-11ED-913A-645C16F31EAE&at_campaign_type=owned&at_link_origin=BBCNews&at_link_type=web_link&at_campaign=Social_Flow&at_ptr_name=twitter&at_bbc_team=editorial',
               'url': 'https://t.co/8BQ2a9Dp5t'}]}
{'_id': ObjectId('63c072dda4443d61145b1928'),
 'entities': [{'display_url': 'bbc.in/3GO5HM7',
               'end': 122,
               'expanded_url': 'https://bbc.in/3GO5HM7',
               'start': 99,
               'unwound_url': 'https://www.bbc.com/news/live/uk-64215127?at_medium=social&at_ptr_name=twitter&at_format=link&at_campaign_type=owned&at_campaign=Social_Flow&at_link_id=78EC840C-9085-11ED-A03E-1A0B2152A482&at_link_origin=BBCBreaking&at_link_type=web_link&at_bbc_team=editorial',
               'url': 'https://t.co/gaChH4Ap36'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b52'),
 'entities': [{'description': 'The comedian says the news "answers a lot of '
                              'questions about behavioural issues in the '
                              'past".',
               'display_url': 'bbc.in/3CHouHv',
               'end': 73,
               'expanded_url': 'https://bbc.in/3CHouHv',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613175725317554181/SnQtAahT?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613175725317554181/SnQtAahT?format=jpg&name=150x150',
                           'width': 150}],
               'start': 50,
               'status': 200,
               'title': 'Johnny Vegas: Comedian opens up about recent ADHD '
                        'diagnosis',
               'unwound_url': 'https://www.bbc.com/news/entertainment-arts-64235234?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_ptr_name=twitter&at_link_origin=BBCNews&at_format=link&at_bbc_team=editorial&at_medium=social&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=E88F30FC-91AC-11ED-AD6F-2CC34744363C&at_campaign_type=owned',
               'url': 'https://t.co/7DluQyvkQ5'}]}
{'_id': ObjectId('63c072dda4443d61145b18ee'),
 'entities': [{'description': "Critics say the PM's choice of taxpayer-funded "
                              'transport clashes with his climate pledges.',
               'display_url': 'bbc.in/3Xow1D7',
               'end': 84,
               'expanded_url': 'https://bbc.in/3Xow1D7',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612856579262484482/d5-LAE24?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612856579262484482/d5-LAE24?format=jpg&name=150x150',
                           'width': 150}],
               'start': 61,
               'status': 200,
               'title': "Rishi Sunak's use of jet for hospital trip defended "
                        'by No 10',
               'unwound_url': 'https://www.bbc.com/news/uk-politics-64225730?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_link_id=D1C7E9FA-90F7-11ED-9AC9-BFAB4744363C&at_campaign=Social_Flow&at_link_type=web_link&at_format=link&at_medium=social&at_link_origin=BBCNews&at_ptr_name=twitter&at_bbc_team=editorial',
               'url': 'https://t.co/ZnzkO56y80'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b8f'),
 'entities': [{'description': 'The hosts of the award-winning podcast about '
                              'dealing with cancer plan to "hang up their '
                              'headphones".',
               'display_url': 'bbc.in/3Gx2YXd',
               'end': 108,
               'expanded_url': 'https://bbc.in/3Gx2YXd',
               'start': 85,
               'status': 200,
               'title': 'You, Me and the Big C podcast: Lauren Mahon and Steve '
                        'Bland to stand down',
               'unwound_url': 'https://www.bbc.com/news/uk-england-london-64231215?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=6BAA8046-912F-11ED-9AC9-BFAB4744363C&at_link_origin=BBCNews&at_ptr_name=twitter&at_bbc_team=editorial&at_format=link&at_medium=social&at_campaign_type=owned',
               'url': 'https://t.co/j9Fc0Vv5wm'}]}
{'_id': ObjectId('63c072dda4443d61145b18e6'),
 'entities': [{'description': 'The rock band will play several US festival '
                              "dates, a year after their drummer's untimely "
                              'death.',
               'display_url': 'bbc.in/3VUNu4Z',
               'end': 95,
               'expanded_url': 'https://bbc.in/3VUNu4Z',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612887515513425943/ikfJT8Jj?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612887515513425943/ikfJT8Jj?format=jpg&name=150x150',
                           'width': 150}],
               'start': 72,
               'status': 200,
               'title': 'Foo Fighters announce their first shows since Taylor '
                        "Hawkins' death",
               'unwound_url': 'https://www.bbc.com/news/entertainment-arts-64228776?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_ptr_name=twitter&at_bbc_team=editorial&at_link_origin=BBCNews&at_medium=social&at_format=link&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=EB6D719E-9107-11ED-9AC9-BFAB4744363C&at_campaign_type=owned',
               'url': 'https://t.co/cClUhnfuJe'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b73'),
 'entities': [{'description': 'What you need to know about emergency care '
                              'during the ambulance strike.',
               'display_url': 'bbc.in/3QAakOi',
               'end': 72,
               'expanded_url': 'https://bbc.in/3QAakOi',
               'start': 49,
               'status': 200,
               'title': 'Strike: What will ambulances respond to on Wednesday?',
               'unwound_url': 'https://www.bbc.co.uk/news/health-64037440?at_medium=social&at_format=link&at_link_id=36B4FFEE-9178-11ED-8061-675C16F31EAE&at_campaign_type=owned&at_link_origin=BBCNews&at_bbc_team=editorial&at_link_type=web_link&at_ptr_name=twitter&at_campaign=Social_Flow',
               'url': 'https://t.co/FPmjxBCDVu'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b90'),
 'entities': [{'description': "A bookseller placed Prince Harry's memoir Spare "
                              "beside Bella Mackie's novel How to Kill Your "
                              'Family.',
               'display_url': 'bbc.in/3IDk9J7',
               'end': 91,
               'expanded_url': 'https://bbc.in/3IDk9J7',
               'start': 68,
               'status': 200,
               'title': "Harry's memoir Spare displayed beside How to Kill "
                        'Your Family novel',
               'unwound_url': 'https://www.bbc.com/news/uk-england-wiltshire-64227200?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter&at_medium=social&at_format=link&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=4685D76E-90FF-11ED-9AC9-BFAB4744363C&at_campaign_type=owned',
               'url': 'https://t.co/jL5JlFeAgB'}]}
{'_id': ObjectId('63c072dda4443d61145b191d'),
 'entities': [{'description': 'From the start of March employees will be asked '
                              'to be in the office from Monday to Thursday.',
               'display_url': 'bbc.in/3GTHrJw',
               'end': 90,
               'expanded_url': 'https://bbc.in/3GTHrJw',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612672547207757827/M-unl93j?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612672547207757827/M-unl93j?format=jpg&name=150x150',
                           'width': 150}],
               'start': 67,
               'status': 200,
               'title': 'Disney boss calls for workers to return to office '
                        'four days a week',
               'unwound_url': 'https://www.bbc.com/news/business-64218702?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_medium=social&at_format=link&at_link_origin=BBCNews&at_ptr_name=twitter&at_bbc_team=editorial&at_link_id=D366AE2E-909B-11ED-9AC9-BFAB4744363C&at_link_type=web_link&at_campaign=Social_Flow',
               'url': 'https://t.co/InwZmbCjiL'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b4a'),
 'entities': [{'description': 'The error, which is due to be corrected, was '
                              'spotted by eagle-eyed viewers on social media.',
               'display_url': 'bbc.in/3IFI1Mc',
               'end': 79,
               'expanded_url': 'https://bbc.in/3IFI1Mc',
               'start': 56,
               'status': 200,
               'title': 'Spelling blunder spotted on Isaac Newton memorial '
                        'bench',
               'unwound_url': 'https://www.bbc.co.uk/news/uk-england-lincolnshire-64235790?at_campaign_type=owned&at_format=link&at_medium=social&at_bbc_team=editorial&at_link_type=web_link&at_ptr_name=twitter&at_link_origin=BBCNews&at_campaign=Social_Flow&at_link_id=A048A162-91BF-11ED-BE85-2B8396E8478F',
               'url': 'https://t.co/hvqc3UUmNS'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b51'),
 'entities': [{'description': 'A detective in Essex is appealing directly to a '
                              'missing woman who gave birth last week.',
               'display_url': 'bbc.in/3Zqbpfx',
               'end': 78,
               'expanded_url': 'https://bbc.in/3Zqbpfx',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613181961069117444/YR2Nalmt?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613181961069117444/YR2Nalmt?format=jpg&name=150x150',
                           'width': 150}],
               'start': 55,
               'status': 200,
               'title': 'Essex Police makes direct appeal to missing couple '
                        'with newborn baby',
               'unwound_url': 'https://www.bbc.com/news/uk-england-essex-64236926?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_ptr_name=twitter&at_link_origin=BBCNews&at_format=link&at_bbc_team=editorial&at_medium=social&at_link_id=5C67B4DE-91AA-11ED-AD6F-2CC34744363C&at_campaign=Social_Flow&at_link_type=web_link&at_campaign_type=owned',
               'url': 'https://t.co/Dct1L0wIMY'}]}
{'_id': ObjectId('63c072dda4443d61145b1923'),
 'entities': [{'description': 'The Pulitzer-Prize winning journalist is the '
                              'creme de la creme of celebrity ghostwriters.',
               'display_url': 'bbc.in/3CABBdI',
               'end': 93,
               'expanded_url': 'https://bbc.in/3CABBdI',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612649944912986112/byQ5bpsp?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612649944912986112/byQ5bpsp?format=jpg&name=150x150',
                           'width': 150}],
               'start': 70,
               'status': 200,
               'title': "Who is Harry's ghostwriter, JR Moehringer - and how "
                        'much did he make?',
               'unwound_url': 'https://www.bbc.com/news/world-us-canada-64217330?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_link_id=543A4762-908E-11ED-9AC9-BFAB4744363C&at_link_type=web_link&at_campaign=Social_Flow&at_medium=social&at_format=link&at_ptr_name=twitter&at_bbc_team=editorial&at_link_origin=BBCNews',
               'url': 'https://t.co/P2TgFcLz8U'}]}
{'_id': ObjectId('63c072dda4443d61145b1934'),
 'entities': [{'description': 'What did we learn from the Duke of Sussexs '
                              'round of interviews?',
               'display_url': 'bbc.in/3Zq3fUa',
               'end': 197,
               'expanded_url': 'https://bbc.in/3Zq3fUa',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612572948937822233/uZSGhNd_?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612572948937822233/uZSGhNd_?format=jpg&name=150x150',
                           'width': 150}],
               'start': 174,
               'status': 200,
               'title': 'Newscast - Prince Harry: Spare On Air - BBC Sounds',
               'unwound_url': 'https://www.bbc.co.uk/sounds/play/p0dv7rrc',
               'url': 'https://t.co/neZSO49soQ'}]}
{'_id': ObjectId('63c072dda4443d61145b18df'),
 'entities': [{'description': "Health managers say Wednesday's walkout in "
                              'England and Wales will be harder to cope with.',
               'display_url': 'bbc.in/3Xpb6jj',
               'end': 73,
               'expanded_url': 'https://bbc.in/3Xpb6jj',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612905179774328835/ysKu7qcA?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612905179774328835/ysKu7qcA?format=jpg&name=150x150',
                           'width': 150}],
               'start': 50,
               'status': 200,
               'title': 'NHS bosses fear impact of second ambulance strike',
               'unwound_url': 'https://www.bbc.com/news/health-64229958?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter&at_format=link&at_medium=social&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=21E18218-9114-11ED-9AC9-BFAB4744363C',
               'url': 'https://t.co/iXlpIMlLmG'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b37'),
 'entities': [{'description': 'Women report positives, but also areas for '
                              "improvement in a report by England's care "
                              'regulator.',
               'display_url': 'bbc.in/3GUqkqW',
               'end': 96,
               'expanded_url': 'https://bbc.in/3GUqkqW',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613270087179313178/rgDpWrfa?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613270087179313178/rgDpWrfa?format=jpg&name=150x150',
                           'width': 150}],
               'start': 73,
               'status': 200,
               'title': 'Help during childbirth has declined, survey finds',
               'unwound_url': 'https://www.bbc.com/news/health-64236706?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_link_id=07571010-91C9-11ED-AD6F-2CC34744363C&at_campaign=Social_Flow&at_link_type=web_link&at_medium=social&at_bbc_team=editorial&at_format=link&at_link_origin=BBCNews&at_ptr_name=twitter',
               'url': 'https://t.co/by1UAP4xhm'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b7c'),
 'entities': [{'description': 'The walkouts follows the closure of primary '
                              'schools on Tuesday in an ongoing pay dispute.',
               'display_url': 'bbc.in/3ZErDBZ',
               'end': 79,
               'expanded_url': 'https://bbc.in/3ZErDBZ',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612962372477501440/BnYnnM7Z?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612962372477501440/BnYnnM7Z?format=jpg&name=150x150',
                           'width': 150}],
               'start': 56,
               'status': 200,
               'title': 'Exams rescheduled as Scottish secondary teachers '
                        'strike',
               'unwound_url': 'https://www.bbc.com/news/uk-scotland-64228996?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_format=link&at_bbc_team=editorial&at_medium=social&at_ptr_name=twitter&at_link_origin=BBCNews&at_campaign_type=owned&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=8B70EE20-9138-11ED-AD6F-2CC34744363C',
               'url': 'https://t.co/0qAhAVjTwA'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b7a'),
 'entities': [{'description': 'Responding for the first time to coverage of '
                              'his book, he says "lies" about him could '
                              'endanger his family.',
               'display_url': 'bbc.in/3XlGyyR',
               'end': 89,
               'expanded_url': 'https://bbc.in/3XlGyyR',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612993824288030720/puJ4SYTY?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612993824288030720/puJ4SYTY?format=jpg&name=150x150',
                           'width': 150}],
               'start': 66,
               'status': 200,
               'title': "Prince Harry condemns 'dangerous spin' about his "
                        'Taliban comments',
               'unwound_url': 'https://www.bbc.com/news/uk-64231560?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_ptr_name=twitter&at_link_origin=BBCNews&at_format=link&at_bbc_team=editorial&at_medium=social&at_link_id=46285508-9154-11ED-AD6F-2CC34744363C&at_campaign=Social_Flow&at_link_type=web_link&at_campaign_type=owned',
               'url': 'https://t.co/V2u2hELxp4'}]}
{'_id': ObjectId('63c072dda4443d61145b18ed'),
 'entities': [{'description': 'The sisters of a six-year-old say the '
                              'authorities will not tell them why her killer '

                           'width': 150}],
               'start': 121,
               'status': 200,
               'title': 'Home - BBC News',
               'unwound_url': 'https://www.bbc.co.uk/news?at_ptr_name=twitter&at_link_type=web_link&at_format=image&at_campaign=Social_Flow&at_bbc_team=editorial&at_medium=social&at_campaign_type=owned&at_link_origin=BBCNews&at_link_id=F54B8C6A-9061-11ED-8209-A07A96E8478F',
               'url': 'https://t.co/eZsqA2JMKS'}]}
{'_id': ObjectId('63c072dda4443d61145b190e'),
 'entities': [{'description': "The capital's roads are more congested than "
                              'they were before the pandemic, researchers '
                              'find.',
               'display_url': 'bbc.in/3jZ7jut',
               'end': 80,
               'expanded_url': 'https://bbc.in/3jZ7jut',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612740840815828992/8HEGbxPL?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612740840815828992/8HEGbxPL?format=jpg&name=150x150',
                           'width': 150}],
               'start': 57,
               'status': 200,
               'title': "London remains world's most congested city, report "
                        'finds',
               'unwound_url': 'https://www.bbc.com/news/uk-england-london-64219939?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_bbc_team=editorial&at_ptr_name=twitter&at_link_origin=BBCNews&at_medium=social&at_format=link&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=F60FBFB8-90C5-11ED-9AC9-BFAB4744363C',
               'url': 'https://t.co/Ldxvw11948'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b8e'),
 'entities': [{'description': 'Global temperatures and rain patterns are '
                              'affected by climate phenomena known as El '
                              'Nio/La Nia.',
               'display_url': 'bbc.in/3IDxpgR',
               'end': 89,
               'expanded_url': 'https://bbc.in/3IDxpgR',
               'start': 66,
               'status': 200,
               'title': 'What are El Nio and La Nia, and how do they change '
                        'the weather?',
               'unwound_url': 'https://www.bbc.com/news/science-environment-64192508?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_ptr_name=twitter&at_link_origin=BBCNews&at_bbc_team=editorial&at_format=link&at_medium=social&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=949F8BB6-9109-11ED-9AC9-BFAB4744363C',
               'url': 'https://t.co/JgmfB8PiCL'}]}
{'_id': ObjectId('63c072dda4443d61145b1910'),
 'entities': [{'description': 'The amount of damages being sought in class '
                              'actions leapt from 4bn in 2021 to 26bn in '
                              '2022.',
               'display_url': 'bbc.in/3QsgnnS',
               'end': 75,
               'expanded_url': 'https://bbc.in/3QsgnnS',
               'start': 52,
               'status': 200,
               'title': 'Why it is becoming easier to sue big tech in the UK',
               'unwound_url': 'https://www.bbc.com/news/technology-64210531?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=3C24058A-9095-11ED-9AC9-BFAB4744363C&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter&at_format=link&at_medium=social',
               'url': 'https://t.co/X3n62chfnq'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b86'),
 'entities': [{'description': 'Francisco Galia died on Sunday while attempting '
                              'to board a vessel off Spurn Point, a colleague '
                              'says.',
               'display_url': 'bbc.in/3CCdL0U',
               'end': 80,
               'expanded_url': 'https://bbc.in/3CCdL0U',
               'start': 57,
               'status': 200,
               'title': 'Humber pilot Francisco Galia died in fall while '
                        'boarding vessel',
               'unwound_url': 'https://www.bbc.com/news/uk-england-humber-64223424?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=040CC030-90F7-11ED-9AC9-BFAB4744363C&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter&at_format=link&at_medium=social&at_campaign_type=owned',
               'url': 'https://t.co/5GQeSZFave'}]}
{'_id': ObjectId('63c072dda4443d61145b1915'),
 'entities': [{'description': 'Remo Douglas, 34, drowned in a river trying to '
                              'save his family while on a trip to Jamaica.',
               'display_url': 'bbc.in/3k26dy7',
               'end': 76,
               'expanded_url': 'https://bbc.in/3k26dy7',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612701179842121729/wW4HDyig?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612701179842121729/wW4HDyig?format=jpg&name=150x150',
                           'width': 150}],
               'start': 53,
               'status': 200,
               'title': 'Parents pay tribute to man who drowned saving family',
               'unwound_url': 'https://www.bbc.co.uk/news/uk-england-bristol-64211153?at_campaign_type=owned&at_link_type=web_link&at_link_id=D43083C8-90B1-11ED-A5B6-0314933C408C&at_bbc_team=editorial&at_campaign=Social_Flow&at_medium=social&at_link_origin=BBCNews&at_ptr_name=twitter&at_format=link',
               'url': 'https://t.co/lCwio2WMQK'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b5b'),
 'entities': [{'description': 'US authorities have confirmed operations across '
                              'the National Airspace System are affected.',
               'display_url': 'bbc.in/3ZpLswy',
               'end': 127,
               'expanded_url': 'https://bbc.in/3ZpLswy',
               'start': 104,
               'status': 200,
               'title': 'Flights across US disrupted by technical glitch',
               'unwound_url': 'https://www.bbc.co.uk/news/world-us-canada-64236047?at_link_id=9ADA3092-91AB-11ED-B2FD-194A0EDC252D&at_bbc_team=editorial&at_campaign_type=owned&at_medium=social&at_link_type=web_link&at_format=link&at_link_origin=BBCWorld&at_ptr_name=twitter&at_campaign=Social_Flow',
               'url': 'https://t.co/tCQUSXHZqa'}]}
{'_id': ObjectId('63c072dda4443d61145b191a'),
 'entities': [{'description': "Fans queue to buy a hardback copy of the duke's "
                              'memoir as it went on sale at midnight.',
               'display_url': 'bbc.in/3k4ToDl',
               'end': 85,
               'expanded_url': 'https://bbc.in/3k4ToDl',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612692458881572864/XbPbdE3T?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612692458881572864/XbPbdE3T?format=jpg&name=150x150',
                           'width': 150}],
               'start': 62,
               'status': 200,
               'title': "Prince Harry's book officially hits shops after days "
                        'of leaks',
               'unwound_url': 'https://www.bbc.co.uk/news/uk-64213852?at_campaign=Social_Flow&at_link_id=F6D851BC-90AC-11ED-BBC8-E413933C408C&at_bbc_team=editorial&at_link_type=web_link&at_campaign_type=owned&at_format=link&at_ptr_name=twitter&at_link_origin=BBCNews&at_medium=social',
               'url': 'https://t.co/XmfSToqCxu'}]}
{'_id': ObjectId('63c072dda4443d61145b18e9'),
 'entities': [{'description': "Last year was the world's fifth warmest year "
                              'with Europe enduring its hottest summer on '
                              'record',
               'display_url': 'bbc.in/3itCIEU',
               'end': 85,
               'expanded_url': 'https://bbc.in/3itCIEU',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612877463528390661/opaP_fhU?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612877463528390661/opaP_fhU?format=jpg&name=150x150',
                           'width': 150}],
               'start': 62,
               'status': 200,
               'title': 'Climate change: Europe and polar regions bear brunt '
                        'of warming in 2022',
               'unwound_url': 'https://www.bbc.com/news/science-environment-64213575?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_link_id=B11E3366-90DF-11ED-9AC9-BFAB4744363C&at_link_type=web_link&at_campaign=Social_Flow&at_medium=social&at_format=link&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter',
               'url': 'https://t.co/QTyQLW6r8q'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b6f'),
 'entities': [{'description': "How one man's ever-growing village archive "
                              'sparked a tour of lost ale houses.',
               'display_url': 'bbc.in/3ZF8gsv',
               'end': 74,
               'expanded_url': 'https://bbc.in/3ZF8gsv',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613068024344444929/U1L7Tw3m?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613068024344444929/U1L7Tw3m?format=jpg&name=150x150',
                           'width': 150}],
               'start': 51,
               'status': 200,
               'title': 'Duxford: The village rediscovering its lost pubs and '
                        'ale houses',
               'unwound_url': 'https://www.bbc.co.uk/news/uk-england-cambridgeshire-64192338',
               'url': 'https://t.co/AAMX2gsshW'}]}
{'_id': ObjectId('63c072dda4443d61145b192c'),
 'entities': [{'description': 'The government says the current level of '
                              'support for firms was "unsustainably '
                              'expensive".',
               'display_url': 'bbc.in/3WZkrhP',
               'end': 78,
               'expanded_url': 'https://bbc.in/3WZkrhP',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612585034938040320/-xNOoUtm?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612585034938040320/-xNOoUtm?format=jpg&name=150x150',
                           'width': 150}],
               'start': 55,
               'status': 200,
               'title': 'Energy bill support for firms to be reduced from '
                        'April',
               'unwound_url': 'https://www.bbc.com/news/business-64211744?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_link_origin=BBCNews&at_bbc_team=editorial&at_ptr_name=twitter&at_format=link&at_medium=social&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=CC7D0E6E-904B-11ED-9AC9-BFAB4744363C',
               'url': 'https://t.co/PDSzHhVFUK'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b41'),
 'entities': [{'description': 'Welsh Slate is struggling to keep up with '
                              'demand from across the globe, especially from '
                              'Australia.',
               'display_url': 'bbc.in/3Zt0p0P',
               'end': 72,
               'expanded_url': 'https://bbc.in/3Zt0p0P',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613170415274172417/UFeq3EOw?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613170415274172417/UFeq3EOw?format=jpg&name=150x150',
                           'width': 150}],
               'start': 49,
               'status': 200,
               'title': 'Gwynedd slate mine seeks young workers as demand '
                        'rockets',
               'unwound_url': 'https://www.bbc.com/news/uk-wales-64223863?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_origin=BBCNews&at_ptr_name=twitter&at_medium=social&at_bbc_team=editorial&at_format=link&at_link_id=8BB6B9F8-9185-11ED-AD6F-2CC34744363C&at_campaign=Social_Flow&at_link_type=web_link&at_campaign_type=owned',
               'url': 'https://t.co/9olg2gwAJJ'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b82'),
 'entities': [{'display_url': 'pic.twitter.com/sx2c1TsyBS',
               'end': 150,
               'expanded_url': 'https://twitter.com/BBCNews/status/1612945898882875395/photo/1',
               'media_key': '3_1612945895661703169',
               'start': 127,
               'url': 'https://t.co/sx2c1TsyBS'},
              {'description': 'Visit BBC News for up-to-the-minute news, '
                              'breaking news, video, audio and feature '
                              'stories. BBC News provides trusted World and UK '
                              'news as well as local and regional '
                              'perspectives. Also entertainment, business, '
                              'science, technology and health news.',
               'display_url': 'bbc.in/3IFDQ3c',
               'end': 126,
               'expanded_url': 'https://bbc.in/3IFDQ3c',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612945900485181440/y1aqGgxN?format=png&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612945900485181440/y1aqGgxN?format=png&name=150x150',
                           'width': 150}],
               'start': 103,
               'status': 200,
               'title': 'Home - BBC News',
               'unwound_url': 'https://www.bbc.co.uk/news?at_campaign_type=owned&at_link_id=E5377B32-9137-11ED-AB57-413B0EDC252D&at_bbc_team=editorial&at_link_type=web_link&at_medium=social&at_link_origin=BBCNews&at_format=image&at_campaign=Social_Flow&at_ptr_name=twitter',
               'url': 'https://t.co/2W5znSuZ2X'}]}
{'_id': ObjectId('63c072dda4443d61145b1905'),
 'entities': [{'description': 'Liverpool will host a handover ceremony and '
                              'allocation draw on 31 January as Turin hands '
                              'over keys.',
               'display_url': 'bbc.in/3jYjzvb',
               'end': 103,
               'expanded_url': 'https://bbc.in/3jYjzvb',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612777761541701632/vPb_oakX?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612777761541701632/vPb_oakX?format=jpg&name=150x150',
                           'width': 150}],
               'start': 80,
               'status': 200,
               'title': 'Eurovision 2023: Handover and semi-final allocation '
                        'draw to be held in Liverpool',
               'unwound_url': 'https://www.bbc.com/news/entertainment-arts-64220499?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=02830232-90C6-11ED-9AC9-BFAB4744363C&at_link_origin=BBCNews&at_bbc_team=editorial&at_ptr_name=twitter&at_medium=social&at_format=link&at_campaign_type=owned',
               'url': 'https://t.co/OBVLRlWnFX'}]}
{'_id': ObjectId('63c072dda4443d61145b18de'),
 'entities': [{'description': 'The duke says he is a Friends fanatic and the '
                              'Queen quizzed Meghan about Donald Trump when '
                              'they met.',
               'display_url': 'bbc.in/3k7920K',
               'end': 77,
               'expanded_url': 'https://bbc.in/3k7920K',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612907693353598978/9VTmRaIJ?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612907693353598978/9VTmRaIJ?format=jpg&name=150x150',
                           'width': 150}],
               'start': 54,
               'status': 200,
               'title': "Prince Harry's book: Things you might have missed",
               'unwound_url': 'https://www.bbc.com/news/uk-64220688?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_ptr_name=twitter&at_bbc_team=editorial&at_link_origin=BBCNews&at_format=link&at_medium=social&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=874CF488-9101-11ED-9AC9-BFAB4744363C',
               'url': 'https://t.co/efU3aR5fg1'}]}
{'_id': ObjectId('63c072dda4443d61145b18f5'),
 'entities': [{'description': 'An orange light streaking across the night sky '
                              'is captured on mobile phones and doorbell '
                              'cameras.',
               'display_url': 'bbc.in/3XhwYgr',
               'end': 69,
               'expanded_url': 'https://bbc.in/3XhwYgr',
               'start': 46,
               'status': 200,
               'title': 'Meteor lights up skies over England',
               'unwound_url': 'https://www.bbc.com/news/av/uk-england-64220964',
               'url': 'https://t.co/M9D355Kf7a'}]}
{'_id': ObjectId('63c072dda4443d61145b18e3'),
 'entities': [{'description': 'What you need to know about the ambulance '
                              "workers' strike and other industrial action, by "
                              "the BBC's Zoe Conway.",
               'display_url': 'bbc.in/3ZtaI5d',
               'end': 75,
               'expanded_url': 'https://bbc.in/3ZtaI5d',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612892589576822784/AsIguFQq?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612892589576822784/AsIguFQq?format=jpg&name=150x150',
                           'width': 150}],
               'start': 52,
               'status': 200,
               'title': 'Strikes Update: How Wednesday 11 Januarys walkouts '
                        'will affect you',
               'unwound_url': 'https://www.bbc.com/news/business-64220259?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=6D09F994-9107-11ED-9AC9-BFAB4744363C&at_ptr_name=twitter&at_bbc_team=editorial&at_link_origin=BBCNews&at_medium=social&at_format=link&at_campaign_type=owned',
               'url': 'https://t.co/ucf4Bci97o'}]}

               'start': 40,
               'status': 200,
               'title': 'Hair and a spare: Prince Harry and the power of the '
                        'beard',
               'unwound_url': 'https://www.bbc.com/news/newsbeat-64209376?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_ptr_name=twitter&at_link_origin=BBCWorld&at_bbc_team=editorial&at_medium=social&at_format=link&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=769AC3F2-90C2-11ED-9AC9-BFAB4744363C',
               'url': 'https://t.co/TQE8AQO6Vc'}]}
{'_id': ObjectId('63c072dda4443d61145b1933'),
 'entities': [{'display_url': 'bbc.in/3QtjDzp',
               'end': 156,
               'expanded_url': 'https://bbc.in/3QtjDzp',
               'start': 133,
               'unwound_url': 'https://www.bbc.co.uk/news/live/uk-64215127?at_link_origin=BBCNews&at_medium=social&at_campaign_type=owned&at_link_type=web_link&at_format=link&at_bbc_team=editorial&at_campaign=Social_Flow&at_link_id=0CBC2708-906A-11ED-A828-D4200EDC252D&at_ptr_name=twitter',
               'url': 'https://t.co/Eyjde9BOXG'}]}
{'_id': ObjectId('63c072dda4443d61145b1925'),
 'entities': [{'description': "Tuesday's papers react to Prince Harry's "
                              'comments on returning to the UK, and the latest '
                              'on NHS strikes.',
               'display_url': 'bbc.in/3ilqDSp',
               'end': 101,
               'expanded_url': 'https://bbc.in/3ilqDSp',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612634996006699008/f0W1MN-Z?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612634996006699008/f0W1MN-Z?format=jpg&name=150x150',
                           'width': 150}],
               'start': 78,
               'status': 200,
               'title': "Newspaper headlines: 'No way back' says Harry and "
                        'hope of strike breakthrough',
               'unwound_url': 'https://www.bbc.com/news/blogs-the-papers-64218349?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_link_origin=BBCNews&at_bbc_team=editorial&at_ptr_name=twitter&at_format=link&at_medium=social&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=2B09D874-908B-11ED-9AC9-BFAB4744363C',
               'url': 'https://t.co/bXh1zU5Epw'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b96'),
 'entities': [{'description': 'The duke says he is a Friends fanatic and the '
                              'Queen quizzed Meghan about Donald Trump when '
                              'they met.',
               'display_url': 'bbc.in/3k7920K',
               'end': 77,
               'expanded_url': 'https://bbc.in/3k7920K',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612907693353598978/9VTmRaIJ?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612907693353598978/9VTmRaIJ?format=jpg&name=150x150',
                           'width': 150}],
               'start': 54,
               'status': 200,
               'title': "Prince Harry's book: Things you might have missed",
               'unwound_url': 'https://www.bbc.com/news/uk-64220688?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_ptr_name=twitter&at_bbc_team=editorial&at_link_origin=BBCNews&at_format=link&at_medium=social&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=874CF488-9101-11ED-9AC9-BFAB4744363C',
               'url': 'https://t.co/efU3aR5fg1'}]}
{'_id': ObjectId('63c072dda4443d61145b18f0'),
 'entities': [{'description': 'The company had already suspended winter '
                              'flights due to them not being "economically '
                              'viable".',
               'display_url': 'bbc.in/3QsTqAR',
               'end': 66,
               'expanded_url': 'https://bbc.in/3QsTqAR',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612848765701951493/acXdOf0Y?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612848765701951493/acXdOf0Y?format=jpg&name=150x150',
                           'width': 150}],
               'start': 43,
               'status': 200,
               'title': 'Cardiff Airport: Wizz Air ends flights in and out of '
                        'Wales',
               'unwound_url': 'https://www.bbc.com/news/uk-wales-64224834?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_format=link&at_medium=social&at_bbc_team=editorial&at_ptr_name=twitter&at_link_origin=BBCNews&at_link_id=51676ACA-90E7-11ED-9AC9-BFAB4744363C&at_campaign=Social_Flow&at_link_type=web_link',
               'url': 'https://t.co/xqmr11xzZW'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b64'),
 'entities': [{'description': 'A scheme to resettle 1,500 Afghan citizens who '
                              'supported the British mission has helped just '
                              'four.',
               'display_url': 'bbc.in/3GTfjGv',
               'end': 70,
               'expanded_url': 'https://bbc.in/3GTfjGv',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613119158056615936/yPOX14Qy?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613119158056615936/yPOX14Qy?format=jpg&name=150x150',
                           'width': 150}],
               'start': 47,
               'status': 200,
               'title': "Afghan teacher 'abandoned by UK' fears for her life",
               'unwound_url': 'https://www.bbc.co.uk/news/world-asia-64215445?at_medium=social&at_campaign_type=owned&at_link_type=web_link&at_campaign=Social_Flow&at_bbc_team=editorial&at_ptr_name=twitter&at_link_id=D519766C-9199-11ED-8C4F-C4D3923C408C&at_link_origin=BBCWorld&at_format=link',
               'url': 'https://t.co/nhJVqxqfqm'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b3f'),
 'entities': [{'description': 'The vase, an early work by the artist, sells in '
                              'Eastbourne to an anonymous bidder.',
               'display_url': 'bbc.in/3XoxaKN',
               'end': 94,
               'expanded_url': 'https://bbc.in/3XoxaKN',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613275072608849939/T1WbSZ5L?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613275072608849939/T1WbSZ5L?format=jpg&name=150x150',
                           'width': 150}],
               'start': 71,
               'status': 200,
               'title': 'Grayson Perry vase sells for 52,000 at auction',
               'unwound_url': 'https://www.bbc.com/news/uk-england-sussex-64240020?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_origin=BBCNews&at_ptr_name=twitter&at_medium=social&at_bbc_team=editorial&at_format=link&at_link_type=web_link&at_link_id=D10E4E3C-91C9-11ED-AD6F-2CC34744363C&at_campaign=Social_Flow&at_campaign_type=owned',
               'url': 'https://t.co/eYtziyJQcP'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b89'),
 'entities': [{'description': 'Visit BBC News for up-to-the-minute news, '
                              'breaking news, video, audio and feature '
                              'stories. BBC News provides trusted World and UK '
                              'news as well as local and regional '
                              'perspectives. Also entertainment, business, '
                              'science, technology and health news.',
               'display_url': 'bbc.in/3vRzOwP',
               'end': 141,
               'expanded_url': 'https://bbc.in/3vRzOwP',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612938549413691392/u7RvzoXl?format=png&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612938549413691392/u7RvzoXl?format=png&name=150x150',
                           'width': 150}],
               'start': 118,
               'status': 200,
               'title': 'Home - BBC News',
               'unwound_url': 'https://www.bbc.co.uk/news?at_ptr_name=twitter&at_medium=social&at_bbc_team=editorial&at_campaign=Social_Flow&at_format=image&at_link_origin=BBCNews&at_campaign_type=owned&at_link_id=AD768588-912F-11ED-A5AD-0559FC756850&at_link_type=web_link',
               'url': 'https://t.co/Fy7B6bayTg'},
              {'display_url': 'pic.twitter.com/q7lyoohVOm',
               'end': 165,
               'expanded_url': 'https://twitter.com/BBCNews/status/1612938547358474240/photo/1',
               'media_key': '3_1612938544254681088',
               'start': 142,
               'url': 'https://t.co/q7lyoohVOm'}]}
{'_id': ObjectId('63c072dda4443d61145b18f8'),
 'entities': [{'description': 'A 21-year-old woman is arrested after the death '
                              'of Bakewell Town footballer Kyle Shimwell.',
               'display_url': 'bbc.in/3XeJihe',
               'end': 67,
               'expanded_url': 'https://bbc.in/3XeJihe',
               'start': 44,
               'status': 200,
               'title': 'Kyle Shimwell: Footballer dies after car crashes into '
                        'shop',
               'unwound_url': 'https://www.bbc.com/news/uk-england-derbyshire-64223937?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter&at_medium=social&at_format=link&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=C1C4F9BC-90F2-11ED-9AC9-BFAB4744363C',
               'url': 'https://t.co/I6y5deXYva'}]}
{'_id': ObjectId('63c072dda4443d61145b18e1'),
 'entities': [{'description': 'Tomasz Waga was killed after he tried to steal '
                              'drugs from a cannabis factory.',
               'display_url': 'bbc.in/3ZtCqii',
               'end': 68,
               'expanded_url': 'https://bbc.in/3ZtCqii',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612902636855955456/P5gUFglD?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612902636855955456/P5gUFglD?format=jpg&name=150x150',
                           'width': 150}],
               'start': 45,
               'status': 200,
               'title': 'Tomasz Waga: Three jailed for beating drug rival to '
                        'death',
               'unwound_url': 'https://www.bbc.com/news/uk-wales-64217055?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_id=E194AB2E-90EE-11ED-9AC9-BFAB4744363C&at_campaign=Social_Flow&at_link_type=web_link&at_medium=social&at_format=link&at_ptr_name=twitter&at_bbc_team=editorial&at_link_origin=BBCNews&at_campaign_type=owned',
               'url': 'https://t.co/iGC8Gcfh98'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b57'),
 'entities': [{'description': 'The pair repeatedly beat the pet, called Snoop, '
                              'for making "toileting mistakes", the RSPCA '
                              'said.',
               'display_url': 'bbc.in/3W3E86I',
               'end': 70,
               'expanded_url': 'https://bbc.in/3W3E86I',
               'start': 47,
               'status': 200,
               'title': 'Liverpool couple who poisoned dog with raisins '
                        'sentenced',
               'unwound_url': 'https://www.bbc.com/news/uk-england-merseyside-64225631?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_link_type=web_link&at_link_id=301B7828-919D-11ED-AD6F-2CC34744363C&at_campaign=Social_Flow&at_format=link&at_bbc_team=editorial&at_medium=social&at_ptr_name=twitter&at_link_origin=BBCNews',
               'url': 'https://t.co/xP7i4BRHwy'}]}
{'_id': ObjectId('63c072dda4443d61145b1918'),
 'entities': [{'description': 'The first ever satellite mission launched from '
                              'UK soil has a technical problem on its climb to '
                              'space.',
               'display_url': 'bbc.in/3GvyiFw',
               'end': 70,
               'expanded_url': 'https://bbc.in/3GvyiFw',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612696439703961600/dLpAgsIp?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612696439703961600/dLpAgsIp?format=jpg&name=150x150',
                           'width': 150}],
               'start': 47,
               'status': 200,
               'title': 'UK space launch: Historic Cornwall rocket launch ends '
                        'in failure',
               'unwound_url': 'https://www.bbc.co.uk/news/science-environment-64218883?at_link_type=web_link&at_campaign_type=owned&at_campaign=Social_Flow&at_bbc_team=editorial&at_link_id=0808F120-90AE-11ED-B2CE-1114933C408C&at_link_origin=BBCNews&at_medium=social&at_format=link&at_ptr_name=twitter',
               'url': 'https://t.co/pBIY0C5O37'}]}
{'_id': ObjectId('63c072dda4443d61145b192a'),
 'entities': [{'description': 'James Cleverley and Maros efovi say the '
                              'agreement gives a new basis for NI protocol '
                              'talks.',
               'display_url': 'bbc.in/3XcW7JH',
               'end': 97,
               'expanded_url': 'https://bbc.in/3XcW7JH',
               'start': 74,
               'status': 200,
               'title': 'NI Protocol: UK and EU reach agreement on trade data '
                        'sharing',
               'unwound_url': 'https://www.bbc.com/news/uk-northern-ireland-64214603?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_format=link&at_medium=social&at_link_origin=BBCNews&at_bbc_team=editorial&at_ptr_name=twitter&at_link_id=DC897DAA-9033-11ED-9AC9-BFAB4744363C&at_campaign=Social_Flow&at_link_type=web_link',
               'url': 'https://t.co/ALhR18Kyvv'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b3d'),
 'entities': [{'description': 'Kevin Kenny used the excuse of playing console '
                              'games to spend time with his teenage victim.',
               'display_url': 'bbc.in/3k7qqTp',
               'end': 87,
               'expanded_url': 'https://bbc.in/3k7qqTp',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613259218957570050/SKf4BixP?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613259218957570050/SKf4BixP?format=jpg&name=150x150',
                           'width': 150}],
               'start': 64,
               'status': 200,
               'title': 'Rapist who used computer gaming as cover is jailed '
                        'for eight years',
               'unwound_url': 'https://www.bbc.com/news/uk-scotland-south-scotland-64235867?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=FE5E9F72-91BF-11ED-AD6F-2CC34744363C&at_medium=social&at_format=link&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter',
               'url': 'https://t.co/i95HPALKAU'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b55'),
 'entities': [{'description': 'Welsh Slate is struggling to keep up with '
                              'demand from across the globe, especially from '
                              'Australia.',
               'display_url': 'bbc.in/3IC96QB',
               'end': 72,
               'expanded_url': 'https://bbc.in/3IC96QB',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613170415274172417/UFeq3EOw?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613170415274172417/UFeq3EOw?format=jpg&name=150x150',

                           'width': 150}],
               'start': 49,
               'status': 200,
               'title': 'Gwynedd slate mine seeks young workers as demand '
                        'rockets',
               'unwound_url': 'https://www.bbc.com/news/uk-wales-64223863?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_origin=BBCNews&at_ptr_name=twitter&at_medium=social&at_bbc_team=editorial&at_format=link&at_link_id=8BB6B9F8-9185-11ED-AD6F-2CC34744363C&at_campaign=Social_Flow&at_link_type=web_link&at_campaign_type=owned',
               'url': 'https://t.co/HYygFle2qn'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b8d'),
 'entities': [{'description': 'The copy of the Geneva Bible from 1615 sold '
                              'well above its 10,000 valuation in east '
                              'Belfast.',
               'display_url': 'bbc.in/3k0nQ1j',
               'end': 69,
               'expanded_url': 'https://bbc.in/3k0nQ1j',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612933988078714880/6D4bH2t5?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612933988078714880/6D4bH2t5?format=jpg&name=150x150',
                           'width': 150}],
               'start': 46,
               'status': 200,
               'title': 'Tudor Bible sells for 20k in Belfast auction',
               'unwound_url': 'https://www.bbc.com/news/uk-northern-ireland-64228618?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_id=7160DC7C-9109-11ED-9AC9-BFAB4744363C&at_campaign=Social_Flow&at_link_type=web_link&at_format=link&at_medium=social&at_bbc_team=editorial&at_ptr_name=twitter&at_link_origin=BBCNews&at_campaign_type=owned',
               'url': 'https://t.co/sVMypOIW2I'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b33'),
 'entities': [{'description': "Tatjana Patitz, one of the 1990's most "
                              'prominent supermodels, died in California.',
               'display_url': 'bbc.in/3itYrgb',
               'end': 62,
               'expanded_url': 'https://bbc.in/3itYrgb',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613296035433955328/LPaBHGWd?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613296035433955328/LPaBHGWd?format=jpg&name=150x150',
                           'width': 150}],
               'start': 39,
               'status': 200,
               'title': 'Supermodel Tatjana Patitz dies at 56',
               'unwound_url': 'https://www.bbc.com/news/entertainment-arts-64240886?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_format=link&at_bbc_team=editorial&at_medium=social&at_ptr_name=twitter&at_link_origin=BBCNews&at_campaign_type=owned&at_campaign=Social_Flow&at_link_id=0003574C-91FB-11ED-AD6F-2CC34744363C&at_link_type=web_link',
               'url': 'https://t.co/kMvnSroB2E'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b3e'),
 'entities': [{'description': 'Police said Usman Nazir was being detained at a '
                              'barbershop in Derby for an unrelated matter.',
               'display_url': 'bbc.in/3GWyG1c',
               'end': 72,
               'expanded_url': 'https://bbc.in/3GWyG1c',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613254385861099521/TKJCsPR5?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613254385861099521/TKJCsPR5?format=jpg&name=150x150',
                           'width': 150}],
               'start': 49,
               'status': 200,
               'title': 'Man jailed after getting haircut with loaded gun in '
                        'Derby',
               'unwound_url': 'https://www.bbc.com/news/uk-england-derbyshire-64236411?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_link_id=D937A100-91C7-11ED-AD6F-2CC34744363C&at_campaign=Social_Flow&at_link_type=web_link&at_bbc_team=editorial&at_format=link&at_medium=social&at_ptr_name=twitter&at_link_origin=BBCNews',
               'url': 'https://t.co/BUXVR8KQlr'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b38'),
 'entities': [{'description': 'An alleged "passport gang" used identities of '
                              'alcoholics to get documents for criminals, a '
                              'court hears.',
               'display_url': 'bbc.in/3irGhvB',
               'end': 90,
               'expanded_url': 'https://bbc.in/3irGhvB',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613294993614987270/Wcv_O-Pe?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613294993614987270/Wcv_O-Pe?format=jpg&name=150x150',
                           'width': 150}],
               'start': 67,
               'status': 200,
               'title': "'Passport gang' used vulnerable people to get "
                        'documents, jury told',
               'unwound_url': 'https://www.bbc.com/news/uk-64241880?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=10776AA6-91D7-11ED-AD6F-2CC34744363C&at_format=link&at_bbc_team=editorial&at_medium=social&at_ptr_name=twitter&at_link_origin=BBCNews',
               'url': 'https://t.co/pYFojre41R'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b6e'),
 'entities': [{'description': "The ad for the singer's new album linked "
                              'sexuality to a sacred symbol, the advertising '
                              'watchdog says.',
               'display_url': 'bbc.in/3XjomWz',
               'end': 83,
               'expanded_url': 'https://bbc.in/3XjomWz',
               'start': 60,
               'status': 200,
               'title': 'Demi Lovato poster banned for being offensive to '
                        'Christians',
               'unwound_url': 'https://www.bbc.com/news/business-64214750?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_origin=BBCNews&at_ptr_name=twitter&at_medium=social&at_bbc_team=editorial&at_format=link&at_link_id=9C0AD4DE-9143-11ED-AD6F-2CC34744363C&at_campaign=Social_Flow&at_link_type=web_link&at_campaign_type=owned',
               'url': 'https://t.co/rsXjQYsevj'}]}
{'_id': ObjectId('63c072dda4443d61145b1909'),
 'entities': [{'description': 'New figures show more than 650,000 people died '
                              'in the UK last year.',
               'display_url': 'bbc.in/3k6d89o',
               'end': 69,
               'expanded_url': 'https://bbc.in/3k6d89o',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612756194740899840/E25ZVIvh?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612756194740899840/E25ZVIvh?format=jpg&name=150x150',
                           'width': 150}],
               'start': 46,
               'status': 200,
               'title': 'Excess deaths in 2022 among worst in 50 years',
               'unwound_url': 'https://www.bbc.com/news/health-64209221?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=86A57D32-90CC-11ED-9AC9-BFAB4744363C&at_bbc_team=editorial&at_ptr_name=twitter&at_link_origin=BBCNews&at_medium=social&at_format=link&at_campaign_type=owned',
               'url': 'https://t.co/k2txe3is2V'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b93'),
 'entities': [{'description': 'Zholia Alemi is a "most accomplished fraudster" '
                              'who forged a certificate to get work, a jury '
                              'hears.',
               'display_url': 'bbc.in/3QBu6ZB',
               'end': 91,
               'expanded_url': 'https://bbc.in/3QBu6ZB',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612912730100342799/KOPJnc3b?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612912730100342799/KOPJnc3b?format=jpg&name=150x150',
                           'width': 150}],
               'start': 68,
               'status': 200,
               'title': 'Unqualified doctor who faked degree took 1.3m from '
                        'NHS, trial told',
               'unwound_url': 'https://www.bbc.com/news/uk-england-lancashire-64226405?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_format=link&at_medium=social&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter&at_link_id=47E9141C-90FB-11ED-9AC9-BFAB4744363C&at_campaign=Social_Flow&at_link_type=web_link',
               'url': 'https://t.co/Lie4vfjj8s'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b67'),
 'entities': [{'description': 'Commissioner Sir Mark Rowley announces new '
                              'policing plans following several damning '
                              'reviews.',
               'display_url': 'bbc.in/3CBuO3e',
               'end': 81,
               'expanded_url': 'https://bbc.in/3CBuO3e',
               'start': 58,
               'status': 200,
               'title': 'Met Police to target dangerous men using data, says '
                        'chief',
               'unwound_url': 'https://www.bbc.com/news/uk-england-london-64233293?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign=Social_Flow&at_link_id=7F9ECF48-9199-11ED-AD6F-2CC34744363C&at_link_type=web_link&at_campaign_type=owned&at_ptr_name=twitter&at_link_origin=BBCNews&at_format=link&at_bbc_team=editorial&at_medium=social',
               'url': 'https://t.co/GPFw6XfWjM'}]}
{'_id': ObjectId('63c072dda4443d61145b18dc'),
 'entities': [{'description': 'Zholia Alemi is a "most accomplished fraudster" '
                              'who forged a certificate to get work, a jury '
                              'hears.',
               'display_url': 'bbc.in/3QBu6ZB',
               'end': 91,
               'expanded_url': 'https://bbc.in/3QBu6ZB',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612912730100342799/KOPJnc3b?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612912730100342799/KOPJnc3b?format=jpg&name=150x150',
                           'width': 150}],
               'start': 68,
               'status': 200,
               'title': 'Unqualified doctor who faked degree took 1.3m from '
                        'NHS, trial told',
               'unwound_url': 'https://www.bbc.com/news/uk-england-lancashire-64226405?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_format=link&at_medium=social&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter&at_link_id=47E9141C-90FB-11ED-9AC9-BFAB4744363C&at_campaign=Social_Flow&at_link_type=web_link',
               'url': 'https://t.co/Lie4vfjj8s'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b4b'),
 'entities': [{'description': 'Michelle Donelan says giving the ancient '
                              'sculptures to Greece would be a "dangerous road '
                              'to go down".',
               'display_url': 'bbc.in/3Qwt2WQ',
               'end': 104,
               'expanded_url': 'https://bbc.in/3Qwt2WQ',
               'start': 81,
               'status': 200,
               'title': 'Parthenon Sculptures belong in UK, says Culture '
                        'Secretary Michelle Donelan',
               'unwound_url': 'https://www.bbc.co.uk/news/entertainment-arts-64235854?at_link_origin=BBCNews&at_campaign=Social_Flow&at_link_id=81BBD510-91CA-11ED-835A-9E8396E8478F&at_link_type=web_link&at_ptr_name=twitter&at_format=link&at_campaign_type=owned&at_bbc_team=editorial&at_medium=social',
               'url': 'https://t.co/huJH3NEQFS'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b34'),
 'entities': [{'description': 'Maddi Neale-Shankster, 21, was paralysed from '
                              'the waist down, after the accident on New '
                              "Year's Eve.",
               'display_url': 'bbc.in/3XozAJn',
               'end': 122,
               'expanded_url': 'https://bbc.in/3XozAJn',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613280140687036425/EbNhZSfY?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613280140687036425/EbNhZSfY?format=jpg&name=150x150',
                           'width': 150}],
               'start': 99,
               'status': 200,
               'title': 'Appeal to bring Thailand balcony fall woman home '
                        'raises 73k',
               'unwound_url': 'https://www.bbc.com/news/uk-england-coventry-warwickshire-64235941?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_link_type=web_link&at_link_id=16A25A36-91CC-11ED-AD6F-2CC34744363C&at_campaign=Social_Flow&at_format=link&at_bbc_team=editorial&at_medium=social&at_ptr_name=twitter&at_link_origin=BBCNews',
               'url': 'https://t.co/jLQUutDVm8'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b36'),
 'entities': [{'description': 'Kieran Cowan, from Prestonpans, died after the '
                              'boat he was in capsized in bad weather.',
               'display_url': 'bbc.in/3GXsCWn',
               'end': 68,
               'expanded_url': 'https://bbc.in/3GXsCWn',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613289926883266571/TRrQnR0H?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613289926883266571/TRrQnR0H?format=jpg&name=150x150',
                           'width': 150}],
               'start': 45,
               'status': 200,
               'title': "Boat hire owners fined after man's death on Loch Awe",
               'unwound_url': 'https://www.bbc.com/news/uk-scotland-glasgow-west-64240908?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_link_id=4AB461A8-91D5-11ED-AD6F-2CC34744363C&at_campaign=Social_Flow&at_link_type=web_link&at_medium=social&at_bbc_team=editorial&at_format=link&at_link_origin=BBCNews&at_ptr_name=twitter',
               'url': 'https://t.co/M5lox7BeNI'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b42'),
 'entities': [{'description': 'The land will provide habitat for greater '
                              'horseshoe bats which are among the rarest bats '
                              'in Europe.',
               'display_url': 'bbc.in/3IKp1fP',
               'end': 72,
               'expanded_url': 'https://bbc.in/3IKp1fP',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613229813115805696/67hGJ9Bg?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613229813115805696/67hGJ9Bg?format=jpg&name=150x150',
                           'width': 150}],
               'start': 49,
               'status': 200,
               'title': 'Nature reserve to be created near Blandford to '
                        'protect rare bat',
               'unwound_url': 'https://www.bbc.com/news/uk-england-dorset-64228588?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_origin=BBCNews&at_ptr_name=twitter&at_medium=social&at_bbc_team=editorial&at_format=link&at_link_id=CCECC9B2-918A-11ED-AD6F-2CC34744363C&at_link_type=web_link&at_campaign=Social_Flow&at_campaign_type=owned',
               'url': 'https://t.co/NRk1JgmBAr'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b39'),
 'entities': [{'description': "Alireza Akbari's wife says his family were told "
                              'to go to his prison in Tehran for a "final '
                              'visit".',
               'display_url': 'bbc.in/3vTIYZN',
               'end': 93,
               'expanded_url': 'https://bbc.in/3vTIYZN',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613264327296819227/Ki-XkBwc?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613264327296819227/Ki-XkBwc?format=jpg&name=150x150',
                           'width': 150}],
               'start': 70,
               'status': 200,
               'title': 'Alireza Akbari: Iran preparing to execute British '
                        'citizen - family',
               'unwound_url': 'https://www.bbc.com/news/world-middle-east-64240226?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign=Social_Flow&at_link_id=77610FB4-91C4-11ED-AD6F-2CC34744363C&at_link_type=web_link&at_campaign_type=owned&at_ptr_name=twitter&at_link_origin=BBCNews&at_bbc_team=editorial&at_format=link&at_medium=social',
               'url': 'https://t.co/tu2TlctA12'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b7d'),
 'entities': [{'description': "The site would be 10 times bigger than London's "
                              'Hyde Park, according to developers.',
               'display_url': 'bbc.in/3W0RTDe',
               'end': 71,
               'expanded_url': 'https://bbc.in/3W0RTDe',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612952935423434752/PMSBNx74?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612952935423434752/PMSBNx74?format=jpg&name=150x150',
                           'width': 150}],
               'start': 48,
               'status': 200,
               'title': 'North Kesteven solar farm could power 180,000 homes, '
                        'say firms',
               'unwound_url': 'https://www.bbc.com/news/uk-england-lincolnshire-64225179?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_medium=social&at_format=link&at_ptr_name=twitter&at_bbc_team=editorial&at_link_origin=BBCNews&at_link_id=1331A43E-9108-11ED-9AC9-BFAB4744363C&at_campaign=Social_Flow&at_link_type=web_link&at_campaign_type=owned',

               'expanded_url': 'https://bbc.in/3itjOhy',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612947962585391105/jTMGFjY9?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612947962585391105/jTMGFjY9?format=jpg&name=150x150',
                           'width': 150}],
               'start': 49,
               'status': 200,
               'title': 'Rhyl: Care worker struck off for stealing from '
                        'patient',
               'unwound_url': 'https://www.bbc.com/news/uk-wales-64227410?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=704E0DC0-9107-11ED-9AC9-BFAB4744363C&at_ptr_name=twitter&at_link_origin=BBCNews&at_bbc_team=editorial&at_format=link&at_medium=social',
               'url': 'https://t.co/jsTQVV68oB'}]}
{'_id': ObjectId('63c072dda4443d61145b18fe'),
 'entities': [{'description': 'Katie Dunn says a routine visit to the '
                              'opticians led to a hospital scan which detected '
                              'the tumour.',
               'display_url': 'bbc.in/3iosl5w',
               'end': 67,
               'expanded_url': 'https://bbc.in/3iosl5w',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612803480330043392/qGKgVKXI?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612803480330043392/qGKgVKXI?format=jpg&name=150x150',
                           'width': 150}],
               'start': 44,
               'status': 200,
               'title': "Woman's brain tumour found through eye test in "
                        'Hampshire',
               'unwound_url': 'https://www.bbc.co.uk/news/uk-england-hampshire-64221636?at_link_id=DED68578-90E5-11ED-A62B-5D092152A482&at_link_type=web_link&at_link_origin=BBCNews&at_bbc_team=editorial&at_campaign_type=owned&at_campaign=Social_Flow&at_format=link&at_ptr_name=twitter&at_medium=social',
               'url': 'https://t.co/S111i4PbT5'}]}
{'_id': ObjectId('63c072dda4443d61145b18fa'),
 'entities': [{'description': 'Symon Hill says he is now considering taking '
                              'legal action against the police.',
               'display_url': 'bbc.in/3ZrapI4',
               'end': 71,
               'expanded_url': 'https://bbc.in/3ZrapI4',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612817058139357184/NbQxRWU3?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612817058139357184/NbQxRWU3?format=jpg&name=150x150',
                           'width': 150}],
               'start': 48,
               'status': 200,
               'title': "Symon Hill: Charges against King's ceremony heckler "
                        'dropped',
               'unwound_url': 'https://www.bbc.com/news/uk-england-oxfordshire-64223464?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_id=57B616C0-90E1-11ED-9AC9-BFAB4744363C&at_link_type=web_link&at_campaign=Social_Flow&at_medium=social&at_format=link&at_link_origin=BBCNews&at_bbc_team=editorial&at_ptr_name=twitter&at_campaign_type=owned',
               'url': 'https://t.co/MCWdEUslLj'}]}
{'_id': ObjectId('63c072dda4443d61145b1916'),
 'entities': [{'description': 'The action by primary teachers will be followed '
                              'by a walkout by secondary teachers on '
                              'Wednesday.',
               'display_url': 'bbc.in/3Qpwbb2',
               'end': 74,
               'expanded_url': 'https://bbc.in/3Qpwbb2',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612605661459644416/XykptC9C?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612605661459644416/XykptC9C?format=jpg&name=150x150',
                           'width': 150}],
               'start': 51,
               'status': 200,
               'title': "Scotland's primary schools shut as teachers strike",
               'unwound_url': 'https://www.bbc.com/news/uk-scotland-64209973?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_medium=social&at_format=link&at_ptr_name=twitter&at_link_origin=BBCNews&at_bbc_team=editorial&at_link_id=CAE1021C-906F-11ED-9AC9-BFAB4744363C&at_campaign=Social_Flow&at_link_type=web_link',
               'url': 'https://t.co/A4wki5dW0B'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b3c'),
 'entities': [{'description': 'The government has revised its position on what '
                              'can be offered to striking rail workers, the '
                              'RDG says.',
               'display_url': 'bbc.in/3IJTH0u',
               'end': 105,
               'expanded_url': 'https://bbc.in/3IJTH0u',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613249914158317568/oNiIZufK?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613249914158317568/oNiIZufK?format=jpg&name=150x150',
                           'width': 150}],
               'start': 82,
               'status': 200,
               'title': 'Train operators set to make new pay offer to unions',
               'unwound_url': 'https://www.bbc.com/news/business-64234109?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_ptr_name=twitter&at_link_origin=BBCNews&at_bbc_team=editorial&at_format=link&at_medium=social&at_link_id=D3A31C26-91A2-11ED-AD6F-2CC34744363C&at_link_type=web_link&at_campaign=Social_Flow&at_campaign_type=owned',
               'url': 'https://t.co/3NgaFQMLZy'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b56'),
 'entities': [{'description': 'A councillor in Torridge says radical times '
                              'calls for radical measures.',
               'display_url': 'bbc.in/3VWoVEI',
               'end': 80,
               'expanded_url': 'https://bbc.in/3VWoVEI',
               'start': 57,
               'status': 200,
               'title': 'Council in Devon considers cruise ships for homeless '
                        'and refugees',
               'unwound_url': 'https://www.bbc.com/news/uk-england-devon-64234515?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_id=D693BB98-91A7-11ED-AD6F-2CC34744363C&at_link_type=web_link&at_campaign=Social_Flow&at_campaign_type=owned&at_ptr_name=twitter&at_link_origin=BBCNews&at_format=link&at_bbc_team=editorial&at_medium=social',
               'url': 'https://t.co/ju7pqvsbVo'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b4e'),
 'entities': [{'description': "The BBC's Royal correspondent Daniela Relph "
                              'looks at how the Royals have been affected by '
                              'the publishing of Spare.',
               'display_url': 'bbc.in/3GxVRhc',
               'end': 94,
               'expanded_url': 'https://bbc.in/3GxVRhc',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613188705769988096/WowfSQtc?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613188705769988096/WowfSQtc?format=jpg&name=150x150',
                           'width': 150}],
               'start': 71,
               'status': 200,
               'title': 'Spare: Which Royal has come out best in the book '
                        'fallout?',
               'unwound_url': 'https://www.bbc.com/news/uk-64228926?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_link_id=28E605F4-91B2-11ED-AD6F-2CC34744363C&at_campaign=Social_Flow&at_link_type=web_link&at_bbc_team=editorial&at_format=link&at_medium=social&at_ptr_name=twitter&at_link_origin=BBCNews',
               'url': 'https://t.co/zvF9dTJNKW'}]}
{'_id': ObjectId('63c072dda4443d61145b192e'),
 'entities': [{'description': 'Visit BBC News for up-to-the-minute news, '
                              'breaking news, video, audio and feature '
                              'stories. BBC News provides trusted World and UK '
                              'news as well as local and regional '
                              'perspectives. Also entertainment, business, '
                              'science, technology and health news.',
               'display_url': 'bbc.in/3XeYdbm',
               'end': 128,
               'expanded_url': 'https://bbc.in/3XeYdbm',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612582601461567488/PUy8u-jX?format=png&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612582601461567488/PUy8u-jX?format=png&name=150x150',
                           'width': 150}],
               'start': 105,
               'status': 200,
               'title': 'Home - BBC News',
               'unwound_url': 'https://www.bbc.co.uk/news?at_medium=social&at_format=image&at_ptr_name=twitter&at_link_type=web_link&at_link_origin=BBCNews&at_campaign_type=owned&at_bbc_team=editorial&at_link_id=8914A1B4-9069-11ED-88B7-6A4816F31EAE&at_campaign=Social_Flow',
               'url': 'https://t.co/emkMgApCKL'},
              {'display_url': 'pic.twitter.com/rvqe7xIDP3',
               'end': 152,
               'expanded_url': 'https://twitter.com/BBCNews/status/1612582599557349377/photo/1',
               'media_key': '3_1612582596151590913',
               'start': 129,
               'url': 'https://t.co/rvqe7xIDP3'}]}
{'_id': ObjectId('63c072dda4443d61145b1903'),
 'entities': [{'description': 'More than 85,000 people try to buy tickets to '
                              "the comedian's show at a small theatre.",
               'display_url': 'bbc.in/3IDiXFQ',
               'end': 92,
               'expanded_url': 'https://bbc.in/3IDiXFQ',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612782369299128322/VhJAjRuk?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612782369299128322/VhJAjRuk?format=jpg&name=150x150',
                           'width': 150}],
               'start': 69,
               'status': 200,
               'title': "Michael McIntyre's 110-seat Hemel Hempstead gig sells "
                        'out in minutes',
               'unwound_url': 'https://www.bbc.com/news/uk-england-beds-bucks-herts-64216994?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_ptr_name=twitter&at_bbc_team=editorial&at_link_origin=BBCNews&at_format=link&at_medium=social&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=8CFAE92A-90C1-11ED-9AC9-BFAB4744363C',
               'url': 'https://t.co/fL86a2DCGm'}]}
{'_id': ObjectId('63c072dda4443d61145b193c'),
 'entities': [{'description': "BBC Sport looks back at Gareth Bale's best "
                              'Premier League moments as he retires from '
                              'football aged 33.',
               'display_url': 'bbc.in/3QnrhLL',
               'end': 107,
               'expanded_url': 'https://bbc.in/3QnrhLL',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612565439833427968/51VQiAWD?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612565439833427968/51VQiAWD?format=jpg&name=150x150',
                           'width': 150}],
               'start': 84,
               'status': 200,
               'title': 'Bale retires - watch his best Premier League moments',
               'unwound_url': 'https://www.bbc.com/sport/av/football/64215699?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_id=5E2F5876-9038-11ED-9AC9-BFAB4744363C&at_link_type=web_link&at_campaign=Social_Flow&at_medium=social&at_format=link&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter&at_campaign_type=owned',
               'url': 'https://t.co/bgyxC3KPit'}]}
{'_id': ObjectId('63c072dda4443d61145b18db'),
 'entities': [{'description': "A bookseller placed Prince Harry's memoir Spare "
                              "beside Bella Mackie's novel How to Kill Your "
                              'Family.',
               'display_url': 'bbc.in/3IDk9J7',
               'end': 91,
               'expanded_url': 'https://bbc.in/3IDk9J7',
               'start': 68,
               'status': 200,
               'title': "Harry's memoir Spare displayed beside How to Kill "
                        'Your Family novel',
               'unwound_url': 'https://www.bbc.com/news/uk-england-wiltshire-64227200?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter&at_medium=social&at_format=link&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=4685D76E-90FF-11ED-9AC9-BFAB4744363C&at_campaign_type=owned',
               'url': 'https://t.co/jL5JlFeAgB'}]}
{'_id': ObjectId('63c072dda4443d61145b193a'),
 'entities': [{'description': 'A modified jumbo jet will fly out of Cornwall '
                              'tonight on a mission to send nine satellites to '
                              'orbit.',
               'display_url': 'bbc.in/3IARWCN',
               'end': 155,
               'expanded_url': 'https://bbc.in/3IARWCN',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612558870987132930/BfDIN5nq?format=png&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612558870987132930/BfDIN5nq?format=png&name=150x150',
                           'width': 150}],
               'start': 132,
               'status': 200,
               'title': 'UK rocket launch: Final checks under way ahead of UK '
                        'space mission - BBC News',
               'unwound_url': 'https://www.bbc.co.uk/news/live/uk-64215127?ns_mchannel=social&ns_source=twitter&ns_campaign=bbc_live&ns_linkname=63bc71b023168d2149fc0dc1%26What+will+the+satellites+do%3F%262023-01-09T20%3A32%3A21.936Z&ns_fee=0&pinned_post_locator=urn%3Aasset%3A80598c65-ac37-4f42-91d0-f5bfd66767d2&pinned_post_asset_id=63bc71b023168d2149fc0dc1&pinned_post_type=share&at_format=link&at_ptr_name=twitter&at_medium=social&at_link_origin=BBCNews&at_link_id=4081577A-9060-11ED-BE3D-CA08933C408C&at_bbc_team=editorial&at_campaign=Social_Flow&at_campaign_type=owned&at_link_type=web_link',
               'url': 'https://t.co/8H2TZvHaDd'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b85'),
 'entities': [{'description': 'Visit BBC News for up-to-the-minute news, '
                              'breaking news, video, audio and feature '
                              'stories. BBC News provides trusted World and UK '
                              'news as well as local and regional '
                              'perspectives. Also entertainment, business, '
                              'science, technology and health news.',
               'display_url': 'bbc.in/3WZ7rJ2',
               'end': 115,
               'expanded_url': 'https://bbc.in/3WZ7rJ2',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612945413815910409/T3544P1q?format=png&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612945413815910409/T3544P1q?format=png&name=150x150',
                           'width': 150}],
               'start': 92,

               'status': 200,
               'title': 'Home - BBC News',
               'unwound_url': 'https://www.bbc.co.uk/news?at_format=image&at_link_type=web_link&at_ptr_name=twitter&at_medium=social&at_bbc_team=editorial&at_campaign_type=owned&at_campaign=Social_Flow&at_link_id=39C59B1E-9135-11ED-B199-B4162152A482&at_link_origin=BBCNews',
               'url': 'https://t.co/Xq77CR0Dfw'},
              {'display_url': 'pic.twitter.com/BdyOsXczXK',
               'end': 139,
               'expanded_url': 'https://twitter.com/BBCNews/status/1612945412318453762/photo/1',
               'media_key': '3_1612945408698847232',
               'start': 116,
               'url': 'https://t.co/BdyOsXczXK'}]}
{'_id': ObjectId('63c072dda4443d61145b18e7'),
 'entities': [{'description': 'The firm, formally known as Hermes, says staff '
                              'shortages, Royal Mail strikes and bad weather '
                              'have caused disruption.',
               'display_url': 'bbc.in/3XiegoX',
               'end': 75,
               'expanded_url': 'https://bbc.in/3XiegoX',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612882476766007336/jz5fWUsk?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612882476766007336/jz5fWUsk?format=jpg&name=150x150',
                           'width': 150}],
               'start': 52,
               'status': 200,
               'title': 'Evri says sorry for UK parcel delivery delays',
               'unwound_url': 'https://www.bbc.com/news/business-64223554?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_campaign_type=owned&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter&at_medium=social&at_format=link&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=6C4AB2D6-9108-11ED-9AC9-BFAB4744363C',
               'url': 'https://t.co/9NgSowRix5'}]}
{'_id': ObjectId('63c072dda4443d61145b18f2'),
 'entities': [{'description': 'Remo Douglas, 34, drowned while trying to save '
                              'his family from a river swollen by heavy rain.',
               'display_url': 'bbc.in/3XhmY6T',
               'end': 76,
               'expanded_url': 'https://bbc.in/3XhmY6T',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612841325056954369/g7HHBZkq?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612841325056954369/g7HHBZkq?format=jpg&name=150x150',
                           'width': 150}],
               'start': 53,
               'status': 200,
               'title': 'Parents pay tribute to son who drowned saving family',
               'unwound_url': 'https://www.bbc.com/news/uk-england-bristol-64211153?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_link_origin=BBCNews&at_ptr_name=twitter&at_bbc_team=editorial&at_format=link&at_medium=social&at_link_type=web_link&at_campaign=Social_Flow&at_link_id=73266080-90DD-11ED-9AC9-BFAB4744363C&at_campaign_type=owned',
               'url': 'https://t.co/yRNyk0Bxyq'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b8c'),
 'entities': [{'description': 'Visit BBC News for up-to-the-minute news, '
                              'breaking news, video, audio and feature '
                              'stories. BBC News provides trusted World and UK '
                              'news as well as local and regional '
                              'perspectives. Also entertainment, business, '
                              'science, technology and health news.',
               'display_url': 'bbc.in/3CFOwuJ',
               'end': 102,
               'expanded_url': 'https://bbc.in/3CFOwuJ',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612937605703671813/yiYu8jvV?format=png&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612937605703671813/yiYu8jvV?format=png&name=150x150',
                           'width': 150}],
               'start': 79,
               'status': 200,
               'title': 'Home - BBC News',
               'unwound_url': 'https://www.bbc.co.uk/news?at_campaign_type=owned&at_format=image&at_bbc_team=editorial&at_medium=social&at_link_type=web_link&at_ptr_name=twitter&at_campaign=Social_Flow&at_link_origin=BBCNews&at_link_id=121A88F4-9126-11ED-B950-FDBA96E8478F',
               'url': 'https://t.co/2tobwRPsC4'},
              {'display_url': 'pic.twitter.com/vhc8mUdJmg',
               'end': 126,
               'expanded_url': 'https://twitter.com/BBCNews/status/1612937603367444481/photo/1',
               'media_key': '3_1612937599202562050',
               'start': 103,
               'url': 'https://t.co/vhc8mUdJmg'}]}
{'_id': ObjectId('63c072dda4443d61145b191b'),
 'entities': [{'description': 'The party will pledge more support for older '
                              'workers and those with medical conditions.',
               'display_url': 'bbc.in/3ZqwrKK',
               'end': 74,
               'expanded_url': 'https://bbc.in/3ZqwrKK',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612676323587006465/W04teXs2?format=jpg&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612676323587006465/W04teXs2?format=jpg&name=150x150',
                           'width': 150}],
               'start': 51,
               'status': 200,
               'title': 'Labour to unveil plan to help jobseekers find work',
               'unwound_url': 'https://www.bbc.com/news/uk-politics-64218277?xtor=AL-72-%5Bpartner%5D-%5Bbbc.news.twitter%5D-%5Bheadline%5D-%5Bnews%5D-%5Bbizdev%5D-%5Bisapi%5D&at_bbc_team=editorial&at_link_origin=BBCNews&at_ptr_name=twitter&at_medium=social&at_format=link&at_campaign=Social_Flow&at_link_type=web_link&at_link_id=56F877DA-9093-11ED-9AC9-BFAB4744363C&at_campaign_type=owned',
               'url': 'https://t.co/LCMevQXIa6'}]}
{'_id': ObjectId('63c072dda4443d61145b1936'),
 'entities': [{'display_url': 'pic.twitter.com/1kSljgGhfa',
               'end': 122,
               'expanded_url': 'https://twitter.com/BBCNews/status/1612569692295647249/photo/1',
               'media_key': '3_1612569688608854023',
               'start': 99,
               'url': 'https://t.co/1kSljgGhfa'},
              {'description': 'Visit BBC News for up-to-the-minute news, '
                              'breaking news, video, audio and feature '
                              'stories. BBC News provides trusted World and UK '
                              'news as well as local and regional '
                              'perspectives. Also entertainment, business, '
                              'science, technology and health news.',
               'display_url': 'bbc.in/3k41Z9i',
               'end': 98,
               'expanded_url': 'https://bbc.in/3k41Z9i',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1612569694409576478/r_BEtx13?format=png&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1612569694409576478/r_BEtx13?format=png&name=150x150',
                           'width': 150}],
               'start': 75,
               'status': 200,
               'title': 'Home - BBC News',
               'unwound_url': 'https://www.bbc.co.uk/news?at_medium=social&at_link_origin=BBCNews&at_format=image&at_link_type=web_link&at_campaign_type=owned&at_ptr_name=twitter&at_link_id=B243FF76-905A-11ED-86A1-881F0EDC252D&at_campaign=Social_Flow&at_bbc_team=editorial',
               'url': 'https://t.co/BdCuD2tm1U'}]}
{'_id': ObjectId('63c072dd24cadb86afa53b35'),
 'entities': [{'description': 'Visit BBC News for up-to-the-minute news, '
                              'breaking news, video, audio and feature '
                              'stories. BBC News provides trusted World and UK '
                              'news as well as local and regional '
                              'perspectives. Also entertainment, business, '
                              'science, technology and health news.',
               'display_url': 'bbc.in/3XjXOoJ',
               'end': 101,
               'expanded_url': 'https://bbc.in/3XjXOoJ',
               'images': [{'height': 576,
                           'url': 'https://pbs.twimg.com/news_img/1613298003124666371/Lq7WPprv?format=png&name=orig',
                           'width': 1024},
                          {'height': 150,
                           'url': 'https://pbs.twimg.com/news_img/1613298003124666371/Lq7WPprv?format=png&name=150x150',
                           'width': 150}],
               'start': 78,
               'status': 200,
               'title': 'Home - BBC News',
               'unwound_url': 'https://www.bbc.co.uk/news?at_campaign_type=owned&at_link_id=DA788F60-91EB-11ED-96A1-CAE515F31EAE&at_medium=social&at_format=image&at_bbc_team=editorial&at_campaign=Social_Flow&at_ptr_name=twitter&at_link_type=web_link&at_link_origin=BBCNews',
               'url': 'https://t.co/ibFQOQeW1v'},
              {'display_url': 'pic.twitter.com/iRbbdnE0O3',
               'end': 125,
               'expanded_url': 'https://twitter.com/BBCNews/status/1613298000620670977/photo/1',
               'media_key': '3_1613297997529464832',
               'start': 102,
               'url': 'https://t.co/iRbbdnE0O3'}]}

# Summary

This and the relationalDB Notebooks give you a flavour of the two types of database management system. 

What are the differences?

Some things to think about:

*Relational*
- relational has a fixed schema
- the data is normalised, with less duplication
- constraints can be enforced
- ACID transaction support (Atomic, Consistency, Isolation and Durability)

*NoSQL (Document)*
- flexible schema, optional data can be easily incorporated.
- can support agile development
- data is denormalised, so can mean more duplication
- constraints not enforced
- BASE transaction support (Basically Available, Soft state, Eventual consistency!)

Bear in mind that NoSQL is a relatively new technology, so can be seen as immature in that it does not provide good support for transaction handling, or access control, but could be argued that this is not the market it is aimed at.